.addresses {
	$this: &;
	--nav-width: #{rem(385)};
	--tabs-min-width: #{rem(470)};
	display: flex;
	height: calc(100vh - var(--header-height));
	@media (max-width: $laptop-lg) {
		--nav-width: 312px;
		--tabs-min-width: 420px;
	}
	@media (max-width: $laptop-md) {
		--nav-width: 224px;
		--tabs-min-width: 417px;
	}
	@media (max-width: $laptop-sm) {
		--nav-width: 100%;
		--tabs-min-width: none;
		flex-direction: column;
		height: auto;
	}
	&__cities {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		width: var(--nav-width);
		padding: var(--container-padding);
		gap: rem(16);
		border-right: 1px solid var(--blue-dark);
		overflow: auto;
		box-sizing: border-box;
		scrollbar-width: none;
		@media (max-width: $laptop-md) {
			gap: 17px;
		}
		@media (max-width: $laptop-sm) {
			padding-block: 56px;
			gap: 32px;
			border-right: none;
			#{$this}._wrap-active & {
				padding-top: 32px;
				padding-bottom: 20px;
			}
		}
		@media (max-width: $mobile-lg) {
			padding-block: 40px;
			gap: 24px;
			#{$this}._wrap-active & {
				padding-top: 24px;
				padding-bottom: 16px;
			}
		}
		scrollbar-width: none;
		@include scrollbar {
			display: none;
		}
	}
	&__city {
		@include reset-btn;
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		gap: rem(12);
		text-align: left;
		@media (max-width: $laptop-md) {
			font-size: 16px;
			line-height: 20px;
		}
		@media (max-width: $laptop-sm) {
			align-items: center;
			font-size: 30px;
			line-height: 39px;
			#{$this}._wrap-active & {
				@media (max-width: $laptop-sm) {
					display: none;
				}
			}
			#{$this}._wrap-active &._active {
				@media (max-width: $laptop-sm) {
					display: flex;
					flex-direction: row-reverse;
					justify-content: flex-end;
				}
			}
		}
		@media (max-width: $mobile-lg) {
			font-size: 22px;
			line-height: 29px;
		}
		&:hover,
		&._active {
			#{$this}__city-icon,
			#{$this}__city-text {
				opacity: 1;
			}
		}
	}
	&__city-text {
		opacity: 0.4;
		@extend .animated;
		@media (max-width: $laptop-sm) {
			opacity: 1;
		}
	}
	&__city-icon {
		--size: #{rem(32)};
		flex-shrink: 0;
		opacity: 0;
		width: var(--size);
		height: var(--size);
		@extend .animated;
		@media (max-width: $laptop-md) {
			--size: 16px;
		}
		@media (max-width: $laptop-sm) {
			--size: 32px;
			#{$this}__city._active & {
				transform: rotate(180deg);
			}
		}
		@media (max-width: $mobile-lg) {
			--size: 24px;
		}
	}
	&__content {
		flex-grow: 1;
		display: flex;
		background-color: var(--gray-light);
		overflow: auto;
		scrollbar-width: none;
		@include scrollbar {
			display: none;
		}
		@media (max-width: $laptop-sm) {
			display: none;
			flex-direction: column;
			border-top: 1px solid var(--blue-dark);
			overflow: initial;
		}
		#{$this}._wrap-active & {
			@media (max-width: $laptop-sm) {
				display: flex;
			}
		}
	}
	&__map {
		flex-shrink: 0;
		width: calc(100% - var(--tabs-min-width));
		@media (max-width: $laptop-sm) {
			width: 100%;
			height: 697px;
		}
		@media (max-width: $mobile-lg) {
			width: 100%;
			height: 442px;
		}
	}
	&__tabs {
		display: flex;
		min-width: calc(var(--tabs-min-width));
	}
	&__tab {
		display: none;
		width: 100%;
		&._active {
			display: flex;
		}
	}
	&__shops {
		display: flex;
		@media (max-width: $laptop-sm) {
			width: 100%;
			flex-direction: column;
		}
	}
	&__shop {
		flex-shrink: 0;
		border-left: 1px solid var(--blue-dark);
		@media (max-width: $laptop-sm) {
			border-left: none;
			border-top: 1px solid var(--blue-dark);
			&:not(._active):not(:first-child) {
				margin-top: -32px;
			}
		}
		@media (max-width: $laptop-sm) {
			&:not(._active):not(:first-child) {
				margin-top: -18px;
			}
		}
	}
}
