.radio {
	$this: &;
	position: relative;
	&._v-center {
		#{$this}__label {
			&::before {
				top: 50%;
				transform: translateY(-50%);
				@media (max-width: $tablet) {
					top: 47%;
				}
			}
		}
	}
	&._text {
		#{$this}__label {
			justify-content: center;
			@media (max-width: $laptop-lg) {
				&::before {
					top: 50%;
					transform: translateY(-62%);
				}
			}
			@media (max-width: $laptop-sm) {
				&::before {
					transform: translateY(-50%);
				}
			}
		}
		#{$this}__text {
			font-size: rem(16);
			color: var(--black);
			font-family: var(--font-family-suisse);
			@media (max-width: $laptop) {
				font-size: 14px;
			}
			@media (max-width: $mobile-lg) {
				padding-top: 0.4em;
				font-family: var(--default-font-family);
				font-size: 12px;
			}
		}
	}
	&__label {
		--size: #{rem(24)};
		position: relative;
		display: flex;
		flex-direction: column;
		row-gap: rem(8);
		min-height: rem(24);
		padding-left: calc(var(--size) + rem(16));
		color: var(--blue-dark);
		font-size: rem(16);
		line-height: 1.5;
		cursor: pointer;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: var(--size);
			height: var(--size);
			border: 1px solid var(--blue-dark);
			border-radius: 50%;
			box-sizing: border-box;
		}
		@media (max-width: $tablet) {
			row-gap: 11px;
			font-size: 14px;
		}
	}
	&__text {
		color: var(--gray-dark);
		font-size: rem(12);
		line-height: 1.33;
		@media (max-width: $mobile-lg) {
			font-size: 10px;
		}
	}
	&__input:checked {
		+ #{$this}__label {
			&::before {
				background-color: var(--blue-dark);
				outline: 1px solid var(--gray-light);
				outline-offset: -2px;
			}
		}
	}
}
