.class-slider {
	position: relative;
	width: 100%;
	height: 100%;
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		&.is-selected {
			opacity: 1;
		}
		.flickity-enabled & {
			opacity: 1;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.flickity-page-dots {
		bottom: var(--container-padding);
	}
}
