.discount-card {
	$this: &;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-top: 1px solid var(--blue-dark);
	&__title {
		margin-top: rem(176);
		margin-bottom: rem(64);
		@media (max-width: $laptop-lg) {
			margin-bottom: 40px;
		}
		@media (max-width: $laptop) {
			margin-top: 124px;
			margin-bottom: 32px;
		}
		@media (max-width: $tablet) {
			margin-bottom: 20px;
		}
		@media (max-width: $mobile-lg) {
			margin-top: 68px;
		}
	}
	&__text {
		position: relative;
		margin-bottom: rem(52);
		padding-top: rem(124);
		letter-spacing: -0.02em;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -50vw;
			width: 150vw;
			height: 1px;
			background-color: var(--blue-dark);
		}
		@media (max-width: $laptop-lg) {
			margin-bottom: 46px;
			padding-top: 94px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 32px;
			padding-top: 71px;
			letter-spacing: 0;
		}
		@media (max-width: $tablet) {
			margin-bottom: 47px;
			padding-top: 76px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 30px;
			padding-top: 52px;
		}
	}
	&__tabs {
		--img-width: #{vw(576, 1728)};
		margin-bottom: rem(104);
		@media (max-width: $laptop-lg) {
			--img-width: #{vw(544, 1440)};
			column-gap: 60px;
			margin-bottom: 63px;
		}
		@media (max-width: $laptop) {
			--img-width: #{vw(445, 1024)};
			column-gap: 40px;
			.tabs__trigger {
				min-height: 52px;
			}
			.tabs__tab-list {
				grid-column: 1/-1;
				max-width: 445px;
				margin-bottom: 20px;
			}
		}
		@media (max-width: $tablet) {
			--img-width: #{vw(360, 768)};
			display: flex;
			flex-direction: column;
			.tabs__tab-list {
				max-width: none;
				margin-bottom: 20px;
			}
			.tabs__trigger {
				min-height: 48px;
				font-size: 14px;
			}
		}
		@media (max-width: $mobile-only) {
			display: flex;
			flex-direction: column;
		}
		@media (max-width: $mobile-lg) {
			.tabs__trigger {
				min-height: 32px;
			}
		}
	}
	&__tab-list {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	&__section {
		@media (max-width: $laptop) {
			max-width: none;
			margin-left: auto;
		}
		@media (max-width: $tablet) {
			max-width: none;
			margin-left: 0;
		}
		@media (max-width: $mobile-only) {
			max-width: none;
		}
	}
	&__bottom {
		padding-block: var(--container-padding);
		color: var(--white);
		background-color: var(--blue-light);
		#{$this}__asterisk {
			margin-bottom: 0;
		}
		@media (max-width: $laptop) {
			padding-block: 34px;
			#{$this}__asterisk {
				margin-bottom: 14px;
			}
		}
		@media (max-width: $tablet) {
			padding-block: 26px;
		}
		@media (max-width: $mobile-lg) {
			padding-block: 17px;
			#{$this}__asterisk {
				margin-bottom: 5px;
			}
		}
	}
	&__asterisk {
		display: inline-block;
		margin-bottom: rem(16);
	}
	&._profile {
		border-top: none;
		#{$this}__tabs {
			@media (max-width: $laptop-lg) {
				--img-width: 468px;
				column-gap: var(--container-padding);
			}
			@media (max-width: $laptop-md) {
				grid-template-columns: 1fr;
			}
			.tabs__tab-list {
				@media (max-width: $laptop-md) {
					max-width: none;
					margin-bottom: 24px;
				}
				@media (max-width: $laptop-sm) {
					margin-bottom: 32px;
				}
				@media (max-width: $mobile-lg) {
					margin-bottom: 24px;
				}
			}
		}
		#{$this}__section {
			@media (max-width: $laptop-md) {
				grid-column: initial;
				grid-row: initial;
			}
		}
		#{$this}__img {
			@media (max-width: $laptop-md) {
				grid-column: initial;
				grid-row: initial;
				max-width: 335px;
			}
			@media (max-width: $laptop-sm) {
				max-width: 324px;
			}
			@media (max-width: $mobile-lg) {
				max-width: none;
			}
		}
		.discount-create-form__checkbox {
			&._privacy .checkbox__label {
				@media (max-width: $mobile-lg) {
					font-size: 10px;
				}
			}
		}
	}
	.discount-card-info {
		display: none;
	}
	&._linked {
		.discount-card-info {
			display: grid;
			border-top: 1px solid var(--blue-dark);
		}
		#{$this}__text,
		#{$this}__tabs,
		#{$this}__bottom {
			display: none;
		}
	}
}
