.hero-trails {
	$this: &;
	min-height: rem(900);
	width: 100%;
	background-color: var(--color-tan);
	display: grid;
	grid-template-rows: 100%;
	overflow: hidden;
	&._tours {
		#{$this}__title {
			margin-bottom: auto;
			@media (max-width: $tablet) {
				font-size: 64px;
			}
			@media (max-width: $mobile-lg) {
				font-size: 38px;
			}
		}
		#{$this}__info {
			max-width: rem(640);
		}
		#{$this}__item {
			--item-width: #{vw(1025, 1728)};
			&::before {
				bottom: 50%;
				right: 50%;
				transform: translate(50%, 50%);
			}
			&::after {
				border-color: var(--blue-dark);
			}
			@media (max-width: $laptop-lg) {
				--item-width: #{vw(857, 1440)};
			}
			@media (max-width: $tablet) {
				border-color: var(--blue-dark);
				padding-top: 19px;
				margin-bottom: calc(0px - var(--item-height) * 1.15);
				&._active {
					border-left: 0;
					border-right: 0;
					margin-bottom: 0;
				}
				&:last-child {
					margin-bottom: calc(0px - var(--item-height) * 1.1);
					&._active {
						margin-bottom: 0;
					}
				}
			}
			@media (max-width: $mobile-lg) {
				min-height: 400px;
				padding-top: 23px;
				padding-bottom: 22px;
				margin-bottom: calc(0px - var(--item-height) * 0.833);
				&._active {
					margin-bottom: 0;
				}
				&:last-child {
					margin-bottom: calc(0px - var(--item-height) * 0.787);
					&._active {
						margin-bottom: 0;
					}
				}
			}
		}
		#{$this}__text {
			@media (max-width: $tablet) {
				max-width: 540px;
			}
			@media (max-width: $mobile-lg) {
				font-size: 14px;
				line-height: 1.7;
			}
		}
		@media (max-width: $laptop-lg) {
			min-height: 762px;
		}
		@media (max-width: $laptop) {
			min-height: 602px;
		}
		@media (max-width: $tablet) {
			border-color: var(--blue-dark);
			#{$this}__item._active ~ #{$this}__item {
				padding-top: 15px;
			}
		}
		@media (max-width: $mobile-lg) {
			#{$this}__item._active ~ #{$this}__item {
				padding-top: 13px;
			}
		}
	}
	@media (max-width: $laptop-lg) {
		min-height: 640px;
	}
	@media (max-width: $laptop) {
		min-height: 540px;
	}
	@media (max-width: $tablet) {
		flex-direction: column;
		min-height: auto;
		border-bottom: 1px solid var(--gray-dark);
	}
	&__list {
		position: relative;
		grid-row: 1 / -1;
		display: grid;
		height: 100%;
		counter-reset: list;
	}
	&__item {
		--item-width: #{vw(1289, 1728)};
		--nav-item-offset: calc((100vw - var(--item-width)) / var(--closed));
		--easing: cubic-bezier(0.8, 0, 0.2, 1);
		--duration: 0.6s;
		--arrow-size: #{rem(88)};
		--tx: calc(-100% + var(--nav-item-offset));
		display: grid;
		position: absolute;
		box-sizing: border-box;
		height: 100%;
		width: var(--item-width);
		margin-left: calc(var(--i) * var(--nav-item-offset));
		overflow: hidden;
		transform: translateX(var(--tx));
		z-index: calc(var(--total) - var(--i));
		padding: var(--container-padding);
		background-color: var(--gray-light);
		transition: transform var(--duration) var(--easing);
		will-change: transition;
		&::before {
			content: '';
			position: absolute;
			z-index: 2;
			bottom: var(--container-padding);
			right: var(--container-padding);
			width: var(--arrow-size);
			height: var(--arrow-size);
			background-image: inline('promo-arrow.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			transition: background $default-transition-duration $default-transition-function,
				opacity $default-transition-duration $default-transition-function var(--duration);
			opacity: 0;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border: 1px solid var(--gray-dark);
			pointer-events: none;
		}
		&._active {
			transform: translateX(-1px);
			border-left: 0;
			#{$this}__info {
				color: var(--white);
			}
			#{$this}__bg-img {
				opacity: 1;
				transform: scale(1);
			}
			&::before {
				opacity: 1;
			}
			~ #{$this}__item {
				transform: none;
			}
			&:hover {
				&::before {
					background-image: inline('promo-arrow-white.svg');
				}
			}
			#{$this}__info {
				& > * {
					opacity: 1;
				}
			}
			#{$this}__title {
				transform: translateX(0);
			}
		}
		@media (max-width: $laptop-lg) {
			--item-width: #{vw(984, 1440)};
		}
		@media (max-width: $laptop) {
			--item-width: #{vw(787, 1024)};
			--arrow-size: 64px;
		}
		@media (max-width: $tablet) {
			--item-height: 483px;
			position: relative;
			z-index: var(--i);
			flex-direction: column;
			width: 100%;
			min-height: 483px;
			margin-left: 0;
			border-left: 0;
			border-right: 0;
			transform: none !important;
			margin-bottom: calc(0px - var(--item-height) * 0.76);
			transition: padding-top var(--duration) var(--easing), margin var(--duration) var(--easing);
			&::before {
				bottom: 50%;
				right: 50%;
				transform: translate(50%, 50%);
			}
			&::after {
				border-left: 0;
				border-right: 0;
			}
			&._active {
				padding-top: 56px;
				margin-bottom: 0;
				&::after {
					border-bottom: 0;
				}
				&:hover {
					&::before {
						background-image: inline('promo-arrow.svg');
					}
				}
			}
		}
		@media (max-width: $mobile-lg) {
			--arrow-size: 40px;
			min-height: 497px;
			margin-bottom: calc(0px - var(--item-height) * 0.88);
			padding-top: 19px;
			&:first-child {
				border-top: 0;
				&::after {
					border-top: 0;
				}
			}
			&._active {
				padding-top: 52px;
			}
		}
	}
	&__info {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		max-width: rem(535);
		color: var(--gray-dark);
		transition: color $default-transition-duration $default-transition-function var(--duration);
		& > * {
			opacity: 0;
			transition: opacity $default-transition-duration $default-transition-function var(--duration);
		}
		@media (max-width: $tablet) {
			max-width: none;
		}
	}
	&__title {
		--offset-x: calc(var(--item-width) - var(--nav-item-offset) - var(--container-padding) / 2);
		margin-bottom: rem(24);
		opacity: 1;
		transform: translateX(var(--offset-x));
		transition: transform var(--duration) var(--easing);
		@media (max-width: $tablet) {
			transform: none;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 14px;
		}
	}
	&__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
		opacity: 0;
		transform: scale(1.05);
		transition: transform $default-transition-duration $default-transition-function var(--duration),
			opacity $default-transition-duration $default-transition-function var(--duration);
		will-change: transform;
	}
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: rem(8);
		margin-bottom: rem(32);
		@media (max-width: $laptop) {
			margin-bottom: 21px;
		}
		@media (max-width: $tablet) {
			margin-top: 370px;
		}
		@media (max-width: $mobile-lg) {
			margin-top: 220px;
			margin-bottom: 18px;
		}
	}
	&__tag {
		padding-top: 0.2em !important;
		pointer-events: none;
		@media (max-width: $laptop) {
			padding-inline: 19px !important;
		}
		@media (max-width: $mobile-lg) {
			padding-inline: 15px !important;
		}
	}
}
