.product-popup {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	&__form {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	&__inner {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	&__title {
		padding-right: rem(50);
		margin-bottom: rem(32);
	}
	&__text,
	&__input {
		&:not(:last-child) {
			margin-bottom: rem(64);
			@media (max-width: $mobile-lg) {
				margin-bottom: 32px;
			}
		}
	}
	&__text {
		display: grid;
		gap: rem(32);
	}
	&__terms {
		margin-top: auto;
		font-size: rem(16);
		line-height: rem(21);
		text-decoration-line: underline;
		opacity: 0.4;
		&[href],
		&[type='button'] {
			@extend .animated;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__bottom {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		min-height: rem(134);
		min-height: rem(176);
		padding: rem(40) rem(64);
		margin: calc(0px - var(--container-padding));
		margin-top: var(--container-padding);
		background-color: var(--blue-dark);
		color: var(--white);
		box-sizing: border-box;
		@media (max-width: $laptop-lg) {
			min-height: 134px;
			padding: 32px 40px;
		}
		@media (max-width: $laptop-md) {
			min-height: 112px;
			padding: 24px 32px;
		}
		@media (max-width: $mobile-lg) {
			min-height: 64px;
			padding: 12px 16px;
		}
	}
	&__img {
		display: grid;
		gap: rem(16);
		margin-bottom: rem(32);
		@media (max-width: $mobile-lg) {
			gap: 8px;
			margin-bottom: 16px;
		}
	}
	&__img-inner {
		position: relative;
		height: 0;
		padding-bottom: 50.3%; // 330/656
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__img-descr {
		opacity: 0.6;
	}
}
