.product-card {
	$this: &;
	--card-padding: #{rem(16)};
	--card-margin: #{rem(8)};
	--button-height: #{rem(72)};
	--card-height: #{rem(540)};
	--photo-top: #{rem(114)};
	--photo-width: #{rem(304)};
	--photo-height: #{rem(364)};
	--fs-title: #{rem(18)};
	--fs-desc: #{rem(16)};
	--badge-size: #{rem(48)};
	--fs-badge: #{rem(14)};
	--sizes-width: #{rem(392)};
	--days-width: #{rem(320)};
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	min-height: var(--card-height);
	position: relative;
	padding: var(--card-padding);
	background-color: var(--gray-light);
	box-shadow: inset -1px 0 0 0 var(--blue-dark), inset 0 -1px 0 0 var(--blue-dark),
		-1px -1px 0 0 var(--blue-dark), 0 -1px 0 0 var(--blue-dark);
	box-sizing: border-box;
	overflow: hidden;
	transition: padding $card-button-transition-duration $card-button-transition-function;
	@media (max-width: $laptop-lg) {
		--card-height: 450px;
		--button-height: 56px;
		--photo-width: 264px;
		--photo-height: 267px;
		--photo-top: auto;
		--photo-bottom: var(--button-height);
	}
	@media (max-width: $laptop) {
		--card-margin: 11px;
		--card-height: 420px;
		--photo-width: 224px;
		--photo-height: 252px;
		--photo-bottom: 57px;
		--fs-title: 16px;
		--fs-desc: 14px;
		--badge-size: 32px;
		--fs-badge: 10px;
		--card-padding-bottom: 56px;
		padding-bottom: var(--card-padding-bottom);
	}
	@media (max-width: $mobile-lg) {
		--card-height: 321px;
		--card-padding: 8px;
		--photo-width: 171px;
		--photo-height: 194px;
		--photo-bottom: 40px;
		--fs-title: 14px;
		--fs-desc: 12px;
		--badge-size: 24px;
		--fs-badge: 8px;
		--card-padding-bottom: 40px;
	}
	&:hover {
		padding-bottom: calc(var(--button-height) + var(--card-padding));
		#{$this}__button._product-card {
			transform: translateY(0%);
		}
		#{$this}__photo {
			opacity: 0;
			&._zoom {
				opacity: 1;
			}
		}
		@media (max-width: $laptop) {
			padding-bottom: var(--card-padding-bottom);
			#{$this}__props {
				transform: translateY(100%);
			}
			#{$this}__photo {
				opacity: 1;
				&._zoom {
					opacity: 0;
				}
			}
		}
	}
	&._no-bd {
		box-shadow: none;
	}
	&._props-opened {
		padding-bottom: var(--card-padding);
		#{$this}__props {
			transform: translateY(0%);
		}
		#{$this}__photo {
			opacity: 0;
			&._zoom {
				opacity: 1;
			}
		}
		#{$this}__close-btn {
			pointer-events: all;
		}
		#{$this}__arrow-icon {
			opacity: 1;
		}
	}
	&._props-checked {
		#{$this}__total {
			display: flex;
		}
		#{$this}__props {
			justify-content: center;
			padding-block: 0;
			@media (max-width: $laptop-lg-3) {
				padding-top: 16px;
			}
		}
		#{$this}__colors,
		#{$this}__sizes,
		#{$this}__days,
		#{$this}__arrow-icon {
			display: none;
		}
	}
	&__title {
		position: relative;
		z-index: 1;
		margin-bottom: var(--card-margin);
		font-family: var(--font-family-suisse);
		font-size: var(--fs-title);
		line-height: 1.4;
		@media (max-width: $laptop) {
			line-height: 1.3;
		}
		@media (max-width: $mobile-lg) {
			line-height: 1.2;
		}
	}
	&__brand,
	&__price {
		position: relative;
		z-index: 1;
		font-size: var(--fs-desc);
		line-height: 1.4;
		@media (max-width: $laptop) {
			line-height: 1.3;
		}
	}
	&__brand {
		margin-bottom: var(--card-margin);
		color: var(--gray-dark);
		opacity: 0.4;
	}
	&__price {
		display: flex;
		align-items: center;
		margin-bottom: var(--card-padding);
		gap: rem(8);
		color: var(--gray-dark);
	}
	&__old-price {
		font-family: var(--font-family-suisse);
		color: var(--blue-dark);
		text-decoration-line: line-through;
		font-size: rem(12);
		line-height: 110%;
		opacity: 0.5;
		@media (max-width: $mobile-lg) {
			font-size: 10px;
			line-height: 120%;
		}
	}
	&__photo {
		position: absolute;
		top: var(--photo-top);
		bottom: var(--photo-bottom, auto);
		left: 50%;
		transform: translateX(-50%);
		width: var(--photo-width);
		height: var(--photo-height);
		max-width: 100%;
		object-fit: contain;
		transition: opacity $card-button-transition-duration $card-button-transition-function;
		pointer-events: none;
		&._zoom {
			opacity: 0;
			top: 0;
			left: 0;
			transform: none;
			width: 100%;
			height: 100%;
		}
	}
	&__link-photo {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__badges {
		position: relative;
		z-index: 1;
		display: flex;
		column-gap: var(--card-margin);
		width: 100%;
		margin-top: auto;
		pointer-events: none;
		@media (max-width: $laptop) {
			flex-direction: column;
			justify-content: center;
			row-gap: 8px;
			flex-grow: 1;
			width: auto;
		}
	}
	&__button {
		position: relative;
		z-index: 1;
		&._product-card {
			--height: var(--button-height);
			position: absolute;
			left: 0;
			bottom: 0;
			transform: translateY(100%);
			transition: transform $card-button-transition-duration $card-button-transition-function;
			@media (max-width: $laptop) {
				transform: none;
				left: auto;
				right: 8px;
				bottom: 8px;
			}
			@media (max-width: $mobile-lg) {
				right: 0;
				bottom: 0;
			}
		}
		&._wishlist {
			@media (max-width: $laptop) {
				position: absolute;
				left: 16px;
				bottom: 16px;
			}
			@media (max-width: $mobile-lg) {
				left: 4px;
				bottom: 4px;
			}
		}
		&._compare {
			margin-top: rem(13);
			&:hover {
				.button__icon {
					fill: var(--blue-dark);
				}
			}
			@media (max-width: $laptop) {
				position: absolute;
				left: 60px;
				bottom: 16px;
				margin-top: 0;
				&:hover {
					.button__icon {
						fill: none;
					}
				}
			}
			@media (max-width: $mobile-lg) {
				left: 44px;
				bottom: 9px;
			}
		}
		&._add-cart {
			margin-left: auto;
			min-height: var(--button-height);
			@media (max-width: $laptop-lg) {
				font-size: 16px;
			}
		}
		&._back-props {
			--size: #{rem(32)};
			width: var(--size);
			height: var(--size);
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	&__inputs-list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(16);
		flex-wrap: nowrap;
		overflow: auto;
		scrollbar-width: none;
		scroll-behavior: smooth;
		padding: 1px;
		@include scrollbar {
			display: none;
		}
	}
	&__props {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 3;
		display: flex;
		flex-direction: column;
		row-gap: rem(32);
		box-sizing: border-box;
		width: 100%;
		min-height: var(--button-height);
		padding: var(--card-padding);
		padding-bottom: rem(48);
		color: var(--white);
		background-color: var(--blue-dark);
		transform: translateY(100%);
		transition: transform $card-button-transition-duration $card-button-transition-function;
	}
	&__colors,
	&__sizes,
	&__days {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
	}
	&__color,
	&__size {
		display: block;
	}
	&__inputs-item {
		&:last-child {
			margin-right: rem(8);
		}
	}
	&__inputs-wrap {
		display: flex;
		&._sizes {
			max-width: var(--sizes-width);
		}
		&._days {
			max-width: var(--days-width);
		}
	}
	&__radio-input {
		display: none;
	}
	&__input-label,
	&__input-span {
		display: block;
	}
	&__input-span {
		&._size {
			min-width: rem(56);
			padding-inline: rem(12);
			padding-bottom: 0.15em;
			text-align: center;
			white-space: nowrap;
		}
		&._days {
			width: rem(80);
		}
	}
	&__inputs-next {
		--size: #{rem(32)};
		@include reset-btn;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		background-color: var(--white);
		width: var(--size);
		height: var(--size);
		padding: rem(4);
		margin-left: rem(16);
		border-radius: 50%;
		color: var(--blue-dark);
	}
	&__inputs-next-icon {
		width: 100%;
		height: 100%;
		transform: rotate(180deg);
	}
	&__close-btn {
		@include reset-btn;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	&__arrow-icon {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, calc(-100% - rem(8)));
		color: var(--blue-dark);
		opacity: 0;
		transition: opacity $default-transition-duration $card-button-transition-function;
		pointer-events: none;
		display: none;
	}
	&__total {
		display: none;
		align-items: center;
		gap: rem(8);
		& > * {
			flex-shrink: 0;
		}
		#{$this}__input-span {
			&._size {
				background-color: var(--white);
				color: var(--blue-dark);
			}
		}
		@media (max-width: $laptop-lg) {
			column-gap: 4px;
		}
		@media (max-width: $laptop-lg-3) {
			flex-wrap: wrap;
			.product-card__button._add-cart {
				width: 100%;
			}
		}
	}
}
