.footer {
	$this: &;
	--footer-spacing-1: #{rem(17)};
	--footer-spacing-2: #{rem(32)};
	--footer-hover: #{darken($white, 15%)};
	position: relative;
	background-color: var(--blue-light);
	color: var(--white);
	background-image: url('../images/footer/footer-bg.jpg');
	background-size: cover;
	@include retina {
		background-image: url('../images/footer/footer-bg@2x.jpg');
	}
	overflow: hidden;
	@media (max-width: $laptop-md) {
		--footer-spacing-1: 8px;
		--footer-spacing-2: 24px;
	}
	@media (max-width: $tablet) {
		--footer-spacing-1: 16px;
		--footer-spacing-2: 16px;
	}
	@media (max-width: $mobile-lg) {
		--footer-spacing-1: 8px;
	}
	&__container {
		position: relative;
		z-index: 1;
		display: grid;
		row-gap: var(--container-padding);
		padding-top: var(--container-padding);
		@media (max-width: $mobile-lg) {
			row-gap: 32px;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__socials {
		display: flex;
		align-items: flex-start;
	}
	&__social-link {
		margin-right: var(--footer-spacing-1);
	}
	&__to-top {
		--size: #{rem(104)};
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--size);
		height: var(--size);
		fill: currentColor;
		color: transparent;
		transition: transform $default-transition-duration $default-transition-function;
		&:hover {
			color: var(--white);
		}
		@media (max-width: $laptop-md) {
			--size: 88px;
		}
		@media (max-width: $mobile-lg) {
			--size: 48px;
			color: var(--white);
		}
	}
	&__to-top-icon {
		@extend .animated;
		--size: #{rem(72)};
		width: var(--size);
		height: var(--size);
		transform-origin: center;
		transform: rotate(-45deg);
		@media (max-width: $laptop-md) {
			--size: 64px;
		}
		@media (max-width: $mobile-lg) {
			--size: 32px;
		}
	}
	&__center {
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: space-between;
		@media (max-width: $laptop-sm) {
			row-gap: var(--container-padding);
		}
		@media (max-width: $laptop-sm) {
			grid-template-columns: repeat(1, 1fr);
		}
		@media (max-width: $mobile-lg) {
			row-gap: 0;
			margin-bottom: 12px;
		}
	}
	&__center-left {
		grid-row: 1/3;
		@media (max-width: $laptop-sm) {
			grid-row: auto;
			grid-column: 1/3;
		}
		@media (max-width: $mobile-lg) {
			grid-column: auto;
			margin-bottom: 16px;
		}
	}
	&__email {
		display: inline-block;
		margin-right: var(--footer-spacing-2);
		margin-bottom: var(--footer-spacing-2);
		@extend .animated;
		@media (max-width: $laptop-sm) {
			margin-bottom: 0;
			margin-right: 0;
		}
		&:hover {
			color: var(--footer-hover);
		}
	}
	&__phones {
		margin-right: var(--footer-spacing-1);
		@media (max-width: $laptop-sm) {
			display: none;
		}
		&._tablet {
			display: none;
			@media (max-width: $laptop-sm) {
				display: flex;
				flex-direction: column;
				margin-bottom: 16px;
			}
		}
	}
	&__phones-item {
		margin-bottom: var(--footer-spacing-1);
		@media (max-width: $mobile-lg) {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__phone {
		letter-spacing: -0.04em;
		@extend .animated;
		@media (max-width: $laptop-md) {
			letter-spacing: 0;
		}
		&:hover {
			color: var(--footer-hover);
		}
	}
	&__partners {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: var(--footer-spacing-1);
		margin-bottom: var(--footer-spacing-2);
		@media (max-width: $laptop-sm) {
			justify-content: flex-start;
			grid-column: 1/3;
			order: -1;
			margin-bottom: 0;
		}
		@media (max-width: $mobile-lg) {
			grid-column: auto;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 16px;
			margin-bottom: 32px;
		}
	}
	&__partner {
		--size: #{rem(83)};
		display: block;
		width: var(--size);
		height: var(--size);
		padding: rem(8);
		&:hover {
			#{$this}__partner-img {
				transform: scale(1.05);
			}
		}
		@media (max-width: $laptop-md) {
			--size: 88px;
			padding: 6px;
		}
		@media (max-width: $mobile-lg) {
			position: relative;
			--size: 100%;
			height: 0;
			padding: 0;
			padding-bottom: 100%;
		}
	}
	&__partner-img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		transition: transform $default-transition-duration;
		@media (max-width: $mobile-lg) {
			position: absolute;
			--space: 3px;
			top: var(--space);
			left: var(--space);
			width: calc(100% - var(--space) * 2);
			height: calc(100% - var(--space) * 2);
		}
	}
	&__links {
		margin-left: auto;
		@media (max-width: $laptop-sm) {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
	&__link-item {
		margin-bottom: var(--footer-spacing-1);
		@media (max-width: $mobile-lg) {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__arrow-link {
		display: block;
		padding-right: rem(34);
		background-image: inline('promo-arrow-white.svg');
		background-repeat: no-repeat;
		background-position: bottom #{rem(4)} right #{rem(4)};
		background-size: rem(16) rem(16);
		transition: background-position $default-transition-duration $default-transition-function;
		text-align: right;
		&:hover {
			background-position: bottom #{rem(4)} right #{rem(8)};
		}
		@media (max-width: $mobile-lg) {
			padding-right: 25px;
			background-position: top 1px right 1px;
			line-height: 16px;
			&:hover {
				background-position: top 1px right 1px;
			}
			&:active {
				background-position: top 1px right 5px;
			}
		}
	}
	&__logo {
		width: 100%;
		height: auto;
	}
	&__bottom {
		position: relative;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: var(--footer-spacing-1);
		padding: var(--footer-spacing-1) 0;
		@media (max-width: $laptop-md) {
			justify-content: space-between;
			grid-template-columns: repeat(4, auto);
			row-gap: 21px;
			padding-bottom: 16px;
		}
		@media (max-width: $laptop-sm) {
			grid-template-columns: repeat(2, auto);
		}
		@media (max-width: $mobile-lg) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: var(--container-padding);
			padding: var(--container-padding) 0;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 100vw;
			height: rem(1);
			transform: translateX(-50%);
			background-color: var(--white);
		}
	}
	&__link {
		justify-self: flex-start;
		@extend .animated;
		&:hover {
			color: var(--footer-hover);
		}
		@media (max-width: $laptop-md) {
			justify-self: auto;
		}
		@media (max-width: $mobile-lg) {
			border-bottom: 1px solid var(--white);
			padding-bottom: 1px;
		}
		&._copy {
			@media (max-width: $laptop-md) {
				order: 5;
				grid-column: 1/-1;
				text-align: center;
			}
			@media (max-width: $mobile-lg) {
				padding-bottom: 0;
				font-size: 16px;
				line-height: 20px;
				text-align: left;
				border-bottom: none;
			}
		}
	}
}
