.catalog-accordion {
	--offset: #{rem(64)};
	--size: #{rem(88)};
	--title-min-height: #{rem(140)};
	$this: &;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding-top: var(--offset);
	margin-top: calc(0px - var(--offset));
	overflow: hidden;
	&._index {
		#{$this}__section {
			#{$this}__title {
				color: var(--blue-dark);
				transition: all 0.4s $default-transition-function;
			}
			&:hover:not(._opened) {
				transform: translateY(calc(1px - var(--offset) * 0.9));
				#{$this}__title {
					color: rgba($blue-dark, 0);
					-webkit-text-stroke: 1px var(--blue-dark);
					text-stroke: 1px var(--blue-dark);
					transition: all 0.4s $default-transition-function;
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
	&._bg {
		background-color: var(--gray-light);
		background-clip: content-box;
	}
	&._services {
		#{$this}__section._opened {
			--default-bg-color: var(--white);
		}
		#{$this}__title {
			&::after,
			&::before {
				content: none;
			}
			&._opened {
				min-height: rem(220);
				@media (max-width: $laptop-lg) {
					min-height: 172px;
				}
				@media (max-width: $laptop-md) {
					min-height: 128px;
				}
				@media (max-width: $laptop-sm) {
					min-height: 120px;
				}
				@media (max-width: $mobile-lg) {
					min-height: 80px;
				}
			}
		}
	}
	@media (max-width: $laptop) {
		--offset: 40px;
		--size: 64px;
		--title-min-height: 100px;
		&._opened {
			--title-min-height: 104px;
		}
	}
	@media (max-width: $mobile-lg) {
		--offset: 26px;
		--size: 40px;
		--title-min-height: 64px;
		&._opened {
			--title-min-height: 72px;
		}
	}
	&__title {
		position: relative;
		display: flex;
		align-items: center;
		min-height: var(--title-min-height);
		padding-left: var(--container-padding);
		padding-right: calc(var(--size) + var(--container-padding) + rem(16));
		border-top: 1px solid var(--blue-dark);
		box-sizing: border-box;
		background-color: var(--default-bg-color);
		cursor: pointer;
		white-space: nowrap;
		transition: min-height $default-transition-duration $default-transition-function,
			background-color $default-transition-duration $default-transition-function,
			color $default-transition-duration $default-transition-function;
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			width: calc(var(--size) + var(--container-padding) + rem(16));
			height: calc(100% - 2px);
			background-color: var(--default-bg-color);
			opacity: 0;
			transition: background-color $default-transition-duration $default-transition-function;
		}
		&::after {
			content: '';
			position: absolute;
			z-index: 2;
			top: 50%;
			right: var(--container-padding);
			transform: translateY(-50%);
			display: block;
			width: var(--size);
			height: var(--size);
			background-image: inline('promo-arrow-blue.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
			transition: opacity $default-transition-duration $default-transition-function;
		}
		&._opened {
			min-height: rem(156);
			-webkit-text-stroke: 1px var(--blue-dark);
			text-stroke: 1px var(--blue-dark);
			color: transparent;
			&::before,
			&::after {
				opacity: 1;
			}
			@media (max-width: $laptop) {
				min-height: 104px;
			}
			@media (max-width: $mobile-lg) {
				min-height: 72px;
				padding-top: 10px;
			}
		}
		&._opened._ticker {
			#{$this}__title-text {
				padding-left: var(--container-padding);
				margin-left: calc(0px - var(--container-padding));
			}
		}
	}
	&__title:not(._opened) + &__list {
		opacity: 0;
	}
	&__inner {
		height: 0;
	}
	&__list {
		display: flex;
		height: 0;
		margin-right: -1px;
		transition: opacity $default-transition-duration $default-transition-function;
		@media (max-width: $laptop-sm) {
			--item-width: calc(100% / 3);
			overflow: auto;
			padding-top: 1px;
			scrollbar-width: none;
			@include scrollbar {
				display: none;
			}
		}
		@media (max-width: $mobile-lg) {
			--item-width: 50%;
		}
	}
	&__item {
		width: var(--item-width, 25%);
		flex-shrink: 0;
	}
	&__section {
		position: relative;
		display: block;
		background-color: var(--default-bg-color);
		overflow: hidden;
		margin-bottom: calc(0px - var(--offset));
		transition: height 1s ease-out, transform 0.4s ease-in,
			background-color $default-transition-duration $default-transition-function;
		&:hover {
			&:not(._opened) {
				transform: translateY(calc(1px - var(--offset) * 0.7));
				transition: transform 0.3s $default-transition-function;
			}
		}
		&._opened {
			margin-bottom: -1px;
			#{$this}__list,
			#{$this}__inner {
				height: auto;
			}
		}
		&:last-child {
			margin-bottom: -1px;
		}
		&:nth-child(2) {
			z-index: 2;
		}
		&:nth-child(3) {
			z-index: 3;
		}
		&:nth-child(4) {
			z-index: 4;
		}
		&:nth-child(5) {
			z-index: 5;
		}
		&:nth-child(6) {
			z-index: 6;
		}
	}
}
