.page {
	$this: &;
	&._about {
		#{$this}__timeline {
			position: sticky;
			top: 0;
			z-index: 5;
		}
		@media (max-width: $tablet) {
			#{$this}__main {
				padding-top: var(--header-height);
			}
		}
	}
}
