.page {
	$this: &;
	&._classes {
		.header__actions {
			color: var(--blue-dark);
			@media (max-width: $laptop-lg) {
				color: var(--white);
			}
		}
		&._menu-opened {
			.header__actions {
				color: var(--white);
			}
		}
	}
}
