.page {
	$this: &;
	&._delivery {
		.breadcrumbs {
			@media (max-width: $laptop-sm) {
				display: none;
			}
		}
		#{$this}__main {
			display: flex;
			flex-direction: column;
		}
		.delivery-payment {
			flex-grow: 1;
		}
	}
}
