.page {
	$this: &;
	&._index {
		#{$this}__main {
			overflow: hidden;
		}
		#{$this}__filters {
			position: sticky;
			z-index: 9;
			top: -2px;
			margin-top: calc(0px - var(--filters-height));
		}
	}
}
