.product-badge {
	--badge-size: #{rem(48)};
	--fs-badge: #{rem(14)};
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--badge-size);
	height: var(--badge-size);
	padding-top: 0.3em;
	font-family: var(--font-family-suisse);
	font-size: var(--fs-badge);
	line-height: 1;
	color: var(--white);
	box-sizing: border-box;
	pointer-events: all;
	@media (max-width: $desktop-lg) {
		padding-top: 0.1em;
	}
	@media (max-width: $laptop-md) {
		--badge-size: 32px;
		--fs-badge: 12px;
	}
	@media (max-width: $mobile-lg) {
		--badge-size: 24px;
		--fs-badge: 8px;
	}
	&__logo {
		width: rem(24);
		height: rem(26);
		@media (max-width: $mobile-lg) {
			width: 18px;
			height: 20px;
		}
	}
	&._new {
		border-radius: 50%;
		background-color: var(--violet-light);
	}
	&._exclusive {
		width: auto;
		min-width: var(--badge-size);
		padding-left: rem(12);
		padding-right: rem(12);
		gap: rem(4);
		border-radius: rem(100);
		background-color: var(--blue-light);
		font-size: rem(8);
		line-height: rem(20);
	}
	&._feature {
		padding-top: 0;
		margin-left: auto;
	}
	&._exclusive-icon {
		padding: rem(7);
		border-radius: 50%;
		background-color: var(--blue-light);
		@media (max-width: $mobile-lg) {
			padding: 4px;
		}
	}
}
