.community-advantages {
	$this: &;
	--padding-y: #{rem(124)};
	position: relative;
	z-index: 1;
	color: var(--white);
	background-color: var(--blue-light);
	height: 100vh;
	overflow: hidden;
	&._sticky {
		height: auto;
		overflow: initial;

		#{$this}__wrapper {
			margin-top: var(--100vh);
		}
		#{$this}__title-wrapper {
			position: sticky;
			top: 0;
		}
		#{$this}__title {
			position: static;
		}
	}
	&._how {
		@media (max-width: $tablet) {
			background-color: var(--violet-light);
		}
		#{$this}__title {
			margin-bottom: 0;
			margin-top: 'auto';
			padding-top: var(--padding);
		}
	}
	&._discount {
		color: var(--blue-dark);
		background-color: var(--white);
		#{$this}__list {
			margin-bottom: rem(35);
		}
		#{$this}__item {
			min-height: rem(420);
			padding-top: rem(33);
		}
		#{$this}__item-text {
			margin-bottom: rem(16);
			font-family: var(--font-family-suisse);
			font-size: rem(32);
		}
		#{$this}__text {
			color: var(--gray-dark);
			font-size: rem(24);
			line-height: 1.33;
		}
		#{$this}__asterisk {
			display: inline-block;
			margin-bottom: rem(16);
			color: var(--blue-dark);
		}
		@media (max-width: $laptop-lg) {
			#{$this}__item {
				min-height: 315px;
				padding-bottom: 32px;
			}
			#{$this}__item-text {
				letter-spacing: -0.02em;
			}
			#{$this}__asterisk {
				font-size: 44px;
			}
		}
		@media (max-width: $laptop-md) {
			#{$this}__title {
				padding-right: 5%;
			}
			#{$this}__item-text {
				max-width: 340px;
				font-size: 22px;
			}
			#{$this}__item {
				min-height: auto;
				padding-top: 22px;
				padding-bottom: 22px;
				p:not(#{$this}__item-text),
				ul {
					font-size: 18px;
				}
			}
			#{$this}__text {
				font-size: 18px;
			}
			#{$this}__asterisk {
				font-size: 24px;
			}
			#{$this}__list {
				margin-bottom: 19px;
			}
		}
		@media (max-width: $laptop-sm) {
			#{$this}__title {
				padding-right: 0;
				font-size: 42px;
			}
		}
		@media (max-width: $tablet) {
			#{$this}__container {
				padding-top: 124px;
				padding-bottom: 60px;
			}
			#{$this}__title {
				padding-bottom: 20px;
				font-size: 56px;
			}
			#{$this}__item {
				&:nth-child(3) {
					width: 100%;
					border-right: 0;
				}
			}
			#{$this}__item-text {
				max-width: none;
				letter-spacing: 0;
			}
			#{$this}__text {
				font-size: 16px;
				line-height: 1.5;
			}
		}
		@media (max-width: $mobile-lg) {
			#{$this}__container {
				padding-top: 116px;
				padding-bottom: 32px;
			}
			#{$this}__title {
				font-size: 32px;
			}
			#{$this}__item-text {
				font-size: 16px;
			}
			#{$this}__item {
				padding-top: 18px;
				padding-bottom: 15px;
				&:nth-child(1) {
					border-right: 0;
				}
				p:not(#{$this}__item-text),
				ul {
					font-size: 16px;
					line-height: 1.5;
				}
			}
			#{$this}__list {
				margin-bottom: 16px;
			}
			#{$this}__text {
				font-size: 14px;
				line-height: 1.7;
				ul {
					line-height: 1.73;
				}
			}
			#{$this}__asterisk {
				font-size: 18px;
			}
		}
	}
	&._partner {
		&._bg {
			background-color: var(--green-dark);
		}
		@media (max-width: $laptop-lg) {
			--padding-y: 98px;
		}
		@media (max-width: $laptop) {
			--padding-y: 62px;
		}
		@media (max-width: $tablet) {
			height: auto;
		}
		#{$this}__container {
			@media (max-width: $tablet) {
				padding-bottom: 70px;
			}
		}
		#{$this}__title {
			max-width: rem(960);
			margin-left: auto;
			@media (max-width: $laptop-lg) {
				padding-right: 0;
				padding-bottom: 97px;
				padding-right: 64px;
			}
			@media (max-width: $tablet) {
				max-width: 680px;
				padding-bottom: 24px;
			}
		}
		#{$this}__list {
			margin-bottom: rem(64);
			@media (max-width: $tablet) {
				margin-bottom: 20px;
			}
		}
		#{$this}__item {
			padding-left: rem(63);
			min-height: rem(270);
			&:first-child {
				padding-top: rem(32);
				min-height: rem(242);
			}
			&:last-of-type {
				min-height: rem(290);
				@media (max-width: $laptop-lg) {
					min-height: rem(254);
				}
				@media (max-width: $laptop) {
					min-height: rem(226);
				}
			}
			@media (max-width: $laptop-lg) {
				padding-left: 39px;
			}
			@media (max-width: $laptop) {
				padding-left: 24px;
				min-height: rem(242);
			}
			@media (max-width: $tablet) {
				min-height: 160px;
				&:first-of-type {
					min-height: 160px;
					padding-top: 20px;
				}
				&:last-of-type {
					min-height: 160px;
				}
			}
			@media (max-width: $mobile-lg) {
				padding-inline: 16px;
			}
		}
		#{$this}__item-text {
			width: max-content;
			max-width: 100%;
			letter-spacing: -0.02em;
			color: inherit;
			@media (max-width: $tablet) {
				width: auto;
			}
		}
		#{$this}__text {
			&._tablet {
				display: none;
			}
			@media (max-width: $tablet) {
				display: none;
				&._tablet {
					display: block;
					padding-top: 20px;
				}
			}
		}
		#{$this}__link {
			margin-left: auto;
			margin-bottom: rem(90);
			@media (max-width: $laptop) {
				margin-bottom: 63px;
			}
			@media (max-width: $tablet) {
				margin-bottom: 10px;
			}
		}
	}
	&._vacancies {
		&-offer,
		&-suit {
			#{$this}__title-wrapper {
				width: calc(1055 / 1728 * 100%);
			}
			#{$this}__wrapper {
				width: calc(704 / 1728 * 100%);
			}
			#{$this}__item-text {
				width: 100%;
			}
			#{$this}__title {
				margin-left: 0;
			}
			@media (max-width: $tablet) {
				#{$this}__title-wrapper {
					width: initial;
				}
				#{$this}__wrapper {
					width: initial;
				}
			}
		}
		&-suit {
			background-color: var(--blue-light);
		}
		&-offer {
			#{$this}__title {
				padding-right: rem(150);
				margin-top: 0;
				margin-bottom: auto;
				padding-top: var(--padding);
				@media (max-width: $laptop-md) {
					padding-right: 0;
				}
				@media (max-width: $tablet) {
					padding-bottom: 24px;
				}
			}
		}
	}
	@media (max-width: $laptop-lg) {
		--padding-y: 98px;
	}
	@media (max-width: $laptop) {
		--padding-y: 62px;
	}
	@media (max-width: $tablet) {
		height: auto;
		&._sticky {
			#{$this}__wrapper {
				margin-top: 0;
			}
			#{$this}__title-wrapper {
				position: static;
			}
		}
	}
	&__container {
		--col-padding: #{rem(63)};
		display: flex;
		@media (max-width: $laptop-lg) {
			--col-padding: 39px;
		}
		@media (max-width: $laptop) {
			--col-padding: 31px;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			padding: 76px var(--container-padding);
			--col-padding: 24px;
		}
		@media (max-width: $mobile-lg) {
			--col-padding: 16px;
			padding-block: 51px;
		}
	}
	&__title {
		--padding: #{rem(120)};
		position: sticky;
		bottom: 0;
		margin-top: auto;
		padding-bottom: var(--padding);
		@media (max-width: $laptop-lg) {
			padding-right: 0;
			--padding: 88px;
		}
		@media (max-width: $laptop-md) and (min-width: ($laptop + 1px)) {
			font-size: 54px;
		}
		@media (max-width: $laptop) {
			--padding: 68px;
		}
		@media (max-width: $tablet) {
			--padding: 29px;
			display: flex;
			flex-wrap: wrap;
			margin-left: 0;
		}
		@media (max-width: $mobile-lg) {
			--padding: 21px;
		}
	}
	&__title-wrapper {
		display: flex;
		flex-grow: 1;
		height: var(--100vh);
		padding-left: var(--container-padding);
		padding-right: var(--col-padding);
		border-right: 1px solid currentColor;
		@media (max-width: $tablet) {
			height: auto;
			border: 0;
			padding: 0;
		}
	}
	&__inner {
		display: flex;
	}
	&__wrapper {
		--width: #{rem(704)};
		position: relative;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: calc(var(--width) + var(--container-padding));
		padding-block: var(--padding-y);
		@media (max-width: $desktop-2) {
			--width: 584px;
		}
		@media (max-width: $laptop-md) {
			--width: 416px;
		}
		@media (max-width: $laptop-sm) {
			--width: 380px;
		}
		@media (max-width: $tablet) {
			border: 0;
			margin-inline: calc(0px - var(--container-padding));
			padding-top: 0;
			padding-bottom: 0;
			width: auto;
		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__list {
		counter-reset: num;
		margin-bottom: rem(56);
		@media (max-width: $laptop) {
			margin-bottom: 46px;
		}
		@media (max-width: $tablet) {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 21px;
			border-top: 1px solid currentColor;
		}
		@media (max-width: $mobile-lg) {
			flex-direction: column;
			margin-bottom: 17px;
		}
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: rem(56);
		padding-bottom: rem(46);
		padding-left: var(--col-padding);
		padding-right: var(--container-padding);
		min-height: rem(280);
		box-sizing: border-box;
		&::before {
			counter-increment: num;
			content: counter(num, decimal-leading-zero);
			@extend .h6;
			margin-bottom: rem(16);
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: currentColor;
		}
		&:first-child {
			padding-top: rem(32);
			min-height: rem(256);
		}
		p:not(.community-advantages__item-text),
		ul {
			font-family: var(--default-font-family);
			font-size: rem(24);
			color: var(--gray-dark);
		}
		@media (max-width: $laptop-lg) {
			min-height: 256px;
			&:first-child {
				min-height: 231px;
			}
		}
		@media (max-width: $laptop) {
			padding-top: 42px;
			min-height: 220px;
			&:first-child {
				min-height: 210px;
			}
		}
		@media (max-width: $tablet) {
			width: 50%;
			min-height: 160px;
			padding-inline: var(--col-padding);
			padding-top: 20px;
			padding-bottom: 22px;
			&:first-child {
				min-height: 160px;
				padding-top: 20px;
			}
			&:nth-child(odd) {
				border-right: 1px solid currentColor;
			}
		}
		@media (max-width: $mobile-lg) {
			width: 100%;
			&:nth-child(odd) {
				border-right: 0;
			}
			&::before {
				margin-bottom: 6px;
			}
		}
	}
	&__item-text {
		max-width: 100%;
		letter-spacing: -0.02em;
		color: inherit;
		@media (max-width: $laptop-lg) {
			max-width: 504px;
			font-family: var(--default-font-family);
			font-size: 24px;
			letter-spacing: 0;
		}
		@media (max-width: $laptop) {
			max-width: 352px;
			font-size: 18px;
			letter-spacing: 0;
		}
		@media (max-width: $mobile-lg) {
			font-size: 16px;
			line-height: 1.4;
		}
	}
	&__text {
		max-width: rem(576);
		margin-left: var(--col-padding);
		padding-right: var(--container-padding);
		margin-bottom: rem(32);
		p {
			font: inherit;
			&:not(:last-child) {
				margin-bottom: rem(32);
			}
		}
		a[href] {
			text-decoration: none;
			&:hover {
				color: inherit;
			}
		}
		@media (max-width: $laptop-lg) {
			p {
				&:not(:last-child) {
					margin-bottom: 30px;
				}
			}
		}
		@media (max-width: $laptop) {
			margin-bottom: 18px;
			line-height: 1.5;
			p {
				&:not(:last-child) {
					margin-bottom: 22px;
				}
			}
		}
		@media (max-width: $tablet) {
			max-width: none;
			padding: 0;
			margin-right: var(--container-padding);
			margin-bottom: 14px;
		}
		@media (max-width: $mobile-lg) {
			line-height: 1.71;
			p {
				&:not(:last-child) {
					margin-bottom: 23px;
				}
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		column-gap: rem(16);
		margin-left: var(--col-padding);
		margin-bottom: rem(30);
		font-size: rem(24);
		transition: column-gap $default-transition-duration $default-transition-function;
		&::after {
			content: '';
			flex-shrink: 0;
			width: rem(16);
			height: rem(16);
			background-image: inline('promo-arrow-white.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		&:hover {
			column-gap: rem(11);
		}
		@media (max-width: $laptop-lg) {
			margin-bottom: 26px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 31px;
			font-family: var(--font-family-suisse);
			font-size: 16px;
		}
		@media (max-width: $tablet) {
			margin-right: var(--container-padding);
			margin-bottom: 16px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 11px;
			padding-top: 0.1em;
			font-size: 14px;
		}
		@media (max-width: ($mobile - 1px)) {
			padding-left: var(--container-padding);
		}
	}
	&__asterisk {
		@media (max-width: $laptop-lg) {
			display: inline-block;
			margin-bottom: 23px;
			font-size: 28px;
			letter-spacing: -0.04em;
		}
		@media (max-width: $laptop) {
			margin-bottom: 14px;
			font-size: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 18px;
		}
	}
	ul:not(.community-advantages__list) {
		padding-left: 1.5em;
		li {
			list-style-type: disc;
		}
	}
}
