.product-slider {
	$this: &;
	display: flex;
	background-color: var(--default-bg-color);
	@media (max-width: $laptop-sm) {
		flex-direction: column;
	}
	&__main {
		position: relative;
		flex-grow: 1;
	}
	&__img-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		&.is-selected {
			opacity: 1;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&__thumbnails {
		flex-shrink: 0;
		// 160/864
		width: 18.5%;
		@media (max-width: $laptop-sm) {
			width: 100%;
		}
		.tns-outer {
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			height: 100%;
		}
		.tns-controls {
			height: 20%;
			@media (max-width: $laptop-sm) {
				display: none;
			}
		}
		.tns-ovh {
			height: 100%;
		}
		.tns-nav {
			display: none;
		}
		[data-controls='prev'] {
			display: none;
		}
		[data-controls='next'] {
			@include reset-btn;
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			font-size: 0;
			&::before {
				--size: #{rem(32)};
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: var(--size);
				height: var(--size);
				transform: translate(-50%, -50%) rotate(135deg);
				background-image: inline('promo-arrow-white.svg');
				background-repeat: no-repeat;
				background-size: rem(16);
				background-position: center;
				background-color: var(--blue-dark);
				border-radius: 50%;
			}
		}
		&._init {
			#{$this}__thumbnail {
				height: rem(100);
			}
			#{$this}__thumbnails-wrap {
				overflow: initial;
			}
		}
	}
	&__thumbnails-wrap {
		height: 100%;
		@media (max-width: $laptop-sm) {
			display: flex;
			width: 100%;
			height: 110px;
			overflow: auto;
			@include scrollbar {
				display: none;
			}
		}
	}
	&__thumbnail {
		@include reset-btn;
		position: relative;
		display: block;
		width: 100%;
		height: 25%;
		@media (max-width: $laptop-sm) {
			width: 25%;
			height: auto;
			flex-shrink: 0;
		}
		&._video {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: inline('play.svg');
				background-repeat: no-repeat;
				background-position: center;
				z-index: 1;
			}
			#{$this}__thumbnail-img {
				opacity: 0.4;
			}
		}
	}
	&__thumbnail-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - #{rem(6)});
		height: calc(100% - #{rem(30)});
		object-fit: contain;
	}
}
