.product-slider {
	--padding-y: #{rem(2)};
	--slider-height: calc(
		100vh - var(--header-height) - var(--breadcrumbs-height) - var(--add-block-height) -
			var(--padding-y) * 2
	);
	display: grid;
	grid-template-columns: 1fr min-content;
	box-sizing: border-box;
	padding: var(--padding-y) 0;
	opacity: 0;
	transition: opacity $default-transition-duration $default-transition-function;
	transition-delay: $default-transition-duration;
	mix-blend-mode: multiply;
	&.is-inited {
		opacity: 1;
	}
	@media (max-width: $laptop-sm) {
		--slider-height: 100%;
		--padding-y: 0;
		grid-template-columns: auto;
		grid-template-rows: calc(100% - 100px) 100px;
	}
	&__container {
		height: var(--slider-height, 100%);
	}
	&__slide {
		&.can-zoom_out {
			cursor: pointer;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.fancybox__carousel {
	@media (min-width: 993px) {
		width: calc(100vw - 172px);
	}
}

.product-slider__container,
.f-thumbs.is-classic,
.fancybox__toolbar,
.fancybox__nav {
	--f-brand-color: var(--blue-dark);
	--f-button-width: 40px;
	--f-button-height: 40px;
	--f-button-border-radius: 4px;

	--f-button-color: #0d0c22;
	--f-button-hover-color: var(--f-brand-color);

	--f-button-bg: #f1f5f9;
	--f-button-hover-bg: #e2e8f0;
	--f-button-active-bg: #e2e8f0;

	--f-button-svg-width: 20px;
	--f-button-svg-height: 20px;
	--f-button-svg-stroke-width: 2.25;
	--f-button-svg-filter: none;
}

.f-carousel__slide {
	display: flex;
	align-items: center;
	justify-items: center;
}

.f-thumbs.is-classic {
	--f-thumb-gap: 4px;

	--f-thumb-opacity: 1;
	--f-thumb-selected-opacity: 1;

	--f-thumb-outline: 2px;
	--f-thumb-outline-color: var(--f-brand-color);

	--f-button-next-pos: 4px;
	--f-button-prev-pos: 4px;
	&.is-vertical {
		--f-thumb-width: 140px;
		--f-thumb-height: 130px;

		height: var(--slider-height, 100%);

		.f-thumbs__track {
			flex-direction: column;
			padding: 0;
		}
	}
}

.f-thumbs__slide__img {
	object-fit: contain;
}

.f-carousel__nav {
	@media (max-width: $laptop-sm) {
		display: none;
	}
}

.f-button {
	&[disabled] {
		opacity: 0;
		pointer-events: none;
	}
}

.fancybox__container {
	--fancybox-bg: #fff;
	--fancybox-color: #6a6969;

	--f-spinner-color-1: rgba(0, 0, 0, 0.1);
	--f-spinner-color-2: rgba(17, 24, 28, 0.8);

	flex-direction: row;
	@media (max-width: $laptop-sm) {
		flex-direction: column;
	}
}

.fancybox__thumbs.is-classic.is-horizontal {
	--f-thumb-width: 75px;
	--f-thumb-height: 55px;
	--f-thumb-gap: 8px;
}

.fancybox__thumbs.is-classic.is-vertical {
	--f-thumb-width: 140px;
	--f-thumb-height: 180px;
	--f-button-next-pos: 8px;
	--f-button-prev-pos: 8px;

	padding-block: rem(56);

	outline: 1px solid #edeef0;

	.f-thumbs__track {
		padding: 0 16px;
	}
}

.fancybox__toolbar {
	padding: 8px;
}

.fancybox__slide {
	padding: 8px;
}

.f-panzoom {
	background: 0;
}

.fancybox__content.can-zoom_in {
	cursor: zoom-in;
}

.f-thumbs__slide {
	&._has-video {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			--size: #{rem(56)};
			width: var(--size);
			height: var(--size);
			background-image: inline('play.svg');
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 3;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}
