.trail-card {
	$this: &;
	--padding: #{rem(24)};
	--arrow-size: #{rem(72)};
	--card-height: #{rem(720)};
	--empty-logo-size: #{rem(274)};
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: var(--card-height);
	color: var(--white);
	box-shadow: inset -1px 0 0 0 var(--blue-dark), inset 0 -1px 0 0 var(--blue-dark),
		-1px -1px 0 0 var(--blue-dark), 0 -1px 0 0 var(--blue-dark);
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: var(--arrow-size);
		height: var(--arrow-size);
		background-image: inline('promo-arrow.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transition: background $default-transition-duration $default-transition-function;
	}
	&:hover {
		&::before {
			background-image: inline('promo-arrow-white.svg');
		}
		#{$this}__bottom {
			transform: translateY(0%);
		}
	}
	&._empty {
		&::before {
			display: none;
		}
		background-color: var(--gray-light);
		background-image: inline('empty-logo.svg');
		background-size: var(--empty-logo-size);
		background-position: center;
		background-repeat: no-repeat;
	}
	&._violet-light {
		#{$this}__bottom {
			background-color: var(--violet-light);
		}
		#{$this}__link {
			&:hover {
				color: var(--violet-light);
			}
		}
	}
	@media (max-width: $laptop-lg) {
		--card-height: 600px;
	}
	@media (max-width: $laptop) {
		--card-height: 524px;
		--padding: 20px;
		--empty-logo-size: 152px;
		--arrow-size: 64px;
	}
	@media (max-width: $tablet) {
		--card-height: 512px;
		--empty-logo-size: 228px;
	}
	@media (max-width: $mobile-lg) {
		--card-height: 420px;
		--padding: 16px;
		--empty-logo-size: 200px;
	}
	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: var(--padding);
	}
	&__title {
		position: relative;
		z-index: 1;
	}
	&__text {
		@media (max-width: $tablet) {
			font-size: 16px;
			line-height: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
	}
	&__bottom {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		column-gap: rem(16);
		margin-top: auto;
		align-items: center;
		box-sizing: border-box;
		margin-inline: calc(0px - var(--padding));
		margin-bottom: calc(0px - var(--padding));
		padding: var(--padding);
		color: var(--white);
		background-color: var(--green-dark);
		transform: translateY(100%);
		transition: transform $default-transition-duration $default-transition-function;
		@media (max-width: $laptop) {
			transform: translateY(0);
		}
		@media (max-width: $tablet) {
			padding-block: 24px;
		}
		@media (max-width: $mobile-lg) {
			padding: var(--padding);
		}
	}
	&__dates {
		margin-bottom: rem(8);
		letter-spacing: -0.02em;
		@media (max-width: $laptop) {
			font-size: 24px;
			letter-spacing: 0;
		}
		@media (max-width: ($mobile - 1px)) {
			font-size: 20px;
		}
	}
	&__link {
		@extend .animated;
		display: inline-flex;
		flex-shrink: 0;
		align-items: center;
		box-sizing: border-box;
		height: rem(64);
		padding-inline: rem(24);
		padding-top: 0.2em;
		border: 2px solid var(--white);
		border-radius: 100vmax;
		&:hover {
			color: var(--green-dark);
			background-color: var(--white);
		}
		@media (max-width: $laptop-lg) {
			height: 32px;
			padding-inline: 12px;
			padding-top: 0.25em;
			border-width: 1px;
			font-size: 18px;
		}
		@media (max-width: $laptop) {
			font-size: 16px;
		}
		@media (max-width: $mobile-lg) {
			height: 24px;
			padding-inline: 8px;
			font-size: 14px;
		}
	}
	&__card-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
