.vacancies-open {
	$this: &;
	--container-max-width: #{rem(1920)};
	--container-width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
	--padding-x: var(--container-padding);
	--padding-y: #{rem(124)};
	--full-width: 1728;
	--left-col: 692;
	--right-col: 1036;
	--left-col-width: calc(var(--container-width) * (var(--left-col) / var(--full-width)));
	--right-col-width: calc(var(--container-width) * (var(--right-col) / var(--full-width)));
	position: relative;
	display: grid;
	grid-template-columns: 1fr var(--left-col-width) var(--right-col-width) 1fr;
	min-height: 1038px;
	&::before {
		content: '';
		grid-column: 1/2;
		grid-row: 1/-1;
		background-color: var(--gray-light);
	}
	@media (max-width: $laptop-lg) {
		--padding-y: 96px;
	}
	@media (max-width: $laptop) {
		--padding-y: 75px;
	}
	@media (max-width: $laptop-sm) {
		display: flex;
		flex-direction: column;
		padding: 0 24px;
	}
	&__title {
		padding-top: rem(124);
		border-right: 1px solid var(--blue-dark);
		@media (max-width: $laptop) {
			padding-top: 71px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 32px;
			border-right: none;
		}
		@media (max-width: $tablet) {
			margin-bottom: 52px;
		}
	}
	&__accordion {
		padding: rem(140) 0 0 rem(64);
		@media (max-width: $laptop-lg) {
			padding: 136px 0 0 40px;
		}
		@media (max-width: $laptop) {
			padding: 72px 0 0 32px;
		}
		@media (max-width: $laptop-sm) {
			padding: 0;
		}
	}
}
