.ticker {
	--gap: #{rem(16)};
	$this: &;
	color: var(--white);
	background-color: var(--blue-light);
	overflow: hidden;
	&__container {
		display: flex;
		flex-shrink: 0;
		height: rem(92);
		@media (max-width: $laptop) {
			height: 76px;
		}
		@media (max-width: $tablet) {
			--gap: 8px;
		}
		& > * {
			display: flex;
			column-gap: var(--gap);
			flex-shrink: 0;
			animation: animate 60s linear infinite;
			animation-delay: -60s;
			&:nth-child(2) {
				margin-left: var(--gap);
				animation: animate2 60s linear infinite;
				animation-delay: -30s;
			}
		}
	}
	&__text {
		display: flex;
		align-items: center;
		column-gap: var(--gap);
		flex-shrink: 0;
		padding-top: 0.2em;
		&::after {
			content: '';
			position: relative;
			top: -0.1em;
			width: rem(76);
			height: rem(60);
			background-image: inline('logo-white.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&._paused {
		#{$this}__container {
			& > * {
				animation-play-state: paused;
			}
		}
	}
}

@keyframes animate {
	0% {
		transform: translateX(calc(100% + 2 * var(--gap)));
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes animate2 {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-200%);
	}
}
