.delivery-auth {
	&__title {
		margin-bottom: rem(46);
		@media (max-width: $laptop-lg) {
			margin-bottom: 32px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 22px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 20px;
		}
	}
	&__fields {
		display: flex;
		column-gap: rem(16);
		align-items: flex-end;
		&:not(:last-child) {
			margin-bottom: rem(48);
			@media (max-width: $laptop-lg) {
				margin-bottom: 32px;
			}
			@media (max-width: $laptop) {
				margin-bottom: 24px;
			}
		}
	}
	&__input {
		flex-grow: 1;
	}
	&__link {
		@extend .animated;
		display: inline-flex;
		align-items: flex-start;
		box-sizing: border-box;
		height: rem(35);
		padding: 0 rem(15);
		padding-top: 0.2em;
		line-height: 1;
		font-family: var(--font-family-suisse);
		border: 1px solid var(--blue-dark);
		border-radius: 100vmax;
		&:hover {
			color: var(--white);
			background-color: var(--blue-dark);
		}
		@media (max-width: $laptop) {
			height: 32px;
			padding: 0 11px;
			padding-top: 0.2em;
		}
		@media (max-width: $mobile-lg) {
			font-size: 18px;
		}
	}
}
