.cart-pay {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__radios {
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
		margin-bottom: rem(30);
		@media (max-width: $laptop-lg) {
			row-gap: 14px;
		}
		@media (max-width: $laptop) {
			row-gap: 22px;
		}
	}
	&__checkbox {
		margin-top: auto;
		margin-bottom: rem(32);
		.checkbox__label {
			font-size: rem(14);
		}
		@media (max-width: $laptop) {
			margin-bottom: 24px;
		}
	}
	&__offer-link {
		@extend .animated;
		font-family: var(--font-family-suisse);
		color: var(--gray-dark);
		opacity: 0.4;
		text-decoration: underline;
		&:hover {
			opacity: 1;
		}
		@media (max-width: $laptop-lg) {
			font-family: var(--default-font-family);
		}
		@media (max-width: $laptop) {
			font-size: 12px;
		}
	}
	&__sms-info {
		display: flex;
		column-gap: rem(8);
		margin-bottom: rem(32);
		@media (max-width: $laptop) {
			margin-bottom: 24px;
		}
	}
	&__bottom {
		width: 100%;
		padding: 0 var(--popup-padding);
		padding-top: rem(24);
		padding-bottom: rem(40);
		margin-left: calc(0px - var(--popup-padding));
		margin-top: rem(28);
		border-top: 1px solid var(--blue-dark);
	}
}
