.rent-categories {
	padding-block: rem(80);
	background-color: var(--gray-light);

	@media (max-width: $laptop) {
		padding-block: 60px;
	}

	@media (max-width: $mobile-lg) {
		padding-block: 40px;
	}

	&__grid {
		--container-max-width: #{rem(1920)};
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(40) rem(40);
		max-width: var(--container-max-width);
		margin: 0 auto;
		padding-inline: var(--container-padding);

		@media (max-width: $laptop) {
			gap: rem(40) rem(40);
		}

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
			gap: rem(40) rem(40);
		}

		@media (max-width: $mobile-lg) {
			gap: rem(20) rem(20);
		}
	}

	.activities__slider--rent-4 .activities__button {
		display: none;
	}

	.activities__slider--rent-4 .activities__slide-img,
	.activities__slider--rent-many .activities__slide-img {
		height: 0;
		padding-bottom: calc(480 / 360 * 100%);
	}

	.activities__slider--rent-3 .activities__slide-img {
		height: 0;
		padding-bottom: calc(480 / 575 * 100%);

		@media (max-width: $tablet) {
			padding-bottom: calc(480 / 360 * 100%);
		}
	}

	.activities__slider--rent-2 .activities__slide-img {
		height: 0;
		padding-bottom: calc(480 / 864 * 100%);

		@media (max-width: $tablet) {
			padding-bottom: calc(480 / 360 * 100%);
		}
	}

	.activities__slider[data-rent-categories] .activities__slide-img img {
		object-fit: cover;
		object-position: center;
	}

	&__item {
		min-width: 0;
        @media (max-width: $mobile-lg) {
            border-bottom: 1px solid rgba($blue-dark, 0.2);
            padding-bottom: rem(40);
            &:last-child {
                border-bottom: none;
            }
        }
	}
}
