.climbing-price {
	@include section-vertical-padding;
	--padding-x: var(--container-padding);
	--row-border-color: #dcd8d5;
	--head-text-color: #8a8886;
	box-sizing: border-box;
	padding: var(--padding-y) 0 0;
	background-color: var(--gray-light);
	&__head {
		padding: 0 var(--padding-x) rem(40);
		@media (max-width: $laptop-md) {
			padding-bottom: 24px;
		}
	}
	&__title {
		@extend %section-title-responsive;
	}
	&__accordion {
		border-top: 0;
		&:last-child {
			border-bottom: 0;
		}
		.primary-accordion__content-inner {
			padding: 0;
		}
	}
	&__table {
		display: flex;
		flex-direction: column;
		padding: rem(8) 0 rem(24);
	}
	&__row {
		display: grid;
		grid-template-columns: minmax(0, 1.4fr) minmax(0, 1fr) minmax(0, 1.4fr);
		gap: rem(40);
		padding: rem(20) var(--padding-x);
		border-bottom: 1px solid var(--row-border-color);
		&:last-child {
			border-bottom: 0;
		}
		&_head {
			padding-top: rem(24);
			padding-bottom: rem(16);
		}
		@media (max-width: $laptop-md) {
			gap: 24px;
		}
		@media (max-width: $laptop-sm) {
			grid-template-columns: 1fr;
			gap: 8px;
			&_head {
				display: none;
			}
		}
	}
	&__cell {
		&_price {
			white-space: normal;
		}
	}
	&__head-text {
		font-size: 14px;
		line-height: 1.5;
		color: var(--head-text-color);
	}
	&__mobile-label {
		display: none;
		margin-bottom: 8px;
	}
	@media (max-width: $mobile-only) {
		&__row {
			gap: 16px;
			padding-top: rem(24);
			padding-bottom: rem(24);
		}
		&__cell_name {
			margin-bottom: 8px;
		}
		&__mobile-label {
			display: block;
		}
	}
}
