.profile-stat {
	width: 100%;
	&__tr {
		display: flex;
		gap: rem(64);
		padding: rem(16) 0;
		border-bottom: 1px solid rgba($blue-dark, 0.4);
		@media (max-width: $laptop-lg) {
			gap: 40px;
		}
		@media (max-width: $laptop-md) {
			gap: 32px;
			padding: 8px 0 7px;
		}
		@media (max-width: $mobile-lg) {
			padding: 16px 0;
		}
	}
	&__td {
		&._first {
			width: 41.86%; // 509/1216
			@media (max-width: $laptop-md) {
				width: 47.4%;
			}
			@media (max-width: $mobile-lg) {
				width: 40.6%;
			}
		}
	}
}
