.climbing-classes {
	@include section-vertical-padding($desktop: 96, $lg: 72, $md: 56);
	box-sizing: border-box;
	padding: var(--padding-y) 0;
	background-color: var(--gray-light);
	&__title {
		@extend %section-title-responsive;
		padding-inline: var(--container-padding);
		margin: 0 0 rem(40);
		@media (max-width: $laptop-md) {
			margin-bottom: 32px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 24px;
		}
	}
	&__slider {
		position: relative;
		width: 100%;
		border-top: 1px solid var(--blue-dark);
		overflow: hidden;
	}
	&__list {
		align-items: stretch;
	}
	&__slide {
		width: rem(512);
		height: auto;
		box-sizing: border-box;
		@media (max-width: $tablet) {
			width: 100%;
		}
	}
	&__button {
		--swiper-navigation-top-offset: 0;
		--swiper-navigation-sides-offset: 0;
		z-index: 4;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(104);
		height: 100%;
		margin-top: 0;
		padding: 0;
		border: 0;
		border-bottom: 1px solid var(--blue-dark);
		border-radius: 0;
		background-color: var(--gray-light);
		color: var(--blue-dark);
		cursor: pointer;
		transition: opacity $default-transition-duration $default-transition-function;
		&.swiper-button-disabled {
			opacity: 0;
			pointer-events: none;
		}
		&::after {
			display: none;
		}
		svg {
			width: rem(56);
			height: rem(56);
			fill: none;
		}
		&:hover {
			background-color: var(--gray-light);
			svg {
				fill: var(--blue-dark);
			}
		}
		&_prev {
			border-right: 1px solid var(--blue-dark);
		}
		&_next {
			border-left: 1px solid var(--blue-dark);
		}
		@media (max-width: $laptop) {
			width: 88px;
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__pagination {
		position: static;
		display: none;
		justify-content: center;
		gap: 10px;
		margin-top: rem(24);
		@media (max-width: $tablet) {
			display: flex;
		}
		@media (max-width: $mobile-lg) {
			margin-top: 16px;
		}
		@include swiper-dots-pagination;
	}
}
