.catalog-promo {
	$this: &;
	--card-height: #{rem(540)};
	--empty-logo-size: 22.5rem 18rem;
	--card-padding: #{rem(16)};
	--card-margin: #{rem(8)};
	position: relative;
	width: 100%;
	min-height: var(--card-height);
	box-shadow: inset -1px 0 0 0 var(--blue-dark), inset 0 -1px 0 0 var(--blue-dark),
		-1px -1px 0 0 var(--blue-dark), 0 -1px 0 0 var(--blue-dark);
	overflow: hidden;
	@media (max-width: $laptop-lg) {
		--card-height: 450px;
	}
	@media (max-width: $laptop) {
		--card-height: 420px;
		--empty-logo-size: 200px 160px;
	}
	@media (max-width: $mobile-lg) {
		--card-height: 320px;
		--empty-logo-size: 146px 122px;
		box-shadow: inset 0 -1px 0 0 var(--blue-dark), -1px -1px 0 0 var(--blue-dark),
			0 -1px 0 0 var(--blue-dark);
	}
	&._empty {
		background-color: var(--gray-light);
		background-image: inline('empty-logo.svg');
		background-size: var(--empty-logo-size);
		background-position: center;
		background-repeat: no-repeat;
	}
	&._start {
		--logo-width: #{rem(76)};
		--logo-height: #{rem(60)};
		color: var(--white);
		background-color: var(--blue-dark);
		&::after {
			position: absolute;
			top: var(--card-padding);
			right: var(--card-padding);
			content: '';
			width: var(--logo-width);
			height: var(--logo-height);
			background-image: inline('promo-logo.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			@media (max-width: $laptop) {
				right: auto;
				left: var(--card-padding);
			}
		}
		#{$this}__text {
			width: 80%;
			margin-top: auto;
			@media (max-width: $laptop-lg) {
				width: 100%;
			}
		}
		#{$this}__tag {
			position: absolute;
			right: var(--card-padding);
			bottom: var(--card-padding);
			@media (max-width: $laptop-lg) {
				position: static;
			}
		}
		#{$this}__container {
			@media (max-width: $laptop) {
				padding-top: calc(var(--card-padding) + var(--logo-height) + var(--card-margin));
			}
		}
	}
	&._new-drop {
		--card-padding: #{rem(48)};
		--card-tag-padding: #{rem(40)};
		--logo-top: #{rem(24)};
		--logo-width: #{rem(100)};
		--logo-height: #{rem(80)};
		--arrow-size: #{rem(72)};
		--bg-img-top: #{0 - rem(176)};
		--bg-img-right: #{rem(10)};
		--bg-img-width: #{rem(712)};
		color: var(--blue-dark);
		background-color: var(--gray-light);
		&:hover {
			&::before {
				background-image: inline('promo-arrow-blue-filled.svg');
			}
		}
		@media (max-width: $laptop-lg) {
			--card-padding: 32px;
			--logo-width: 76px;
			--logo-height: 60px;
			--bg-img-top: -147px;
			--bg-img-right: 11px;
			--bg-img-width: 593px;
		}
		@media (max-width: $laptop) {
			--logo-top: 20px;
			--card-tag-padding: 36px;
			--bg-img-top: -78px;
			--bg-img-right: -20px;
			--bg-img-width: 496px;
		}
		@media (max-width: $mobile-lg) {
			--card-padding: 32px;
			--card-tag-padding: 24px;
			--logo-top: 16px;
			--arrow-size: 56px;
			--bg-img-top: -76px;
			--bg-img-right: -13px;
			--bg-img-width: 363px;
			--bg-img-height: 500px;
			--bg-img-fit: auto;
		}
		@media (max-width: $mobile) {
			#{$this}__container {
				padding-top: 21px;
			}
			#{$this}__tag {
				margin-right: -8px;
			}
		}
		&::after {
			position: absolute;
			top: calc(var(--card-padding) + var(--logo-top));
			left: var(--card-padding);
			content: '';
			width: var(--logo-width);
			height: var(--logo-height);
			background-image: inline('promo-logo-blue.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			@media (max-width: $laptop) {
				right: auto;
				left: var(--card-padding);
			}
		}
		&::before {
			position: absolute;
			z-index: 1;
			bottom: var(--card-padding);
			right: var(--card-padding);
			content: '';
			width: rem(72);
			width: var(--arrow-size);
			height: var(--arrow-size);
			background-image: inline('promo-arrow-blue.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			transition: background $default-transition-duration $default-transition-function;
		}
		._safari &::before {
			transition: none;
		}
		#{$this}__title {
			order: 2;
			width: calc(100% - var(--arrow-size) - var(--card-padding));
			margin-top: auto;
		}
		#{$this}__tag {
			padding-top: var(--card-tag-padding);
			border-top: 2px solid currentColor;
			text-align: right;
		}
		#{$this}__bg-img {
			left: auto;
			right: var(--bg-img-right);
			top: var(--bg-img-top);
			width: var(--bg-img-width);
			height: var(--bg-img-height, auto);
			object-fit: var(--bg-img-fit, contain);
		}
	}
	&._freeride {
		--card-padding: #{rem(48)};
		--card-tag-padding: #{rem(40)};
		--logo-top: #{rem(24)};
		--logo-width: #{rem(100)};
		--logo-height: #{rem(80)};
		--arrow-size: #{rem(72)};
		color: var(--white);
		background-color: var(--green-light);
		&:hover {
			&::before {
				background-image: inline('promo-arrow-white.svg');
			}
		}
		@media (max-width: $laptop-lg) {
			--card-padding: 32px;
			--logo-width: 76px;
			--logo-height: 60px;
		}
		@media (max-width: $laptop) {
			--logo-top: 20px;
			--card-tag-padding: 36px;
		}
		@media (max-width: $mobile-lg) {
			--card-padding: 32px;
			--card-tag-padding: 24px;
			--logo-top: 16px;
			--arrow-size: 56px;
		}
		&::after {
			position: absolute;
			top: calc(var(--card-padding) + var(--logo-top));
			left: var(--card-padding);
			content: '';
			width: var(--logo-width);
			height: var(--logo-height);
			background-image: inline('promo-logo.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			@media (max-width: $laptop) {
				right: auto;
				left: var(--card-padding);
			}
		}
		&::before {
			position: absolute;
			z-index: 1;
			bottom: var(--card-padding);
			right: var(--card-padding);
			content: '';
			width: var(--arrow-size);
			height: var(--arrow-size);
			background-image: inline('promo-arrow.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			transition: background $default-transition-duration $default-transition-function;
		}
		._safari &::before {
			transition: none;
		}
		#{$this}__title {
			order: 2;
			width: calc(100% - var(--arrow-size) - var(--card-padding));
			margin-top: auto;
		}
		#{$this}__tag {
			padding-top: var(--card-tag-padding);
			border-top: 2px solid currentColor;
			text-align: right;
		}
		#{$this}__bg-img {
			object-fit: cover;
			object-position: top left;
		}
	}
	&__bg-img,
	&__container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: var(--card-margin);
		padding: var(--card-padding);
	}
}
