.delivery-register {
	&__title {
		margin-bottom: rem(46);
		@media (max-width: $laptop-lg) {
			margin-bottom: 30px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 17px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 23px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 20px;
		}
	}
	&__fields {
		display: flex;
		column-gap: rem(16);
		align-items: flex-end;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
		@media (max-width: $mobile-lg) {
			flex-direction: column;
			row-gap: 16px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&._legal {
			gap: rem(16);
			align-items: stretch;
			@media (max-width: $laptop-md) {
				flex-direction: column;
			}
			@media (max-width: $laptop-sm) {
				flex-direction: row;
			}
			@media (max-width: $mobile-lg) {
				gap: 8px;
				flex-direction: column;
			}
		}
	}
	&__input {
		flex-grow: 1;
		width: 100%;
		@media (max-width: $mobile-lg) {
			--height: 56px;
		}
	}
	&__checkbox {
		margin-top: rem(34);
		@media (max-width: $laptop) {
			margin-top: 32px;
		}
	}
	&__link {
		display: inline-flex;
		align-items: center;
		height: rem(35);
		padding: 0 rem(16);
		padding-top: 0.2em;
		font-family: var(--font-family-suisse);
		box-sizing: border-box;
		border: 1px solid var(--blue-dark);
		border-radius: 100vmax;
	}
	&__legal {
		margin-top: rem(16);
	}
	&__legal-text {
		margin-top: rem(24);
	}
}
