.class {
	--margin-1: #{rem(48)};
	--margin-2: #{rem(32)};
	--margin-3: #{rem(24)};
	--margin-4: #{rem(16)};
	$this: &;
	display: grid;
	grid-template-areas:
		'main slider'
		'main content';
	grid-template-columns: repeat(2, 1fr);
	@media (max-width: $laptop-lg) {
		--margin-1: 32px;
	}
	@media (max-width: $laptop-md) {
		--margin-3: 20px;
		--margin-2: var(--margin-1);
	}
	@media (max-width: $mobile-lg) {
		--margin-1: 24px;
		--margin-3: 16px;
		--margin-4: 8px;
	}
	@media (max-width: $laptop-sm) {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			'slider'
			'main'
			'content';
	}
	&__main {
		flex-shrink: 0;
		grid-area: main;
		display: flex;
		flex-direction: column;
		@media (max-width: $laptop-sm) {
			width: 100%;
		}
	}
	&__main-wrap {
		flex-grow: 1;
	}
	&__price-block {
		flex-shrink: 0;
		position: sticky;
		bottom: 0;
		left: 0;
		padding-block: rem(34);
		@media (max-width: $laptop-lg) {
			padding-top: 30px;
			padding-bottom: 40px;
		}
		@media (max-width: $laptop-md) {
			padding-top: 29px;
			padding-bottom: 24px;
		}
		@media (max-width: $mobile-lg) {
			padding-top: 13px;
			padding-bottom: 12px;
		}
		.add-to-cart__price {
			font-size: var(--font-size-h5);
			line-height: 1.3;
			letter-spacing: 0;
			@media (max-width: $laptop-lg) {
				font-size: 28px;
				line-height: 36px;
			}
			@media (max-width: $laptop-md) {
				font-size: 30px;
				line-height: 39px;
			}
			@media (max-width: $laptop-sm) {
				font-size: 16px;
				line-height: 24px;
			}
			@media (max-width: $mobile-lg) {
				font-size: 14px;
			}
		}
		.add-to-cart__link {
			@media (max-width: $laptop-lg) {
				font-size: 16px;
				line-height: 20px;
			}
			@media (max-width: $mobile-lg) {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
	&__content {
		flex-grow: 1;
		grid-area: content;
		border-left: 1px solid var(--blue-dark);
		@media (max-width: $laptop-sm) {
			border-left: none;
		}
	}
	&__title {
		display: flex;
		flex-direction: column;
		gap: var(--margin-4);
		@media (max-width: $laptop-lg) {
			font-size: 28px;
			line-height: 36px;
		}
		@media (max-width: $laptop-md) {
			font-size: 24px;
			line-height: 31px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 18px;
			line-height: 23px;
		}
	}
	&__slider {
		grid-area: slider;
		height: calc(100vh - var(--header-height) - var(--breadcrumbs-height));
		border-left: 1px solid var(--blue-dark);
		@media (max-width: $laptop-sm) {
			height: 60.29vw; // 463px
			border-left: none;
		}
		@media (max-width: $mobile-lg) {
			height: 98.66vw; // 370px
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--margin-1);
		padding: var(--container-padding);
		border-top: 1px solid var(--blue-dark);
	}
	&__inner {
		display: flex;
		flex-direction: column;
		gap: var(--margin-3);
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: calc(var(--font-size-p2) * 1.4);
	}
	&__link {
		display: inline-flex;
		&:hover {
			#{$this}__link-icon {
				transform: translateX(#{rem(-8)});
			}
		}
		&._question {
			align-self: flex-end;
		}
	}
	&__link-icon {
		flex-shrink: 0;
		margin-left: rem(16);
		transition: transform $default-transition-duration $default-transition-function;
		fill: currentColor;
		@media (max-width: $laptop-md) {
			margin-left: 8px;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: var(--margin-3);
		counter-reset: li;
	}
	&__list-item {
		&:before {
			counter-increment: li;
			content: counter(li, decimal-leading-zero);
			display: block;
			margin-bottom: rem(16);
			@media (max-width: $laptop-md) {
				margin-bottom: 8px;
			}
		}
	}
	&__price {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: var(--margin-3);
	}
	&__price-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(8);
		&._total {
			padding-top: var(--margin-3);
			border-top: 1px solid var(--blue-dark);
		}
	}
	&__persons {
		display: flex;
		flex-direction: column;
		gap: var(--margin-3);
	}
	&__person {
		&:not(:last-child) {
			padding-bottom: var(--margin-3);
			border-bottom: 1px solid rgba($gray-dark, 0.2);
		}
	}
	&__checkboxes {
		display: flex;
		flex-direction: column;
		gap: var(--margin-3);
		& + & {
			margin-top: var(--margin-2);
		}
	}
	&__checkboxes-list {
		display: flex;
		flex-direction: column;
		gap: var(--margin-4);
		.checkbox__label {
			&::before {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&__file {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		gap: rem(16);
		padding: rem(32) rem(24);
		background-color: var(--gray-light);
		box-sizing: border-box;
	}
	&__pay {
		min-height: rem(140);
		padding-block: rem(32);
		@media (max-width: $mobile-lg) {
			min-height: 64px;
		}
		.add-to-cart__link {
			font-size: rem(24);
			line-height: rem(31);
		}
		.add-to-cart__link-icon {
			transform: none;
		}
	}
}
