.filters {
	$this: &;
	display: flex;
	height: var(--filters-height);
	color: var(--white);
	opacity: 0;
	will-change: opacity, height, color, background-color;
	.is-header-inited & {
		opacity: initial;
	}
	@media (max-width: $mobile-lg) {
		--offset-height: 34px;
		position: relative;
		padding-bottom: var(--offset-height);
		margin-bottom: calc(0px - var(--offset-height));
	}
	&__container {
		display: flex;
		align-items: center;
		@media (max-width: $mobile-lg) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	&__left,
	&__layout {
		display: flex;
		align-items: center;
		flex-basis: 50%;
	}
	&__left {
		@media (max-width: $mobile-lg) {
			grid-column: 1/-1;
			grid-row: 1/2;
			justify-content: space-between;
		}
	}
	&__layout {
		justify-content: flex-end;
		@media (max-width: $mobile-lg) {
			grid-column: 2/3;
			grid-row: 1/2;
			justify-content: center;
		}
		p {
			margin-right: rem(23);
			@media (max-width: $mobile-lg) {
				display: none;
			}
		}
	}
	&__layout-buttons {
		display: flex;
		column-gap: rem(8);
	}
	&__layout-button {
		&._mobile {
			display: none;
		}
		&:first-of-type {
			display: none;
		}
		@media (max-width: $laptop-sm) {
			&:last-of-type {
				display: none;
			}
		}
		@media (max-width: $mobile-lg) {
			display: none;
			&._mobile {
				display: inline-flex;
			}
		}
	}
	&__items-number {
		flex-shrink: 0;
		color: var(--white);
		@media (max-width: $mobile-lg) {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: var(--offset-height);
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--blue-light);
			will-change: opacity;
		}
		@media (max-width: $mobile) {
			font-size: 12px;
		}
	}
	&__button {
		@include reset-btn();
		@extend .animated;
		position: relative;
		display: inline-flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		column-gap: rem(8);
		min-width: rem(50);
		height: rem(50);
		font-family: var(--font-family-suisse);
		font-size: var(--font-size-h7);
		line-height: 1.3;
		font-weight: var(--default-font-weight);
		color: currentColor;
		@media (max-width: $laptop) {
			--font-size-h7: 16px;
		}
		@media (max-width: $mobile-only) {
			--font-size-h7: 14px;
		}
		span:not([class]) {
			padding-top: em(5, 18);
		}
		&._filter {
			margin-right: rem(50);
			@media (max-width: $mobile-lg) {
				margin-right: 0;
				margin-left: -13px;
				span:not([class]) {
					display: none;
				}
			}
		}
		._filters-opened & {
			color: var(--blue-dark);
		}
		&._search {
			@media (max-width: $mobile-lg) {
				margin-right: -13px;
			}
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__button-icon,
	.button__icon {
		width: rem(32);
		height: rem(32);
		@media (max-width: $mobile-lg) {
			width: 25px;
			height: 25px;
		}
		&._close {
			display: none;
		}
	}
	&__button-number {
		--size: #{rem(16)};
		&:empty {
			display: none;
		}
		position: absolute;
		top: em(7, 10);
		right: em(-3, 10);
		display: block;
		min-width: var(--size);
		height: var(--size);
		padding-left: em(2.5, 10);
		padding-right: em(3, 10);
		border-radius: 100vmax;
		color: var(--white);
		background-color: var(--red-light);
		line-height: var(--size);
		text-align: center;
		box-sizing: border-box;
		word-break: keep-all;
		@media (max-width: $laptop-sm) {
			top: 0.4em;
			right: -0.4em;
		}
		@media (max-width: $mobile-lg) {
			top: 0.7em;
			right: 0.6em;
		}
		._filters-opened & {
			display: none;
		}
	}
	&__search {
		max-width: rem(360);
		._fixed & {
			display: none;
		}
		@media (max-width: $mobile-lg) {
			.search-block__input {
				right: 0;
				left: auto;
			}
		}
	}
	&._fixed {
		--filters-height: var(--header-height);
		color: var(--blue-dark);
		background-color: var(--white);
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--blue-dark);
			will-change: bottom;
		}
		#{$this}__button {
			color: var(--blue-dark);
		}
		@media (max-width: $mobile-lg) {
			&._hidden-num {
				background-clip: content-box;
				&::after {
					bottom: var(--offset-height);
				}
				#{$this}__items-number {
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}
}

._filters-opened {
	.filters__button-icon {
		&._close {
			display: block;
		}
		&._filter {
			display: none;
		}
	}
}

._mobile {
	.filters__button {
		&:hover {
			color: var(--white);
		}
	}
	._fixed {
		.filters__button {
			&:hover {
				color: var(--blue-dark);
			}
		}
	}
}
