.loader {
	position: relative;
	z-index: 2;
	width: rem(175);
	height: min-content;
	text-align: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity $fast-transition-duration $default-transition-function;
	&._inited {
		opacity: 1;
	}
	&._hidden {
		opacity: 0;
	}
	&__img {
		aspect-ratio: 233/192;
	}
}
