.tabs {
	$this: &;
	&__tab-list {
		display: flex;
		margin-bottom: rem(48);
		@media (max-width: $laptop-lg) {
			margin-bottom: 32px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 24px;
		}
	}
	&__tab-item {
		flex-grow: 1;
		width: 100%;
	}
	&__trigger {
		@include reset-btn();
		@extend .animated;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		min-height: rem(56);
		padding: rem(16);
		padding-top: rem(19);
		padding-bottom: rem(12);
		border-bottom: 1px solid var(--blue-dark);
		font-family: var(--font-family-suisse);
		font-size: rem(18);
		line-height: 1.33;
		text-transform: uppercase;
		color: var(--blue-dark);
		&._selected {
			color: var(--white);
			background-color: var(--blue-dark);
		}
		&:hover {
			&:not(#{$this}._cart &) {
				color: var(--white);
				background-color: var(--blue-dark);
			}
		}
		@media (max-width: $laptop) {
			min-height: 40px;
			padding-top: 11px;
			padding-bottom: 7px;
			font-size: 16px;
		}
		@media (max-width: $tablet) {
			padding-top: 11px;
			padding-bottom: 4px;
		}
		@media (max-width: $mobile-lg) {
			min-height: 32px;
			padding-top: 6px;
			font-size: 14px;
		}
	}
	&__panel {
		outline: 0;
		&._hidden {
			display: none;
		}
	}
}
