.discount-create-form {
	$this: &;
	display: flex;
	flex-direction: column;
	&._wallet {
		padding-top: rem(20);
		@media (max-width: $laptop-sm) {
			padding-top: 4px;
		}
		@media (max-width: $mobile-lg) {
			padding-top: 10px;
		}
	}
	&._tel_confirmed {
		#{$this}__sms-code,
		#{$this}__send-sms {
			display: none;
		}
		#{$this}__input {
			&._tel {
				position: relative;
				&::after {
					opacity: 1;
				}
			}
		}
	}
	&__inputs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(24);
		margin-bottom: rem(24);
		#{$this}._wallet & {
			margin-bottom: rem(38);
		}
		@media (max-width: $mobile-lg) {
			grid-template-columns: 1fr;
			#{$this}._wallet & {
				gap: 14px;
			}
		}
	}
	&__checkboxes {
		display: grid;
		gap: rem(16);
		margin-bottom: rem(32);
		#{$this}._wallet & {
			margin-bottom: rem(40);
		}
		@media (max-width: $laptop-sm) {
			#{$this}._wallet & {
				> .p3 {
					font-size: 16px;
				}
			}
		}
		@media (max-width: $mobile-lg) {
			#{$this}._wallet & {
				margin-bottom: 16px;
				> .p3 {
					font-size: 12px;
				}
			}
		}
	}
	&__radios {
		display: flex;
		column-gap: rem(50);
		padding: 0 rem(12);
		margin-block: rem(24);
		.radio__label {
			padding-left: calc(var(--size) + rem(8));
			justify-content: center;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 0;
			.radio__text {
				font-size: 12px;
			}
			#{$this}._wallet & {
				order: 2;
				.radio__text {
					font-size: 16px;
				}
			}
		}
	}
	&__checkbox {
		.checkbox__label {
			font-family: var(--default-font-family);
		}
		&._privacy {
			.checkbox__label {
				color: var(--blue-light);
				font-size: rem(12);
				line-height: 1.33;
				&::before {
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		@media (max-width: $mobile-lg) {
			&._privacy {
				.checkbox__label {
					#{$this}._wallet & {
						font-size: 10px;
						line-height: 1.6;
					}
				}
			}
		}
	}
	&__input {
		&._tel {
			position: relative;
			&::after {
				--size: #{rem(22)};
				content: '';
				position: absolute;
				bottom: rem(12);
				right: rem(12);
				width: var(--size);
				height: var(--size);
				background-image: inline('success-checkbox.svg');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				opacity: 0;
				pointer-events: none;
				@media (max-width: $mobile-lg) {
					--size: 16px;
				}
			}
		}
	}
	&__submit {
		margin-left: auto;
		#{$this}._wallet & {
			margin-inline: calc(0px - var(--container-padding));
		}
		@media (max-width: $laptop-sm) {
			min-height: 132px;
		}
		@media (max-width: $mobile-lg) {
			min-height: 72px;
			#{$this}._wallet & {
				min-height: 72px;
				padding: 20px 24px 18px;
			}
		}
	}
	&__sms-code {
		position: relative;
	}
	&__send-sms,
	&__resend-sms {
		margin-top: rem(16);
		margin-right: auto;
		#{$this}._wallet & {
			margin-left: rem(14);
		}
		@media (max-width: $mobile-lg) {
			#{$this}._wallet & {
				margin-top: 8px;
				margin-left: auto;
				margin-right: 0;
				font-size: 12px;
			}
		}
	}
	&__submit-code {
		position: absolute;
		top: rem(40);
		right: 0;
		@media (max-width: $mobile-lg) {
			top: 35px;
			right: 3px;
			.button__icon {
				--size: 12px !important;
			}
		}
	}
	&__tel {
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(24);
		@media (max-width: $mobile-lg) {
			grid-template-columns: 1fr;
			gap: 14px;
			> * {
				display: grid;
			}
		}
	}
}
