.article-slider {
	$this: &;
	--button-margin: #{rem(63)};
	position: relative;
	display: flex;
	padding-left: calc(608 / 1508 * 100%);
	._loading & {
		opacity: 0;
		pointer-events: none;
	}
	.swiper-initialized & {
		padding-left: 0;
	}
	&._md {
		padding-inline: 0;
	}
	@media (max-width: $laptop-lg) {
		--button-margin: 40px;
	}
	@media (max-width: $laptop-sm) {
		padding-inline: var(--container-padding);
	}
	@media (max-width: $laptop-md) {
		--button-margin: 30px;
	}
	@media (max-width: $mobile-lg) {
		--button-margin: 8px;
		padding-inline: 0;
	}
	&__product {
		width: rem(432);
		flex-shrink: 1;
		.swiper-initialized & {
			flex-shrink: 0;
			width: 25%;
		}
		@media (max-width: $laptop-lg) {
			width: rem(360);
		}
		@media (max-width: $laptop-sm) {
			width: 33.3%;
			.swiper-initialized & {
				width: 33.3%;
			}
			#{$this}._md &._empty {
				display: none;
			}
		}
		@media (max-width: $mobile-lg) {
			width: 50%;
			.swiper-initialized & {
				width: 50%;
			}
			#{$this}._md & {
				flex-shrink: 0;
			}
		}
	}
}

[data-article-slider] {
	overflow: visible;
	.swiper-pagination {
		position: static;
		display: none;
		margin-top: rem(16);
		@media (max-width: $tablet) {
			justify-content: center;
			gap: 10px;
			span {
				display: block;
				border: 0;
				color: transparent;
				box-sizing: border-box;
				width: 10px;
				height: 10px;
				margin: 0;
				border-radius: 100vmax;
				border: 1px solid var(--blue-dark);
				background-color: var(--blue-dark);
				opacity: 1;
				transition: width $default-transition-duration $default-transition-function,
					background-color $default-transition-duration $default-transition-function;
				&.swiper-pagination-bullet {
					margin: 0;
				}
				&.swiper-pagination-bullet-active {
					width: 43px;
					background-color: transparent;
				}
			}
		}
	}
	.activities__button {
		display: none;
		border-bottom: 1px solid var(--blue-dark);
		&.swiper-button-prev {
			border-right: 1px solid var(--blue-dark);
		}
		&.swiper-button-next {
			border-left: 1px solid var(--blue-dark);
		}
	}
	&.swiper-initialized {
		border-top: 1px solid var(--blue-dark);
		overflow: hidden;
		.activities__button {
			display: block;
		}
		@media (max-width: $tablet) {
			.activities__button {
				display: none;
			}
			.swiper-pagination {
				display: flex;
			}
		}
	}
}
