.history {
	$this: &;
	--scroll-offset: calc(var(--timeline-height) + var(--header-height) - 1px);
	position: relative;
	border-bottom: 1px solid var(--blue-dark);
	margin-top: calc(0px - var(--scroll-offset));
	padding-top: var(--scroll-offset);
	&._quote {
		margin-top: 0;
		padding-block: rem(124);
		@media (max-width: $laptop-lg) {
			padding-block: 96px;
		}
		@media (max-width: $laptop) {
			padding-block: 72px;
		}
		@media (max-width: $tablet) {
			padding-block: 32px;
		}
	}
	&._history-1988 {
		@media (max-width: $tablet) {
			#{$this}__col-inner {
				min-height: 561px;
			}
		}
		@media (max-width: $mobile-lg) {
			#{$this}__col-inner {
				min-height: 506px;
			}
		}
	}
	&._today {
		#{$this}__subtitle {
			margin-top: 0;
		}
		#{$this}__col-inner {
			@media (max-width: $tablet) {
				min-height: calc(386px - 24px * 2);
			}
			@media (max-width: $mobile-lg) {
				min-height: calc(377px - 16px * 2);
			}
		}
	}
	&__row {
		position: relative;
		display: flex;
		column-gap: 1px;
		background-color: var(--blue-dark);
		&._reverse {
			flex-direction: row-reverse;
			#{$this}__col {
				&:nth-child(1) {
					padding-right: 0;
					padding-left: calc(var(--container-padding) / 2);
				}
				&:nth-child(2) {
					padding-left: 0;
					padding-right: calc(var(--container-padding) / 2);
				}
			}
			@media (max-width: $tablet) {
				flex-direction: column;
				#{$this}__col {
					&:nth-child(1),
					&:nth-child(2) {
						padding: 0;
					}
					padding: var(--container-padding);
				}
			}
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: 46px;
			padding-block: 36px;
			padding-bottom: 22px;
			background-color: var(--gray-light);
		}
		@media (max-width: $mobile-lg) {
			gap: 35px;
			padding-block: 25px;
			padding-bottom: 15px;
		}
	}
	&__col {
		--width: calc(692 / 1728 * 100%);
		--padding-y: var(--container-padding);
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		box-sizing: border-box;
		min-height: var(--100vh);
		padding-block: var(--padding-y);
		background-color: var(--gray-light);
		&:nth-child(1) {
			width: var(--width);
			padding-right: calc(var(--container-padding) / 2);
			@media (max-width: $laptop-lg) {
				--width: calc(578 / 1440 * 100%);
			}
			@media (max-width: $laptop) {
				--width: calc(496 / 1024 * 100%);
			}
			@media (max-width: $tablet) {
				--width: 100%;
				padding: 0;
			}
		}
		&:nth-child(2) {
			padding-left: calc(var(--container-padding) / 2);
			@media (max-width: $tablet) {
				padding: 0;
			}
		}
		@media (max-width: $tablet) {
			min-height: auto;
			padding-inline: var(--container-padding);
		}
	}
	&__col-inner {
		display: flex;
		flex-direction: column;
		min-height: calc(var(--100vh) - var(--container-padding) * 2 - var(--timeline-height));
		@media (max-width: $tablet) {
			min-height: 396px;
		}
		@media (max-width: $mobile-lg) {
			min-height: calc(380px - 16px * 2);
		}
	}
	&__year {
		margin-bottom: auto;
		line-height: 1.1;
		@media (max-width: $laptop) {
			font-size: 64px;
		}
		@media (max-width: $tablet) {
			font-size: 80px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 54px;
		}
	}
	&__subtitle {
		margin-block: rem(32);
		@media (max-width: $laptop-lg) {
			margin-block: 21px;
		}
		@media (max-width: $laptop) {
			margin-block: 16px;
		}
	}
	&__text {
		max-width: rem(599);
		* + p {
			margin-top: rem(24);
		}
		#{$this}__lg-text {
			margin-top: 1em;
		}
		@media (max-width: $tablet) {
			max-width: none;
		}
	}
	&__img-wrapper {
		display: flex;
		flex-direction: column;
	}
	&__img {
		width: 100%;
		margin-bottom: rem(24);
		img {
			width: 100%;
		}
		@media (max-width: $laptop) {
			margin-bottom: 16px;
		}
	}
	&__quote-text {
		margin-bottom: rem(16);
	}
	&__line {
		position: absolute;
		z-index: 0;
		&._x {
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 1px;
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 50%;
				height: 100%;
				background-color: var(--gray-light);
				transition: width 1s $default-transition-function 0.5s;
			}
			&::before {
				left: 0;
			}
			&::after {
				right: 0;
			}
			&.is-animated {
				&::before,
				&::after {
					width: 0;
				}
			}
		}
		&._y {
			top: 0;
			left: 0;
			width: 100%;
			height: 20%;
			&::before {
				content: '';
				position: absolute;
				bottom: -400%;
				left: 0;
				width: 100%;
				height: 500%;
				background-color: var(--gray-light);
				transition: height 1.5s $default-transition-function;
			}
			&.is-animated {
				&::before {
					height: 0;
				}
			}
		}
	}
}
