.subscription-success {
	width: rem(432);
	padding: rem(32);
	box-sizing: border-box;
	@media (max-width: $tablet) {
		width: 360px;
	}
	@media (max-width: $mobile-md) {
		width: 100%;
		padding: 24px;
	}
	&__title {
		margin-bottom: rem(16);
		text-transform: uppercase;
	}
	&__text {
		color: var(--gray-dark);
	}
	&__link {
		color: var(--blue-light);
	}
}
