.brands-title {
	padding-top: rem(78);
	background-color: var(--white);
	@media (max-width: $laptop-lg) {
		padding-top: 60px;
	}
	@media (max-width: $laptop-md) {
		padding-top: 40px;
	}
	&__title {
		margin-bottom: rem(74);
		@media (max-width: $laptop-lg) {
			margin-bottom: 60px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 40px;
		}
	}
	&__scroll {
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
		max-width: var(--container-max-width);
		margin: 0 auto;
		overflow: auto;
		@include scrollbar {
			display: none;
		}
	}
	&__scroll-wrap {
		min-width: 1280px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: rem(24);
		padding-bottom: rem(40);
		border-top: 1px solid rgba($blue-dark, 0.2);
		column-gap: rem(51);
	}
	&__letters {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		column-gap: rem(16);
	}
	&__all {
		flex-shrink: 0;
		padding: rem(8) rem(16);
		border-radius: rem(40);
		background-color: var(--blue-dark);
		color: var(--white);
		&[href],
		&[type='button'] {
			@extend .animated;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__link {
		color: rgba($gray-dark, 0.4);
		&[href],
		&[type='button'] {
			@extend .animated;
			&:hover {
				opacity: 0.7;
			}
		}
		&._active {
			color: var(--blue-dark);
		}
	}
	&__extra {
		flex-shrink: 0;
		display: flex;
		column-gap: rem(32);
		margin-left: rem(60);
	}
	&__bottom {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		padding-top: rem(30);
		padding-bottom: rem(30);
	}
	&__number {
		font-family: var(--font-family-suisse);
		text-align: center;
		font-size: rem(20);
		line-height: rem(26);
		color: var(--grey-dark);
	}
	&__grid {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__search {
		@include reset-btn;
		--size: #{rem(36)};
		width: var(--size);
		height: var(--size);
		fill: none;
		&[href],
		&[type='button'] {
			@extend .animated;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__number {
		font-family: var(--font-family-suisse);
		font-size: rem(20);
		line-height: rem(26);
		color: var(--gray-dark);
	}
	&__grid-text {
		font-size: 20px;
		line-height: 26px;
		color: var(--gray-dark);
	}
	&__grid-btns {
		display: flex;
		column-gap: rem(8);
		margin-left: rem(20);
	}
	&__grid-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		@include reset-btn;
		--size: #{rem(32)};
		width: var(--size);
		height: var(--size);
		padding: rem(6);
		fill: none;
		border-radius: 50%;
		border: 1px solid var(--gray-dark);
		color: var(--gray-dark);
		@extend .animated;
		&._active,
		&:hover {
			border-color: var(--blue-dark);
			background-color: var(--blue-dark);
			color: var(--white);
		}
	}
	&__grid-icon {
		width: 100%;
		height: 100%;
	}
}
