.cart-bottom {
	position: sticky;
	z-index: 1;
	bottom: 0;
	display: flex;
	column-gap: rem(20);
	box-sizing: border-box;
	width: calc(100% + var(--popup-padding) * 2);
	padding: rem(49) var(--popup-padding) rem(37) var(--popup-padding);
	margin-left: calc(0px - var(--popup-padding));
	color: var(--white);
	background-color: var(--blue-dark);
	min-height: rem(176);
	._empty & {
		pointer-events: none;
		background: rgba($blue-light, 0.6);
	}
	@media (max-width: $laptop-lg) {
		min-height: 134px;
		padding-top: 38px;
		padding-bottom: 32px;
	}
	@media (max-width: $laptop) {
		min-height: 112px;
		padding-top: 29px;
		padding-bottom: 24px;
	}
	@media (max-width: $tablet) {
		padding-top: 30px;
		padding-inline: 32px;
	}
	@media (max-width: $mobile-lg) {
		min-height: 64px;
		padding: 13px var(--popup-padding) 9px var(--popup-padding);
	}
	&__price {
		min-width: rem(240);
		@media (max-width: $laptop-lg) {
			min-width: 200px;
		}
		@media (max-width: $laptop-md) {
			min-width: 140px;
		}
		@media (max-width: $laptop-sm) {
			min-width: 200px;
		}
		@media (max-width: $mobile-lg) {
			min-width: 96px;
		}
	}
}
