.cart {
	--block-padding: #{rem(48)};
	$this: &;
	display: flex;
	flex-direction: column;
	height: calc(var(--100vh) - var(--header-height));
	box-sizing: border-box;
	@media (max-width: $desktop) {
		--block-padding: 32px;
	}
	@media (max-width: $mobile-only) {
		--block-padding: 16px;
	}
	&._empty {
		#{$this}__list {
			flex-grow: 0;
		}
	}
	&__title,
	&__title-wrapper {
		display: flex;
		align-items: center;
		column-gap: rem(12);
		padding-right: rem(50);
		margin-bottom: rem(59);
		@media (max-width: $laptop-lg) {
			margin-bottom: 40px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 32px;
		}
		@media (max-width: $tablet) {
			margin-bottom: 29px;
		}
		@media (max-width: $mobile-lg) {
			column-gap: 16px;
		}
		#{$this}__title {
			margin: 0;
			padding-right: 0;
		}
	}
	&__back-btn {
		display: none;
		@media (max-width: $mobile-lg) {
			.button__icon {
				width: 22px;
				height: 22px;
			}
		}
	}
	&__title-wrapper {
		&._delivery {
			margin-bottom: rem(40);
		}
	}
	&__title {
		padding-top: 0.1em;
		#{$this}._shop &._rent {
			display: none;
		}
		#{$this}._rent &._shop {
			display: none;
		}
		#{$this}._rent &._rent {
			display: flex;
		}
	}
	&__list {
		flex-grow: 1;
		&._readonly {
			display: none;
		}
	}
	&__cart-list {
		display: none;
		flex-direction: column;
		padding: var(--popup-padding);
		padding-bottom: rem(45);
		margin: calc(0px - var(--popup-padding));
		margin-bottom: 0;
		margin-right: 0;
		grid-column: 1/2;
		grid-row: 2/3;
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		box-sizing: border-box;
		#{$this}__title-wrapper {
			margin-bottom: rem(60);
			@media (max-width: $laptop-lg) {
				margin-bottom: 36px;
			}
			@media (max-width: $laptop) {
				margin-bottom: 30px;
			}
		}
		#{$this}__list {
			margin-bottom: rem(48);
			@media (max-width: $laptop-lg) {
				margin-bottom: 32px;
			}
			@media (max-width: $laptop-lg) {
				margin-bottom: 20px;
			}
		}
	}
	&__delivery {
		display: none;
		grid-column: 2/3;
		grid-row: 1/-1;
		flex-direction: column;
		height: 100%;
		padding: var(--popup-padding);
		padding-bottom: 0;
		margin: calc(0px - var(--popup-padding));
		margin-bottom: 0;
		margin-left: 0;
		border-left: 1px solid var(--blue-dark);
		box-sizing: border-box;
		background-color: var(--gray-light);
		overflow-x: hidden;
		overflow-y: auto;
		scroll-behavior: smooth;
		@media (max-width: $tablet) {
			height: auto;
			border-left: none;
		}
		.cart-bottom {
			position: static;
			&._hidden {
				margin-top: rem(-134);
				opacity: 0;
				pointer-events: none;
			}
		}
		@media (max-width: $mobile-lg) {
			.cart-bottom {
				&._hidden {
					margin-top: rem(-64);
				}
			}
		}
	}
	&__delivery-content {
		flex-grow: 1;
		&._total {
			display: none;
		}
		#{$this}._shop &._rent {
			display: none;
		}
		#{$this}._rent &._shop {
			display: none;
		}
		#{$this}._rent &._rent {
			display: flex;
			gap: rem(40);
			&._total {
				display: none;
			}
			._opened-pay & {
				display: none;
				&._total {
					display: flex;
				}
			}
		}
	}
	&__submit {
		margin-top: auto;
		margin-left: auto;
		#{$this}._shop &._rent {
			display: none;
		}
		#{$this}._rent &._shop {
			display: none;
		}
		#{$this}._rent &._rent {
			display: flex;
		}
	}
	&__price {
		display: flex;
		flex-direction: column;
		gap: rem(4);
		color: var(--blue-light);
		min-width: rem(240);
		margin-top: auto;
		@media (max-width: $laptop-lg) {
			min-width: 200px;
		}
		@media (max-width: $laptop-md) {
			min-width: 140px;
		}
		@media (max-width: $laptop-sm) {
			min-width: 200px;
		}
		@media (max-width: $mobile-lg) {
			min-width: 96px;
			font-size: 10px;
			line-height: 1.6;
		}
		&._white {
			color: var(--gray-light);
			#{$this}__price-value {
				color: var(--white);
			}
		}
		&._secondary {
			font-family: var(--font-family-suisse);
			#{$this}__price-value {
				margin-top: rem(4);
				font-size: rem(32);
				letter-spacing: 0;
				@media (max-width: $laptop-lg) {
					margin-top: rem(8);
				}
			}
		}
		#{$this}._shop &._rent {
			display: none;
		}
		#{$this}._rent &._shop {
			display: none;
		}
		#{$this}._rent &._rent {
			display: block;
		}
	}
	&__price-value {
		display: inline-block;
		margin-top: rem(8);
		color: var(--blue-dark);
		@media (max-width: $laptop-lg) {
			margin-top: 4px;
			font-size: 28px;
			line-height: 1.3;
			letter-spacing: 0;
		}
		@media (max-width: $laptop) {
			font-size: 30px;
		}
		@media (max-width: $mobile-lg) {
			margin-top: 0;
			font-size: 18px;
		}
	}
	&__pay {
		position: relative;
		grid-column: 3/4;
		grid-row: 1/-1;
		display: none;
		flex-direction: column;
		margin-right: calc(0px - var(--popup-padding));
		padding-inline: var(--popup-padding);
		&::after {
			content: '';
			position: absolute;
			top: calc(0px - var(--popup-padding));
			left: 1px;
			height: var(--100vh);
			width: 1px;
			background-color: var(--blue-dark);
		}
		.cart__back-btn {
			display: none;
		}
		.cart-bottom {
			margin-left: calc(1px - var(--popup-padding));
		}
		@media (max-width: $laptop-sm) {
			.cart-bottom {
				margin-left: calc(0px - var(--popup-padding));
			}
		}
	}
	&__cart-pay {
		flex-grow: 1;
	}
	&__price-currency {
		@media (max-width: $laptop-lg) {
			font-size: 28px;
		}
		@media (max-width: $laptop) {
			font-size: 30px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 18px;
		}
	}
	&__submit {
		&.button .button__icon {
			@media (max-width: $laptop) {
				--size: 16px;
			}
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 3px;
			margin-right: 3px;
		}
	}
	&__block {
		padding: var(--block-padding);
		border: 1px solid rgba($blue-light, 0.2);
		background-color: var(--white);
		@media (max-width: $mobile-only) {
			padding: 24px var(--block-padding) 32px;
		}
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
		.delivery-register,
		.delivery-auth,
		.order-auth-data {
			display: none;
		}
		&._profile,
		&._complete {
			.order-auth-data {
				display: block;
			}
		}
		&._auth {
			.delivery-auth {
				display: block;
			}
		}
		&._edit {
			.delivery-register {
				display: block;
			}
		}
		&._complete {
			.cart__title-btn._edit,
			#{$this}__inner,
			.delivery-auth,
			.delivery-address__tabs-list,
			.delivery-register._new-user,
			.delivery-address__section {
				display: none;
			}
		}
		&._hidden {
			box-sizing: border-box;
			overflow: hidden;
			height: rem(126);
			background-color: var(--gray-light);
			@media (max-width: $desktop) {
				height: 92px;
			}
			@media (max-width: $mobile-only) {
				height: 100px;
			}
			.cart__block-title {
				color: rgba($gray-dark, 0.4);
			}
			.cart__title-wrap {
				padding-bottom: var(--block-padding);
			}
		}
	}
	&__title-wrap {
		display: flex;
		justify-content: space-between;
		gap: rem(24);
		padding: var(--block-padding);
		padding-bottom: 0;
		margin: calc(var(--block-padding) * -1);
		margin-bottom: rem(48);
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: 16px;
		}
		&._discount {
			margin-bottom: rem(16);
		}
	}
	&__block-title {
		color: var(--gray-dark);
		line-height: 1;
		font-weight: 450;
		@media (max-width: $mobile-only) {
			line-height: 1.33;
		}
	}
	&__title-btn {
		@include reset-btn;
		display: flex;
		gap: rem(16);
		color: var(--greydark);
		@media (max-width: $mobile-lg) {
			gap: 8px;
		}
		&._edit,
		&._auth {
			display: none;
		}
		#{$this}__block._edit &._edit,
		#{$this}__block._auth &._auth {
			display: flex;
		}
		#{$this}__block._complete &._edit,
		#{$this}__block._complete &._auth {
			display: none;
		}
	}
	&__title-btn-icon {
		--size: #{rem(24)};
		width: var(--size);
		height: var(--size);
		@media (max-width: $mobile-lg) {
			--size: 16px;
		}
	}
	&__label {
		display: none;
		align-items: center;
		gap: 2px;
		padding: rem(4) rem(8);
		background-color: var(--green-light);
		border-radius: rem(100);
		font-size: rem(10);
		line-height: 1.2;
		color: var(--white);
		text-transform: initial;
		transform: translateY(-2px);
		.cart-discount._card-bonus & {
			display: inline-flex;
		}
		.cart-bottom._card-bonus & {
			display: inline-flex;
		}
	}
	&__label-small {
		font-size: rem(8);
	}
	@media (max-width: $mobile-lg) {
		.cart-bottom._fixed {
			position: fixed;
			left: var(--popup-padding);
			bottom: 0;
			width: 100%;
		}
	}
	&__breadcrumbs {
		display: none;
		flex-shrink: 0;
		margin-bottom: rem(40);
		@media (max-width: $laptop) {
			margin-inline: calc(var(--popup-padding) * -1);
			padding-inline: var(--popup-padding);
		}
		#{$this}._shop & {
			display: flex;
		}
	}
	&__next-button {
		@include reset-btn;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: rem(24);
		width: calc(100% + var(--block-padding) * 2);
		padding: rem(40);
		padding-bottom: rem(32);
		margin: calc(var(--block-padding) * -1);
		margin-top: var(--block-padding);
		color: var(--white);
		background-color: var(--blue-dark);
		font-size: rem(16);
		font-weight: 400;
		line-height: rem(20);
		text-transform: uppercase;
		svg {
			width: rem(24);
			height: rem(24);
		}
		&[disabled] {
			background-color: rgba($blue-light, 0.6);
			pointer-events: none;
		}
		&._hidden {
			display: none;
		}
		@media (max-width: $mobile-only) {
			margin-bottom: calc(var(--block-padding) * -2);
		}
		@media (max-width: $mobile-lg) {
			padding: rem(20) rem(16);
			column-gap: rem(8);
			font-size: rem(14);
			line-height: rem(16);
		}
	}
}

._opened-delivery {
	.cart {
		display: grid;
		grid-template-columns: #{rem(576)} 1fr;
		grid-template-rows: min-content 1fr;
		@media (max-width: $desktop-2) {
			grid-template-columns: #{rem(480)} 1fr;
		}
		&__cart-list {
			display: flex;
			.cart__back-btn {
				display: inline-flex;
			}
		}
		&__delivery {
			position: relative;
			display: flex;
			.cart__back-btn {
				display: none;
			}
		}
		&__tabs {
			display: none;
		}
		&__title {
			display: none;
			&._cart,
			&._delivery {
				display: flex;
			}
		}
		@media (max-width: $laptop-md) {
			display: block;
			&__cart-list {
				display: none;
			}
			&__delivery {
				margin-left: calc(0px - var(--popup-padding));
				.cart__back-btn {
					display: inline-flex;
				}
				.popups__close-button {
					display: inline-flex;
				}
			}
		}
	}
	.cart-item {
		display: grid;
		grid-template-areas:
			'img-wrapper info'
			'img-wrapper controls';
		grid-template-columns: auto 1fr;
		&__info {
			width: auto;
		}
		&__controls {
			margin-top: auto;
		}
		.counter__btn {
			display: none;
		}
		.counter__units {
			display: inline-block;
		}
	}
}

._opened-pay {
	.cart {
		margin-inline: calc(0px - var(--popup-padding));
		grid-template-columns: 1fr 1fr 1fr;
		&__title-wrapper {
			&._delivery {
				margin-bottom: rem(58);
			}
		}
		&__cart-list {
			width: 100%;
			box-sizing: border-box;
			margin-left: 0;
		}
		&__pay {
			display: flex;
			width: 100%;
			box-sizing: border-box;
			.cart__title {
				display: flex;
			}
		}
		&__delivery {
			margin-inline: 0;
			width: 100%;
			box-sizing: border-box;
			.cart__back-btn {
				display: inline-flex;
			}
			.cart-bottom {
				display: none;
			}
		}
		&__delivery-content {
			display: none;
			&._total {
				display: block;
			}
		}
		&__list {
			display: none;
			&._readonly {
				display: block;
				margin-bottom: 0;
				.cart-list__list {
					row-gap: 0;
				}
			}
		}
		@media (max-width: $laptop-lg) {
			&__title-wrapper {
				&._delivery {
					margin-bottom: 38px;
				}
			}
			&__pay {
				.cart__title-wrapper {
					margin-bottom: 42px;
				}
			}
		}
		@media (max-width: $laptop-md) {
			grid-template-columns: 1fr 1fr;
			&__cart-list {
				display: none;
			}
			&__delivery {
				grid-column: 1/2;
				margin-left: 0;
			}
			&__pay {
				grid-column: 2/3;
			}
		}
		@media (max-width: $laptop) {
			font-size: 14px;
			&__delivery {
				margin-left: 0;
				border: 0;
			}
			&__pay {
				.cart__title-wrapper {
					margin-bottom: 40px;
				}
			}
		}
		@media (max-width: $laptop-sm) {
			display: flex;
			&__delivery {
				display: none;
			}
			&__pay {
				flex-grow: 1;
				overflow-x: hidden;
				&::after {
					display: none;
				}
				.cart__back-btn {
					display: inline-flex;
				}
				.cart__title-wrapper {
					margin-bottom: 64px;
				}
			}
		}
		@media (max-width: $mobile-lg) {
			&__pay {
				.cart__title-wrapper {
					margin-bottom: 46px;
				}
			}
		}
	}
}
