.catalog {
	$this: &;
	@media (max-width: $mobile-lg) {
		--offset-height: 32px;
		padding-top: var(--offset-height);
	}
	&__list {
		--item-width: 25%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(var(--item-width), 1fr));
		@media (min-width: 1734px) {
			border-top: 1px solid var(--blue-dark);
		}
		@media (max-width: $laptop-sm) {
			--item-width: calc(100% / 3);
		}
		@media (max-width: $mobile-lg) {
			--item-width: 50%;
		}
		&._cols-4 {
			--item-width: 25%;
		}
		&._cols-3 {
			--item-width: calc(100% / 3);
			#{$this}__card {
				--card-padding: 1.5rem;
				--card-margin: 1rem;
				--card-height: 45rem; // 720px
				--photo-width: 26rem; // 416px
				--photo-height: 32rem; // 512px
				--photo-top: auto;
				--photo-bottom: 3.5rem; // 56px
				--button-height: 3.5rem; // 56px
				.product-card__photo._zoom {
					transform: scale(1.07);
				}
				@media (max-width: $laptop-lg) {
					--card-height: 600px;
					--photo-width: 336px;
					--photo-height: 440px;
					--photo-bottom: 72px;
					--button-height: 72px;
					.product-card__photo._zoom {
						transform: none;
					}
				}
				@media (max-width: $laptop) {
					--card-padding: 16px;
					--card-margin: 8px;
					--card-height: 420px;
					--photo-width: 224px;
					--photo-height: 252px;
					--photo-bottom: 57px;
				}
				@media (max-width: $mobile-lg) {
					--card-height: 320px;
					--card-padding: 8px;
					--photo-width: 171px;
					--photo-height: 194px;
					--photo-bottom: 40px;
				}
			}
			#{$this}__promo-card {
				&._new-drop {
					--card-padding: 4rem; // 64px
					--bg-img-width: 59.375rem; // 950px
					--bg-img-top: -14.75rem; // -236px
					--bg-img-right: 0.8125rem; // 13px
					@media (max-width: $laptop-lg) {
						--card-padding: 40px;
						--bg-img-width: 795px;
						--bg-img-top: -200px;
						--bg-img-right: 9px;
					}
					@media (max-width: $laptop) {
						--card-padding: 32px;
						--bg-img-top: -78px;
						--bg-img-right: -20px;
						--bg-img-width: 496px;
					}
				}
				&._start {
					.catalog-promo__tag {
						@media (max-width: $laptop-lg) {
							position: absolute;
						}
						@media (max-width: $laptop) {
							position: static;
						}
					}
				}
			}
		}
		&._cols-2 {
			--item-width: 50%;
			#{$this}__card {
				--card-padding: 1.5rem;
				--card-margin: 1rem;
				--card-height: 54.875rem; // 878px
				--photo-width: 39rem; // 624px
				--photo-height: 40.375rem; // 646px
				--photo-top: 10.75rem; // 172px
				--button-height: 4.5rem; // 72px
				--fs-title: 1.75rem; // 28px
				--fs-desc: 1.5rem; // 24px
				--fs-badge: 1rem; // 16px
				--badge-size: 3.5rem; // 56px
				.product-card__photo._zoom {
					transform: scale(1.07);
				}
				@media (max-width: $laptop-lg) {
					--card-height: 736px;
					--photo-width: 528px;
					--photo-height: 552px;
					--photo-top: auto;
					--photo-bottom: 72px;
				}
				@media (max-width: $laptop) {
					--card-padding: 20px;
					--card-margin: 16px;
					--card-height: 524px;
					--photo-width: 360px;
					--photo-height: 346px;
					--photo-bottom: 80px;
					--fs-title: 24px;
					--fs-desc: 18px;
					--fs-badge: 12px;
					--badge-size: 40px;
					.button {
						&._wishlist {
							background-size: 40px;
							&._active {
								background-size: 36px;
							}
						}
						&._product-card {
							background-size: 40px;
						}
					}
				}
				@media (max-width: $mobile-lg) {
					--card-height: 320px;
					--card-padding: 8px;
					--card-margin: 8px;
					--photo-width: 171px;
					--photo-height: 194px;
					--photo-bottom: 40px;
					--fs-title: 14px;
					--fs-desc: 12px;
					--badge-size: 24px;
					--fs-badge: 8px;
					.button {
						&._wishlist {
							--size: 40px;
							background-size: 24px;
							&._active {
								background-size: 22px;
							}
						}
						&._product-card {
							background-size: 27px;
						}
					}
				}
			}
			#{$this}__promo-card {
				&._new-drop {
					--card-padding: 4rem; // 64px
					--bg-img-width: 54.125rem; // 866px
					--bg-img-top: 0;
					--bg-img-right: 0;
					@media (max-width: $laptop-lg) {
						--card-padding: 40px;
						--bg-img-width: 910px;
						--bg-img-top: -224px;
						--bg-img-right: -70px;
						--bg-img-height: 985px;
						--bg-img-fit: auto;
					}
					@media (max-width: $laptop) {
						--bg-img-top: -237px;
						--bg-img-right: -42px;
						--bg-img-width: 568px;
						--bg-img-fit: contain;
					}
					@media (max-width: $mobile-lg) {
						--card-padding: 24px;
						--card-tag-padding: 24px;
						--logo-top: 16px;
						--arrow-size: 56px;
						--bg-img-top: -58px;
						--bg-img-right: -14px;
						--bg-img-width: 363px;
						--bg-img-height: 383px;
					}
				}
				&._start {
					--card-height: 54.875rem; // 878px
					--card-padding: 1.5rem; // 24px
					--card-margin: 1rem; // 16px
					@media (max-width: $laptop-lg) {
						--card-height: 736px;
					}
					@media (max-width: $laptop) {
						--card-height: 524px;
					}
					@media (max-width: $mobile-lg) {
						--card-height: 320px;
						--card-padding: 8px;
						--card-margin: 8px;
					}
					.catalog-promo__tag {
						@media (max-width: $laptop-lg) {
							position: absolute;
						}
						@media (max-width: $laptop) {
							position: static;
						}
					}
				}
			}
			#{$this}__item {
				&._promo-2 {
					grid-column: 1/2;
					grid-row: 4/5;
					@media (max-width: $mobile-lg) {
						grid-column: 1/-1;
					}
				}
			}
		}
		&._cols-1 {
			--item-width: 100%;
			#{$this}__card {
				--card-height: 420px;
				--card-padding: 16px;
				--card-margin: 8px;
				--photo-width: 263px;
				--photo-height: 294px;
				--photo-bottom: 56px;
				--fs-title: 18px;
				--fs-desc: 14px;
				--badge-size: 32px;
				--fs-badge: 10px;
				.button {
					&._wishlist {
						--size: 50px;
						background-size: 32px;
						&._active {
							background-size: 28px;
						}
					}
					&._product-card {
						--size: 50px;
						background-size: 36px;
					}
				}
			}
			#{$this}__promo-card {
				@media (max-width: $mobile-lg) {
					--card-height: 420px;
				}
			}
			#{$this}__item {
				&._empty {
					--card-height: 420px;
					--empty-logo-size: 293px 160px;
				}
				&._promo-1 {
					grid-column: 1/-1;
					grid-row: 2/3;
				}
				&._promo-2 {
					grid-column: 1/-1;
					grid-row: 4/5;
				}
				&._promo-3 {
					grid-column: 1/-1;
				}
			}
		}
	}
	&__item {
		display: flex;
		&._promo-1 {
			grid-column: -2/-1;
			grid-row: 2/3;
		}
		&._promo-2 {
			grid-column: 1/3;
			grid-row: 4/5;
		}
		&._promo-3 {
			grid-column: -3/-1;
		}
	}
}
