.catalog {
	$this: &;
	@media (max-width: $mobile-lg) {
		--offset-height: 32px;
		padding-top: var(--offset-height);
	}
	&__wrapper {
		position: relative;
		display: flex;
		align-items: flex-start;
	}
	&__filters-wrapper {
		position: sticky;
		top: var(--header-height);
		display: flex;
		flex-shrink: 0;
		height: calc(var(--100vh) - var(--header-height));
		width: 0;
		opacity: 0;
		overflow: hidden;
		will-change: width, opacity;
	}
	&__filters-form {
		width: 100%;
		flex-grow: 1;
		flex-shrink: 0;
	}
	&__list {
		--item-width: 25%;
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(var(--item-width), 1fr));
		grid-auto-rows: min-content;
		@media (min-width: 1734px) {
			border-top: 1px solid var(--blue-dark);
		}
		@media (max-width: $laptop-sm) {
			--item-width: calc(100% / 3);
		}
		@media (max-width: $mobile-lg) {
			--item-width: 50%;
		}
		&._cols-4 {
			--item-width: 25%;
		}
		&._cols-3 {
			--item-width: calc(100% / 3);
			#{$this}__card {
				--card-padding: 1.5rem;
				--card-margin: 1rem;
				--card-height: #{rem(720)};
				--photo-width: #{rem(416)};
				--photo-height: #{rem(512)};
				--photo-top: auto;
				--photo-bottom: #{rem(56)};
				--button-height: #{rem(56)};
				.product-card__photo._zoom {
					transform: scale(1.07);
				}
				@media (max-width: $laptop-lg) {
					--card-height: 600px;
					--photo-width: 336px;
					--photo-height: 440px;
					--photo-bottom: 72px;
					--button-height: 72px;
					.product-card__photo._zoom {
						transform: none;
					}
				}
				@media (max-width: $laptop) {
					--card-padding: 16px;
					--card-margin: 8px;
					--card-height: 420px;
					--photo-width: 224px;
					--photo-height: 252px;
					--photo-bottom: 57px;
				}
				@media (max-width: $mobile-lg) {
					--card-height: 320px;
					--card-padding: 8px;
					--photo-width: 171px;
					--photo-height: 194px;
					--photo-bottom: 40px;
				}
			}
			#{$this}__promo-card {
				&._new-drop {
					--card-padding: #{rem(64)};
					--bg-img-width: #{rem(950)};
					--bg-img-top: #{0 - rem(236)};
					--bg-img-right: #{rem(13)};
					@media (max-width: $laptop-lg) {
						--card-padding: 40px;
						--bg-img-width: 795px;
						--bg-img-top: -200px;
						--bg-img-right: 9px;
					}
					@media (max-width: $laptop) {
						--card-padding: 32px;
						--bg-img-top: -78px;
						--bg-img-right: -20px;
						--bg-img-width: 496px;
					}
				}
				&._freeride {
					--card-padding: #{rem(64)};
					@media (max-width: $laptop-lg) {
						--card-padding: 40px;
					}
					@media (max-width: $laptop) {
						--card-padding: 32px;
					}
				}
				&._start {
					.catalog-promo__tag {
						@media (max-width: $laptop-lg) {
							position: absolute;
						}
						@media (max-width: $laptop) {
							position: static;
						}
					}
				}
			}
		}
		&._cols-2 {
			--item-width: 50%;
			#{$this}__card {
				--card-padding: 1.5rem;
				--card-margin: 1rem;
				--card-height: #{rem(878)};
				--photo-width: #{rem(624)};
				--photo-height: #{rem(646)};
				--photo-top: #{rem(172)};
				--button-height: #{rem(72)};
				--fs-title: #{rem(28)};
				--fs-desc: #{rem(24)};
				--fs-badge: #{rem(16)};
				--badge-size: #{rem(56)};
				.product-card__photo._zoom {
					transform: scale(1.07);
				}
				@media (max-width: $laptop-lg) {
					--card-height: 736px;
					--photo-width: 528px;
					--photo-height: 552px;
					--photo-top: auto;
					--photo-bottom: 72px;
				}
				@media (max-width: $laptop) {
					--card-padding: 20px;
					--card-margin: 16px;
					--card-height: 524px;
					--photo-width: 360px;
					--photo-height: 346px;
					--photo-bottom: 80px;
					--fs-title: 24px;
					--fs-desc: 18px;
					--fs-badge: 12px;
					--badge-size: 40px;
					.button {
						&._wishlist {
							left: 16px;
							background-size: 40px;
							&._active {
								background-size: 36px;
							}
						}
						&._product-card {
							right: 8px;
							background-size: 40px;
						}
					}
				}
				@media (max-width: $mobile-lg) {
					--card-height: 320px;
					--card-padding: 8px;
					--card-margin: 8px;
					--photo-width: 171px;
					--photo-height: 194px;
					--photo-bottom: 40px;
					--fs-title: 14px;
					--fs-desc: 12px;
					--badge-size: 24px;
					--fs-badge: 8px;
					.button {
						&._wishlist {
							--size: 40px;
							left: 4px;
							background-size: 24px;
							&._active {
								background-size: 22px;
							}
						}
						&._product-card {
							right: 4px;
							background-size: 27px;
						}
					}
				}
			}
			#{$this}__promo-card {
				&._new-drop {
					--card-padding: #{rem(64)};
					--bg-img-width: #{rem(866)};
					--bg-img-top: 0;
					--bg-img-right: 0;
					@media (max-width: $laptop-lg) {
						--card-padding: 40px;
						--bg-img-width: 910px;
						--bg-img-top: -224px;
						--bg-img-right: -70px;
						--bg-img-height: 985px;
						--bg-img-fit: auto;
					}
					@media (max-width: $laptop) {
						--bg-img-top: -237px;
						--bg-img-right: -42px;
						--bg-img-width: 568px;
						--bg-img-fit: contain;
					}
					@media (max-width: $mobile-lg) {
						--card-padding: 24px;
						--card-tag-padding: 24px;
						--logo-top: 16px;
						--arrow-size: 56px;
						--bg-img-top: -58px;
						--bg-img-right: -14px;
						--bg-img-width: 363px;
						--bg-img-height: 383px;
					}
				}
				&._freeride {
					--card-padding: #{rem(64)};
					@media (max-width: $laptop-lg) {
						--card-padding: 40px;
					}
					@media (max-width: $mobile-lg) {
						--card-padding: 24px;
						--card-tag-padding: 24px;
						--logo-top: 16px;
						--arrow-size: 56px;
					}
				}
				&._start {
					--card-height: #{rem(878)};
					--card-padding: #{rem(24)};
					--card-margin: #{rem(16)};
					@media (max-width: $laptop-lg) {
						--card-height: 736px;
					}
					@media (max-width: $laptop) {
						--card-height: 524px;
					}
					@media (max-width: $mobile-lg) {
						--card-height: 320px;
						--card-padding: 8px;
						--card-margin: 8px;
					}
					.catalog-promo__tag {
						@media (max-width: $laptop-lg) {
							position: absolute;
						}
						@media (max-width: $laptop) {
							position: static;
						}
					}
				}
			}
			#{$this}__item {
				&._promo-2 {
					grid-column: 1/2;
					grid-row: 4/5;
					@media (max-width: $mobile-lg) {
						grid-column: 1/-1;
					}
				}
				&._promo-3 {
					grid-column: -2/-1;
					@media (max-width: $mobile-lg) {
						grid-column: 1/-1;
					}
				}
			}
		}
		&._cols-1 {
			--item-width: 100%;
			#{$this}__card {
				--card-height: 420px;
				--card-padding: 16px;
				--card-margin: 8px;
				--photo-width: 263px;
				--photo-height: 294px;
				--photo-bottom: 56px;
				--fs-title: 18px;
				--fs-desc: 14px;
				--badge-size: 32px;
				--fs-badge: 10px;
				--card-padding-bottom: 56px;
				.button {
					&._wishlist {
						--size: 50px;
						left: 8px;
						bottom: 4px;
						background-size: 32px;
						&._active {
							background-size: 28px;
						}
					}
					&._product-card {
						--size: 50px;
						right: 4px;
						bottom: 4px;
						background-size: 36px;
					}
				}
			}
			#{$this}__promo-card {
				@media (max-width: $mobile-lg) {
					--card-height: 420px;
				}
			}
			#{$this}__item {
				&._empty {
					--card-height: 420px;
					--empty-logo-size: 293px 160px;
				}
				&._promo-1 {
					grid-column: 1/-1;
					grid-row: 3/4;
				}
				&._promo-2 {
					grid-column: 1/-1;
					grid-row: 5/6;
				}
				&._promo-3 {
					grid-column: 1/-1;
				}
			}
		}
	}
	&__item {
		display: flex;
		&._promo-1 {
			grid-column: -2/-1;
			grid-row: 2/3;
		}
		&._promo-2 {
			grid-column: 1/3;
			grid-row: 4/5;
		}
		&._promo-3 {
			grid-column: -3/-1;
		}
	}
	&__show-more-btn {
		grid-column: 1/-1;
		margin-top: -1px;
	}
}

._filters-opened {
	.catalog {
		@media (min-width: ($laptop-sm + 1px)) {
			&__list {
				&._cols-2 {
					.catalog__card {
						--card-padding: #{rem(16)};
						--card-margin: #{rem(8)};
						--button-height: #{rem(72)};
						--card-height: #{rem(540)};
						--photo-top: #{rem(114)};
						--photo-width: #{rem(304)};
						--photo-height: #{rem(364)};
						--fs-title: #{rem(18)};
						--fs-desc: #{rem(16)};
						--badge-size: #{rem(48)};
						--fs-badge: #{rem(14)};
						@media (max-width: $laptop) {
							--card-margin: 11px;
							--card-height: 420px;
							--photo-width: 224px;
							--photo-height: 252px;
							--photo-bottom: 57px;
							--fs-title: 16px;
							--fs-desc: 14px;
							--badge-size: 32px;
							--fs-badge: 10px;
						}
					}
					.catalog__promo-card {
						--card-height: #{rem(540)};
						--empty-logo-size: 22.5rem 18rem;
						--card-padding: #{rem(16)};
						--card-margin: #{rem(8)};
						@media (max-width: $laptop) {
							--card-height: 420px;
							--empty-logo-size: 200px 160px;
						}
					}
				}
			}
		}
	}
}
