.class-form {
	--gap: #{rem(16)};
	display: flex;
	flex-direction: column;
	gap: rem(24);
	@media (max-width: $laptop-lg) {
		gap: 24px 16px;
	}
	&__inputs {
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
	}
	&__input {
		width: calc(50% - var(--gap) / 2);
		@media (max-width: $mobile-lg) {
			width: 100%;
		}
		&._review {
			width: 100%;
			@media (max-width: $laptop-md) {
				height: 96px;
			}
		}
	}
	&__checkbox {
		.checkbox__label {
			color: var(--blue-dark);
			font-size: rem(12);
			line-height: rem(24);
			font-family: var(--default-font-family);
		}
	}
}
