.hero-index {
	$this: &;
	--padding-top: #{vh(96, 1040)};
	position: relative;
	box-sizing: border-box;
	min-height: var(--100vh);
	padding-top: calc(var(--header-height) + var(--padding-top));
	padding-bottom: vh(64, 1040);
	border-bottom: 1px solid var(--blue-dark);
	color: var(--white);
	background-color: var(--blue-dark);
	&__bg-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		pointer-events: none;
	}
	&__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity $default-transition-duration $default-transition-function;
		&._active {
			opacity: 1;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__container {
		position: relative;
		z-index: 1;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		row-gap: rem(16);
	}
	&__link {
		@extend .animated;
		color: transparent;
		-webkit-text-stroke: 1px var(--white);
		text-stroke: 1px var(--white);
		word-break: break-all;
		transition: color $default-transition-duration $default-transition-function;
		font-family: var(--font-family-suisse);
		font-size: clamp(64px, vh(190, 1040), rem(190));
		line-height: 1;
		&:hover {
			color: inherit;
		}
	}
	&__next-link {
		position: absolute;
		bottom: 0;
		right: 0;
		transition: transform $default-transition-duration $default-transition-function;
		&:hover {
			transform: translateY(5px);
		}
	}
	&__text {
		position: absolute;
		top: 0;
		right: 0;
		max-width: rem(385);
	}
}
