.input-search {
	@extend .animated;
	$this: &;
	--icon-size: #{rem(24)};
	position: relative;
	display: flex;
	column-gap: rem(48);
	opacity: 0.5;
	&:hover,
	&:focus-within {
		opacity: 1;
	}
	&._filled {
		#{$this}__label-text {
			top: 0;
			font-size: rem(12);
			@media (max-width: $tablet) {
				top: 5px;
			}
		}
	}
	@media (max-width: $laptop-lg) {
		column-gap: 32px;
	}
	@media (max-width: $mobile-lg) {
		column-gap: 24px;
	}
	&__label {
		position: relative;
		flex-grow: 1;
		padding-top: rem(16);
		@media (max-width: $tablet) {
			padding-top: 32px;
		}
	}
	&__label-text {
		position: absolute;
		top: rem(22);
		left: 0;
		pointer-events: none;
		transition: top $fast-transition-duration $default-transition-function,
			font-size $fast-transition-duration $default-transition-function;
		@media (max-width: $tablet) {
			top: 34px;
		}
	}
	&__input {
		box-sizing: border-box;
		width: 100%;
		height: rem(36);
		padding-bottom: rem(8);
		padding-right: var(--icon-size);
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid var(--blue-light);
		outline: 0;
		background: 0;
		font: inherit;
		font-size: rem(16);
		line-height: 1.5;
		color: var(--gray-dark);
	}
	&__icon {
		position: absolute;
		top: rem(16);
		right: 0;
		width: var(--icon-size);
		height: var(--icon-size);
		@media (max-width: $tablet) {
			top: 32px;
		}
	}
	&__lang {
		padding-top: rem(14);
		font-family: var(--font-family-suisse);
		font-size: rem(24);
		line-height: rem(36);
		white-space: nowrap;
		color: var(--blue-light);
		@media (max-width: $tablet) {
			padding-top: 28px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 22px;
		}
	}
	&._city {
		--icon-size: #{rem(36)};
		#{$this}__input {
			height: rem(48);
			padding-bottom: rem(12);
			border-color: var(--blue-dark);
		}
		@media (max-width: $tablet) {
			--icon-size: 24px;
			#{$this}__input {
				height: 29px;
				padding-bottom: 0;
			}
		}
	}
}
