.search-block {
	$this: &;
	--btn-size: #{rem(36)};
	position: relative;
	display: flex;
	align-items: center;
	&__btn {
		display: flex;
		min-width: var(--btn-size);
		height: var(--btn-size);
		&[href],
		&[type='button'] {
			&:hover {
				opacity: 0.7;
			}
		}
		.button__icon {
			&._close-search {
				display: none;
			}
		}
		._search-opened &,
		&._reset {
			.button__icon {
				&._search {
					display: none;
				}
				&._close-search {
					display: block;
				}
			}
		}
		@media (max-width: $mobile-lg) {
			.button__icon {
				width: 24px;
				height: 24px;
			}
			&._reset {
				.button__icon {
					&._search {
						display: block;
					}
					&._close-search {
						display: none;
					}
				}
			}
		}
	}
	&__label {
		opacity: 0.5;
	}
	&__btn-text {
		display: flex;
		column-gap: 0.25em;
		max-width: 300px;
		margin-left: rem(16);
		padding-top: 0.4em;
		white-space: nowrap;
		&._empty,
		._search-opened & {
			display: none;
		}
		@media (max-width: $laptop-sm) {
			flex-wrap: wrap;
		}
		@media (max-width: $mobile-lg) {
			display: none;
		}
	}
	&__value {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 220px;
		@media (max-width: $laptop-lg) {
			max-width: 200px;
		}
		@media (max-width: $laptop-md) {
			max-width: 100px;
		}
	}
}
