.personal-data {
	$this: &;
	--gap: #{rem(16)};
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--container-padding);
	@media (max-width: $laptop-sm) {
		grid-template-columns: repeat(1, 1fr);
		gap: 32px;
	}
	@media (max-width: $mobile-lg) {
		--gap: 8px;
		grid-template-columns: repeat(1, 1fr);
		gap: 24px;
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(32);
			@media (max-width: $laptop-md) {
				margin-bottom: 24px;
			}
			@media (max-width: $laptop-sm) {
				margin-bottom: 20px;
			}
			@media (max-width: $mobile-lg) {
				margin-bottom: 16px;
			}
		}
	}
	&__data {
		display: flex;
		align-items: flex-start;
		gap: calc(var(--gap) * 2);
	}
	&__data-inner {
		flex-grow: 1;
		display: grid;
		gap: var(--gap);
	}
	&__edit {
		@include reset-btn;
		flex-shrink: 0;
		color: var(--dark-blue);
		&:hover {
			#{$this}__edit-icon {
				fill: currentColor;
			}
		}
	}
	&__edit-icon {
		fill: none;
		transition: fill $default-transition-duration $default-transition-function;
	}
	&__add {
		display: flex;
		margin-left: auto;
		font-size: rem(16);
		line-height: rem(20);
		@media (max-width: $mobile-lg) {
			margin-left: 0;
			font-size: 14px;
			line-height: 16px;
		}
		.button__icon {
			--size: #{rem(24)};
			width: var(--size);
			height: var(--size);
			margin-left: rem(16);
			@media (max-width: $mobile-lg) {
				margin-left: 8px;
			}
		}
		.button__text {
			padding-top: 0.15em;
		}

		&:hover {
			.button__text {
				transform: translateX(0.2em);
			}
		}
	}
	&__form {
		margin-top: rem(48);
		@media (max-width: $laptop-lg) {
			margin-top: 32px;
		}
		@media (max-width: $laptop-md) {
			margin-top: 24px;
		}
		@media (max-width: $laptop-sm) {
			margin-top: 20px;
		}
		@media (max-width: $mobile-lg) {
			margin-top: 24px;
		}
		.personal-data-form {
			display: none;
		}
		&._active {
			.personal-data-form {
				display: block;
			}
			#{$this}__add {
				display: none;
			}
		}
	}
}
