.team {
	$this: &;
	&__title {
		margin-top: rem(176);
		margin-bottom: rem(59);
		@media (max-width: $laptop-lg) {
			margin-bottom: 40px;
		}
		@media (max-width: $laptop) {
			margin-top: 76px;
			margin-bottom: 29px;
		}
		@media (max-width: $tablet) {
			margin-top: 56px;
			margin-bottom: 24px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 16px;
		}
	}
	&__list {
		--gap: 1px;
		display: flex;
		flex-wrap: wrap;
		background-color: var(--blue-dark);
		&._distribution {
			#{$this}__item {
				box-sizing: border-box;
				min-height: rem(500);
				height: auto;
				&._active {
					height: auto;
					min-height: auto;
					background-color: var(--blue-dark);
					&::after {
						display: none;
					}
				}
			}
			@media (max-width: $desktop) {
				#{$this}__item {
					@include smoothValue('min-height', 420px, 500px, $laptop-lg, $desktop);
				}
			}
			@media (max-width: $laptop-lg) {
				#{$this}__item {
					@include smoothValue('min-height', 280px, 420px, $laptop, $laptop-lg);
				}
			}
			@media (max-width: $laptop-sm) {
				border-bottom: 1px solid var(--blue-dark);
				#{$this}__item {
					&:nth-child(n + 10) {
						display: none;
					}
				}
			}
			@media (max-width: $mobile-lg) {
				#{$this}__item {
					height: auto;
					padding-bottom: 0;
					min-height: 240px;
					&._active {
						height: auto;
						min-height: 240px;
						background-color: var(--blue-dark);
					}
					#{$this}__item-photo {
						height: 240px;
						transform: none;
					}
					&:nth-child(n + 3) {
						display: none;
					}
				}
			}
		}
	}
	&__item {
		--cols-number: 4;
		--gaps-number: calc(var(--cols-number) - 1);
		--width: calc(100% / var(--cols-number));
		--button-size: #{rem(32)};
		--button-pos: #{rem(24)};
		position: relative;
		padding-bottom: var(--width);
		height: 0;
		width: var(--width);
		overflow: hidden;
		cursor: pointer;
		transition: width $default-transition-duration $default-transition-function;
		box-shadow: inset 0 -1px 0 0 var(--blue-dark), -1px -1px 0 0 var(--blue-dark),
			0 -1px 0 0 var(--blue-dark);
		&::after {
			@extend .animated;
			content: '';
			position: absolute;
			top: var(--button-pos);
			right: var(--button-pos);
			width: var(--button-size);
			height: var(--button-size);
			background-image: inline('plus-circle-button.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
			transition: background $default-transition-duration $default-transition-function,
				opacity $default-transition-duration $default-transition-function;
		}
		&:hover {
			&::after {
				opacity: 1;
			}
		}
		&._active {
			--cols-number: 2;
			padding-bottom: 25%;
			&::after {
				z-index: 1;
				opacity: 1;
				background-image: inline('minus-circle-button.svg');
			}
			#{$this}__item-photo {
				transform: scale(1.02);
				opacity: 0;
				pointer-events: none;
			}
			#{$this}__item-details {
				pointer-events: all;
				animation: fadeIn $default-transition-duration $default-transition-function
					$default-transition-duration forwards;
			}
			@media (max-width: $laptop-sm) {
				--cols-number: 1.5;
				padding-bottom: calc(100% / 3);
			}
			@media (max-width: $mobile-lg) {
				padding-bottom: 100%;
			}
		}
		&._neighbor {
			--cols-number: 8;
			padding-bottom: 25%;
			@media (max-width: $laptop-sm) {
				--cols-number: 6;
				padding-bottom: calc(100% / 3);
			}
		}
		&._opening {
			#{$this}__item-photo {
				opacity: 0;
				transition: none;
			}
		}
		&._closing {
			#{$this}__item-photo {
				opacity: 0;
				transition: none;
			}
			#{$this}__item-details {
				opacity: 0;
				transition: none;
				pointer-events: none;
			}
		}
		&._prev {
			#{$this}__item-photo {
				object-position: left;
			}
		}
		&._white-bg {
			background-color: var(--white);
		}
		@media (max-width: $laptop-sm) {
			--cols-number: 3;
		}
		@media (max-width: $mobile-lg) {
			--width: 100%;
		}
	}
	&__item-details {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		height: 100%;
		padding: rem(32);
		color: var(--white);
		background-color: var(--blue-dark);
		opacity: 0;
		pointer-events: none;
		@media (max-width: $laptop-md) {
			padding: 20px;
		}
		@media (max-width: $mobile-only) {
			padding: 16px;
		}
	}
	&__item-name {
		margin-bottom: rem(8);
		@media (max-width: $mobile-only) {
			margin-bottom: 0;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 8px;
		}
	}
	&__item-title {
		opacity: 0.6;
		@media (max-width: $mobile-only) {
			font-size: 12px;
		}
	}
	&__item-info {
		margin-top: auto;
		p + p {
			margin-top: 1em;
		}
		@media (max-width: $laptop-md) {
			font-size: 12px;
			line-height: 16px;
		}
	}
	&__item-photo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right;
		transform: scale(1);
		transition: transform $default-transition-duration $default-transition-function
				$default-transition-duration,
			opacity $default-transition-duration $default-transition-function;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
