.cart-delivery {
	display: flex;
	flex-direction: column;
	&__auth-form {
		margin-bottom: rem(98);
		@media (max-width: $laptop-lg) {
			margin-bottom: 73px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 57px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 48px;
		}
	}
	&__register-form {
		margin-bottom: rem(96);
		@media (max-width: $laptop-lg) {
			margin-bottom: 71px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 56px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 48px;
		}
	}
}
