.cookies {
	position: fixed;
	z-index: 100;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: start;
	padding: rem(30);
	padding-bottom: 0;
	color: var(--black);
	opacity: 1;
	transition: opacity $default-transition-duration $default-transition-function;
	pointer-events: all;
	&._hidden {
		opacity: 0;
		pointer-events: none;
	}

	@media (max-width: $mobile-lg) {
		bottom: rem(-7);
		flex-direction: column-reverse;
		padding: rem(12);
		padding-bottom: 0;
	}
	&::before {
		content: '';
		display: block;
		width: rem(200);
		height: auto;
		aspect-ratio: 182/185;
		background: url('/assets/images/footer/cookies-man.svg') no-repeat;
		background-size: contain;

		@media (max-width: $mobile-lg) {
			width: rem(144);
			aspect-ratio: 144/146;
		}
	}
	&__text {
		position: relative;
		z-index: 1;
		box-sizing: border-box;
		width: rem(320);
		padding: rem(16) rem(58) 0 rem(15);
		background-color: var(--white);
		transform: translate(rem(28), rem(21));
		border: 1px solid var(--blue-dark);
		a {
			color: var(--blue-light);
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				color: var(--blue-light);
			}
		}

		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			z-index: 1;
			border-style: solid;
			border-width: rem(18) rem(18) 0 0;
			border-color: var(--white) transparent transparent transparent;
			transform: rotate(90deg);
			top: rem(12);
			left: rem(-18);
		}
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			z-index: 0;
			border-style: solid;
			border-width: rem(20) rem(20) 0 0;
			border-color: var(--blue-dark) transparent transparent transparent;
			transform: rotate(90deg);
			top: rem(11);
			left: rem(-20);
		}

		@media (max-width: $mobile-lg) {
			width: 100%;
			min-height: rem(71);
			padding: rem(12);
			margin-bottom: rem(13);
			transform: none;
			font-size: rem(14);
			line-height: rem(22);
			&::after,
			&::before {
				top: calc(100%);
				transform: none;
			}
			&::after {
				left: rem(113);
				border-width: rem(13) rem(13) 0 0;
			}
			&::before {
				left: rem(112);
				border-width: rem(15) rem(15) 0 0;
			}
		}
	}
	&__p {
		@media (max-width: $mobile-lg) {
			padding-right: rem(32);
		}
	}
	&__close {
		@include reset-btn;
		@extend .animated;
		position: absolute;
		top: rem(18);
		right: rem(19);
		z-index: 1;
		display: flex;
		color: var(--blue-dark);
		&:hover,
		&:focus {
			color: var(--gray-dark);
		}

		@media (max-width: $mobile-lg) {
			top: rem(13);
			right: rem(14);
		}
	}
	&__close-icon {
		--size: #{rem(25)};

		width: var(--size);
		height: var(--size);

		@media (max-width: $mobile-lg) {
			--size: #{rem(19)};
		}
	}
	&__button {
		width: calc(100% + rem(73));
		margin-top: rem(22);
		margin-left: rem(-15);
		padding: rem(15) rem(15) rem(10);
		background-color: var(--blue-dark);
		color: var(--white);
		font-family: var(--font-family-suisse);
		font-size: var(--font-size-h7);
		line-height: 1.3;
		font-weight: var(--default-font-weight);
		text-transform: uppercase;
		transition: background-color $default-transition-duration $default-transition-function;

		@media (max-width: $mobile-lg) {
			width: 100%;
			margin-left: 0;
			padding: rem(16);
			margin-top: rem(12);
		}
		&:hover,
		&:focus {
			background-color: var(--blue-light);
		}
	}
}
