.ecology-section {
	$this: &;
	--arrow-size: #{rem(88)};
	position: sticky;
	top: 0;
	box-sizing: border-box;
	height: var(--100vh);
	padding: var(--container-padding);
	padding-right: calc(var(--container-padding) * 2 + var(--arrow-size));
	border-top: 1px solid var(--blue-dark);
	&._first {
		top: calc(2 * var(--vh, 1vh));
		background-color: #526e7e;
	}
	&._second {
		top: calc(4 * var(--vh, 1vh));
		background-color: #757571;
	}
	&._third {
		top: calc(6 * var(--vh, 1vh));
		background-color: var(--white);
	}
	&._fourth {
		top: calc(8 * var(--vh, 1vh));
		background-color: #d9eaf5;
		#{$this}__bg-img img {
			object-position: top;
		}
	}
	&._fifth {
		top: calc(10 * var(--vh, 1vh));
		background-color: #bfbfbf;
		border-bottom: 1px solid var(--blue-dark);
	}
	&._sixth {
		top: calc(12 * var(--vh, 1vh));
		background-color: #8d8d8d;
	}
	&._seventh {
		top: calc(14 * var(--vh, 1vh));
		background-color: #dcdbdf;
	}
	&._white-arrow {
		color: var(--white);
		#{$this}__title {
			a {
				&::before {
					background-image: inline('promo-arrow.svg');
				}
				&:hover {
					&::before {
						background-image: inline('promo-arrow-white.svg');
					}
				}
			}
		}
	}
	&._blue-arrow {
		color: var(--gray-dark);
		#{$this}__title {
			a {
				&::before {
					background-image: inline('promo-arrow-blue.svg');
				}
				&:hover {
					&::before {
						background-image: inline('promo-arrow-blue-filled.svg');
					}
				}
			}
		}
	}
	@media (max-width: $laptop) {
		--arrow-size: 72px;
	}
	@media (max-width: $laptop-sm) {
		--arrow-size: 64px;
		position: relative;
		top: auto !important;
		height: auto;
		min-height: 800px;
		padding-right: var(--container-padding);
	}
	@media (max-width: $mobile-lg) {
		display: flex;
		flex-direction: column;
		min-height: 640px;
		padding-bottom: calc(var(--container-padding) * 2 + var(--arrow-size));
		&::before {
			position: absolute;
			z-index: 1;
			bottom: var(--container-padding);
			right: var(--container-padding);
			content: '';
			width: rem(72);
			width: var(--arrow-size);
			height: var(--arrow-size);
			background-image: inline('promo-arrow.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			transition: background $default-transition-duration $default-transition-function;
		}
	}
	&__title {
		display: flex;
		max-width: rem(1150);
		margin-bottom: rem(48);
		a {
			text-decoration: none;
			&::before {
				position: absolute;
				z-index: 1;
				top: var(--container-padding);
				right: var(--container-padding);
				content: '';
				width: rem(72);
				width: var(--arrow-size);
				height: var(--arrow-size);
				background-image: inline('promo-arrow.svg');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transition: background $default-transition-duration $default-transition-function;
				will-change: background;
				._safari & {
					transition: none;
				}
			}
			&:hover {
				color: inherit;
				&::before {
					background-image: inline('promo-arrow-white.svg');
				}
			}
		}
		@media (max-width: $laptop-lg) {
			margin-bottom: 32px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 24px;
		}
		@media (max-width: $laptop-sm) {
			position: relative;
			z-index: 1;
			max-width: none;
			padding-right: calc(var(--arrow-size) + var(--container-padding));
			a {
				&::before {
					top: 0;
					right: 0;
				}
			}
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 14px;
			padding-right: 0;
			a {
				&::before {
					display: none;
				}
			}
		}
	}
	&__text {
		position: relative;
		z-index: 1;
		max-width: rem(700);
		margin-bottom: rem(32);
		@media (max-width: $laptop) {
			max-width: 630px;
			margin-bottom: 16px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 14px;
		}
	}
	&__link {
		position: relative;
		z-index: 1;
		@media (max-width: $mobile-lg) {
			margin-left: auto;
			font-size: 14px;
			.button__icon {
				margin-left: 9px !important;
			}
		}
	}
	&__bg-img {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: $laptop-sm) {
			z-index: 0;
		}
	}
}
