.notification {
	$this: &;
	position: fixed;
	bottom: rem(32);
	left: rem(32);
	z-index: 30;
	display: flex;
	align-items: flex-start;
	width: rem(467);
	padding: rem(12);
	background: var(--white);
	border: 1px solid var(--blue-dark);
	transition: visability $default-transition-duration $default-transition-function,
		opacity $default-transition-duration $default-transition-function,
		transform $default-transition-duration $default-transition-function;
	&._wishlist-new {
		width: rem(433);
	}
	@media (max-width: $laptop-lg) {
		bottom: 22px;
		left: 28px;
		width: rem(420);
	}
	@media (max-width: $laptop-md) {
		left: 20px;
		right: 20px;
		width: rem(400);
	}
	@media (max-width: $mobile-lg) {
		left: 16px;
		right: 16px;
		width: auto;
		&._wishlist-new {
			width: auto;
		}
	}
	&._hide {
		transform: translate3d(0, #{rem(20)}, 0);
		visibility: hidden;
		opacity: 0;
	}
	&._compare-delete-category {
		#{$this}__content.notification-compare-delete-category {
			display: flex;
		}
	}
	&._compare-new {
		box-sizing: border-box;
		width: rem(427);
		#{$this}__content.notification-compare-new {
			display: flex;
		}
		#{$this}__button {
			min-height: rem(72);
		}
		@media (max-width: $laptop-lg) {
			#{$this}__button {
				min-height: rem(64);
			}
		}
		@media (max-width: $laptop-sm) {
			width: rem(352);
			#{$this}__button {
				min-height: auto;
			}
			#{$this}__close {
				margin-left: rem(-10);
			}
		}
		@media (max-width: $mobile-lg) {
			width: rem(343);
		}
	}
	&._wishlist {
		#{$this}__content.notification-wishlist {
			display: flex;
		}
	}
	&._wishlist-new {
		#{$this}__content.notification-wishlist-new {
			display: flex;
		}
	}
	&._wishlist-save {
		#{$this}__content.notification-wishlist-save {
			display: flex;
		}
	}
	&._cart {
		#{$this}__content.notification-cart {
			display: flex;
		}
	}
	&._link {
		padding: rem(15);
		align-items: center;
		#{$this}__content.notification-link {
			display: flex;
		}
	}
	&._save {
		padding: rem(15);
		align-items: center;
		#{$this}__content.notification-save {
			display: flex;
		}
	}
	&__content {
		display: none;
		flex-grow: 1;
	}
	&__close {
		@include reset-btn;
		@extend .animated;

		--size: #{rem(24)};
		flex-shrink: 0;
		width: var(--size);
		height: var(--size);
		margin-left: rem(16);
		padding: rem(3);
		.popups__close-icon {
			width: 100%;
			height: 100%;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__button {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: rem(22) rem(20) rem(18) rem(20);
		background-color: var(--blue-dark);
		color: var(--gray-light);
		&:hover {
			opacity: 0.9;
		}
		@media (max-width: $mobile-lg) {
			font-size: rem(14);
			line-height: rem(16);
		}
	}
}
