.wishlist-lists {
	padding-top: rem(43);
	padding-bottom: rem(210);
	background-color: var(--gray-light);
	&__wrap {
		display: flex;
		flex-direction: column;
		row-gap: rem(120);
		max-width: rem(1316);
		@media (max-width: $laptop-lg) {
			row-gap: 80px;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: rem(40);
		column-gap: rem(24);
		@media (max-width: $laptop-sm) {
			margin-bottom: 60px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 40px;
		}
	}
	&__number {
		margin-top: 4px;
	}
	&__add {
		.desktop {
			@media (max-width: $mobile-lg) {
				display: none;
			}
		}
		.button__icon {
			--size: #{rem(36)};
			width: var(--size);
			height: var(--size);
			margin-left: rem(10);
			@media (max-width: $mobile-lg) {
				--size: 32px;
			}
		}
	}
	&__list {
		display: grid;
		row-gap: rem(20);
	}
	&__item {
		.cart-item {
			border-color: rgba(52, 44, 37, 0.1);
		}
	}
	.custom-select-container {
		background-color: var(--gray-light);
	}
	.select .custom-select-panel {
		background-color: var(--gray-light);
	}
}
