.wishlist-lists {
	padding-top: rem(43);
	padding-bottom: rem(210);
	background-color: var(--gray-light);
	&._empty {
		padding-top: rem(40);
		padding-bottom: rem(312);
	}
	@media (max-width: $laptop-lg) {
		padding-top: 40px;
		padding-bottom: 120px;
	}
	@media (max-width: $laptop-md) {
		padding-top: 48px;
		padding-bottom: 80px;
	}
	@media (max-width: $mobile-lg) {
		padding-top: 40px;
		&._empty {
			padding-top: rem(24);
			padding-bottom: rem(336);
		}
	}
	&__wrap {
		display: flex;
		flex-direction: column;
		max-width: rem(1316);
		row-gap: rem(40);
		._empty & {
			max-width: none;
		}
		@media (max-width: $laptop-lg) {
			max-width: none;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: rem(40);
		column-gap: rem(24);
		@media (max-width: $laptop-sm) {
			margin-bottom: 60px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 40px;
		}
	}
	&__number {
		margin-top: 4px;
		@media (max-width: $laptop-sm) {
			font-size: 32px;
			line-height: 42px;
			letter-spacing: -0.02em;
		}
		@media (max-width: $mobile-lg) {
			font-size: 22px;
			line-height: 29px;
		}
	}
	&__small {
		@media (max-width: $laptop-sm) {
			font-size: 16px;
			line-height: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 12px;
			line-height: 16px;
		}
	}
	&__block {
		&._desktop {
			@media (max-width: $mobile-lg) {
				display: none;
			}
		}
	}
	&__add {
		&:hover {
			.button__icon {
				margin-left: rem(4);
				transition: margin-left $default-transition-duration $default-transition-function;
			}
		}
		@media (max-width: $laptop-sm) {
			font-size: 18px;
			line-height: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
			line-height: 16px;
		}
		.desktop {
			@media (max-width: $mobile-lg) {
				display: none;
			}
		}
		.button__icon {
			--size: #{rem(36)};
			width: var(--size);
			height: var(--size);
			margin-left: rem(10);
			fill: none;
			@media (max-width: $mobile-lg) {
				--size: 32px;
			}
		}
	}
	&__filter {
		display: flex;
		flex-wrap: wrap;
		gap: rem(8);
	}
	&__list {
		display: grid;
		row-gap: rem(20);
		padding-top: rem(23);
		border-top: 1px solid rgba(52, 44, 37, 0.1);
	}
	&__item {
		.cart-item {
			border-color: rgba(52, 44, 37, 0.1);
		}
	}
	&__footer {
		display: flex;
		flex-wrap: wrap;
		gap: rem(24);
		padding: rem(32);
		margin-top: rem(24);
		background-color: var(--default-white);
		._empty & {
			flex-direction: column;
			align-items: center;
			padding: rem(48);
			margin: 0;
			text-align: center;
		}

		@media (max-width: $mobile-lg) {
			margin-top: rem(40);
			padding: rem(16);
			gap: rem(20);
			._empty & {
				padding: rem(32);
				margin-top: rem(24);
				gap: rem(22);
			}
		}
	}
	&__footer-link {
		margin-inline-start: auto;
		._empty & {
			margin-inline: auto;
		}
	}
	&__footer-text {
		display: flex;
		column-gap: rem(16);
		color: var(--gray-dark);
		padding-top: rem(2);
		@media (max-width: $mobile-lg) {
			line-height: rem(22);
			align-items: center;
		}
	}
	&__footer-icon {
		--size: #{rem(32)};
		width: var(--size);
		height: var(--size);
		margin-top: rem(-2);
		flex-shrink: 0;

		@media (max-width: $mobile-lg) {
			--size: #{rem(24)};
		}
	}
	.custom-select-container {
		background-color: var(--gray-light);
	}
	.select .custom-select-panel {
		background-color: var(--gray-light);
	}
}
