.rent-address {
	display: flex;
	border-top: 1px solid var(--blue-dark);
	border-bottom: 1px solid var(--blue-dark);
	margin-bottom: rem(86);

	&._no-margin {
		margin-bottom: 0;
	}

	@media (max-width: $tablet) {
		flex-direction: column;
	}

	&__map {
		width: 50%;
		min-height: rem(400);

		@media (max-width: $tablet) {
			width: 100%;
			min-height: 300px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 50%;
		padding: rem(60);
		border-left: 1px solid var(--blue-dark);

		@media (max-width: $tablet) {
			width: 100%;
			border-left: none;
			border-top: 1px solid var(--blue-dark);
		}

		@media (max-width: $mobile-lg) {
			padding: rem(24);
		}
	}

	&__button {
		min-width: rem(360);
		padding: rem(16);
		background-color: var(--blue-dark);
		color: var(--white);
		font-size: rem(18);
		line-height: 1.5;
		text-transform: uppercase;
		@extend .animated;

		&:hover {
			background-color: var(--blue-light);
		}
	}

	&__title {
		margin: 0 0 rem(24);
	}

	&__street {
		margin: 0 0 rem(8);
	}

	&__details {
		display: flex;
		flex-direction: column;
		margin-bottom: rem(56);
		color: var(--blue-dark);

		a {
			color: inherit;
			@extend .animated;

			&:hover {
				color: $gray-dark;
			}
		}
	}
}
