.profile-discount {
	$this: &;
	&__title {
		margin-bottom: rem(32);
		@media (max-width: $laptop-md) {
			margin-bottom: 24px;
		}
	}
	&__text {
		margin-bottom: rem(24);
		@media (max-width: $mobile-lg) {
			margin-bottom: 16px;
		}
	}
	&__loyalty {
		margin-bottom: rem(124);
		@media (max-width: $laptop-lg) {
			margin-bottom: 96px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 24px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 72px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 80px;
		}
	}
	.discount-card-info {
		display: none;
		margin: calc(var(--container-padding) * -1) calc(var(--padding-x) * -1);
		@media (max-width: $laptop-md) {
			margin-bottom: -116px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: -81px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: -56px;
		}
	}
	&._linked {
		#{$this}__inner {
			display: none;
		}
		.discount-card-info {
			display: grid;
		}
	}
}
