.application-form {
	$this: &;
	&._distribution {
		#{$this}__title {
			margin-bottom: rem(48);
			&._brand {
				margin-top: rem(48);
				margin-bottom: rem(20);
			}
		}
		#{$this}__email-checkbox {
			margin-bottom: rem(48);
		}
		#{$this}__show-more-btn {
			margin-bottom: 24px;
			border-bottom: 1px solid var(--blue-dark);
		}
		@media (max-width: $laptop-lg) {
			#{$this}__title {
				margin-bottom: 24px;
				font-size: 44px;
				letter-spacing: 0;
				&._brand {
					margin-bottom: 24px;
				}
			}
			#{$this}__fields {
				margin-bottom: 16px;
			}
			#{$this}__input._file {
				margin-top: 24px;
				margin-bottom: 36px;
			}
			#{$this}__hobbies {
				margin-bottom: 49px;
			}
		}
		@media (max-width: $laptop) {
			#{$this}__title {
				font-size: 24px;
				&._brand {
					margin-top: 50px;
				}
			}
			#{$this}__form-title {
				margin-bottom: 13px;
			}
			#{$this}__input._file {
				margin-top: 18px;
			}
		}
		@media (max-width: $laptop-sm) {
			#{$this}__title {
				font-size: 24px;
				&._brand {
					margin-top: 32px;
				}
			}
		}
		@media (max-width: $tablet) {
			#{$this}__title {
				&._brand {
					font-size: 16px;
				}
			}
			#{$this}__hobbies {
				margin-bottom: 32px;
			}
			#{$this}__email-checkbox {
				margin-bottom: 32px;
			}
		}
		@media (max-width: $mobile-lg) {
			#{$this}__title {
				font-size: 18px;
				&._brand {
					margin-top: 10px;
					margin-bottom: 21px;
					font-size: 14px;
				}
			}
			#{$this}__form-title {
				margin-bottom: 4px;
			}
			#{$this}__fields {
				flex-direction: column;
				margin-bottom: 0;
				> * {
					margin-bottom: 14px;
				}
			}
			#{$this}__hobbies {
				margin-bottom: 24px;
			}
			#{$this}__email-checkbox {
				margin-bottom: 24px;
			}
			#{$this}__show-more-btn._show-more {
				--height: 88px;
				margin-bottom: 24px;
			}
			#{$this}__input._file {
				margin-top: 10px;
			}
		}
	}
	&__title {
		margin-bottom: rem(22);
		@media (max-width: $laptop-lg) {
			font-size: 28px;
			letter-spacing: -0.04em;
		}
		@media (max-width: $laptop) {
			margin-bottom: 18px;
			font-size: 24px;
			letter-spacing: 0;
		}
		@media (max-width: $laptop-sm) {
			font-size: 16px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 13px;
			font-size: 14px;
		}
	}
	&__auth {
		margin-bottom: rem(48);
		@media (max-width: $laptop-lg) {
			margin-bottom: 34px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 24px;
		}
	}
	&__fields {
		display: flex;
		column-gap: rem(16);
		margin-bottom: rem(24);
		& > * {
			flex-grow: 1;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 22px;
		}
	}
	&__hobbies {
		--gap: #{rem(8)};
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--gap);
		row-gap: var(--gap);
		max-width: rem(850);
		margin-bottom: rem(48);
		@media (max-width: $laptop-lg) {
			margin-bottom: 32px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 24px;
		}
		@media (max-width: $mobile-lg) {
			max-height: calc(32px * 5 + var(--gap) * 4);
			margin-bottom: 17px;
			overflow: hidden;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		column-gap: rem(16);
		box-sizing: border-box;
		min-height: rem(176);
		padding: rem(40) var(--container-padding);
		margin-inline: calc(0px - var(--container-padding));
		color: var(--white);
		background-color: var(--blue-dark);
		@media (max-width: $laptop-lg) {
			min-height: 140px;
			padding-block: 32px;
		}
		@media (max-width: $laptop) {
			min-height: 120px;
			padding: 24px;
		}
		@media (max-width: $mobile-lg) {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 16px;
			min-height: 87px;
		}
		a {
			text-decoration: none;
			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
	&__bottom-text {
		max-width: rem(300);
		a {
			text-decoration: none;
			&:hover {
				color: var(--white);
				text-decoration: underline;
			}
		}
	}
	&__submit {
		@media (max-width: $mobile-lg) {
			align-self: flex-end;
		}
	}
	&__input {
		&._file {
			margin-top: rem(15);
			margin-left: rem(11);
			margin-bottom: rem(65);
			@media (max-width: $laptop-lg) {
				margin-top: 17px;
				margin-bottom: 45px;
			}
		}
		@media (max-width: $mobile-lg) {
			&._file {
				margin-bottom: 36px;
			}
			&._comment {
				--height: 74px;
				padding-top: 24px;
				.input__label {
					top: 50%;
					line-height: 1.15;
				}
				&._filled {
					.input__label {
						top: 35%;
					}
				}
			}
		}
	}
	&__show-more-btn._show-more {
		--height: 80px;
		--icon-size: #{rem(24)};
		display: none;
		border: 0;
		border-top: 1px solid var(--blue-dark);
		@media (max-width: $mobile-lg) {
			display: inline-flex;
		}
	}
	&__form-title {
		margin-bottom: rem(24);
		#{$this}__fields + & {
			margin-top: rem(48);
		}
		@media (max-width: $laptop-lg) {
			margin-bottom: 16px;
			#{$this}__fields + & {
				margin-top: 24px;
				margin-bottom: 24px;
			}
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 8px;
			#{$this}__fields + & {
				margin-top: 9px;
			}
		}
	}
}
