.button {
	@include reset-btn();
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;

	&._burger {
		--size: 4rem; // 64px
		width: var(--size);
		height: var(--size);
	}
	&._quick-filter {
		@extend .animated;
		height: rem(40);
		padding: 0 rem(15);
		border: 1px solid currentColor;
		border-radius: 100vmax;
		padding-top: em(6, 18);
		@media (max-width: $mobile-lg) {
			height: 32px;
		}
		&:hover {
			border-color: var(--blue-dark);
			color: var(--white);
			background-color: var(--blue-dark);
		}
	}
	&._layout {
		--size: 2rem; // 32px
		width: var(--size);
		height: var(--size);
		justify-content: center;
		border: 1px solid currentColor;
		border-radius: 50%;
		font-size: 12px;
		line-height: 1;
		@media (max-width: $mobile-only) {
			font-size: 10px;
		}
		&:hover {
			border-color: var(--blue-dark);
			color: var(--white);
			background-color: var(--blue-dark);
		}
		&._active {
			border-color: var(--blue-dark);
			color: var(--white);
			background-color: var(--blue-dark);
			pointer-events: none;
		}
	}
}
