.distribution-brands {
	padding-top: rem(176);
	@media (max-width: $laptop) {
		padding-top: 124px;
	}
	@media (max-width: $tablet) {
		padding-top: 44px;
	}
	@media (max-width: $mobile-lg) {
		padding-top: 51px;
	}
	&__title {
		padding-inline: var(--container-padding);
		margin-bottom: rem(64);
		@media (max-width: $laptop-lg) {
			margin-bottom: 39px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 28px;
		}
		@media (max-width: $tablet) {
			font-size: 72px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 30px;
			font-size: 32px;
		}
	}
	&__item-details {
		display: flex;
		flex-direction: row;
		column-gap: rem(57);
		padding-bottom: rem(24);
		overflow: auto;
		scrollbar-width: none;
		@include scrollbar {
			display: none;
		}
		@media (max-width: $laptop-lg) {
			padding-left: 40px;
			padding-bottom: 30px;
			column-gap: 40px;
		}
		@media (max-width: $laptop-lg-3) {
			padding-left: 20px;
			padding-bottom: 20px;
			column-gap: 32px;
		}
		@media (max-width: $mobile-lg) {
			flex-direction: column;
			row-gap: 32px;
			padding-top: 24px;
			padding-bottom: 16px;
		}
	}
	&__item-col {
		display: flex;
		flex-direction: column;
	}
	&__item-title {
		margin-bottom: rem(8);
		@media (max-width: $laptop-lg) {
			font-size: 18px;
		}
		@media (max-width: $laptop-lg-3) {
			font-size: 16px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 4px;
			font-size: 14px;
			line-height: 16px;
		}
	}
	&__item-country,
	&__item-site {
		opacity: 0.6;
		@media (max-width: $laptop-lg-3) {
			font-size: 14px;
		}
	}
	&__item-text {
		margin-top: auto;
		@media (max-width: $laptop-lg-3) {
			font-size: 12px;
			line-height: 16px;
		}
		@media (max-width: $laptop) {
			font-size: 12px;
			line-height: 16px;
		}
		@media (max-width: $mobile-lg) {
			margin-top: 64px;
		}
	}
	&__manager {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: rem(280);
		@media (max-width: $laptop-lg) {
			width: 201px;
		}
		@media (max-width: $laptop-lg-3) {
			width: 150px;
		}
		@media (max-width: $mobile-lg) {
			flex-direction: row;
			column-gap: 16px;
			width: 100%;
		}
	}
	&__manager-photo {
		order: -1;
		width: 100%;
		margin-bottom: rem(16);
		@media (max-width: $laptop-lg-3) {
			width: 120px;
			margin-left: auto;
		}
		@media (max-width: $mobile-lg) {
			margin: 0;
		}
	}
	&__manager-info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		@media (max-width: $laptop-lg-3) {
			text-align: right;
		}
	}
	&__manager-name {
		margin-bottom: rem(8);
		@media (max-width: $laptop-lg-3) {
			font-size: 16px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
			line-height: 16px;
		}
	}
	&__manager-title {
		margin-bottom: rem(8);
		opacity: 0.6;
		@media (max-width: $laptop-lg-3) {
			font-size: 12px;
			line-height: 16px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 10px;
		}
	}
	&__manager-tel {
		margin-top: auto;
		@media (max-width: $laptop-lg-3) {
			margin-top: 0;
		}
		@media (max-width: $mobile-lg) {
			margin-top: auto;
		}
	}
	&__manager-tel,
	&__manager-email {
		@media (max-width: $laptop-lg) {
			font-size: 16px;
		}
		@media (max-width: $laptop-lg-3) {
			font-size: 12px;
			line-height: 16px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 10px;
		}
	}
	&__show-more-btn {
		border-top: 0 !important;
		@media (max-width: $mobile-lg) {
			--height: 87px !important;
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
}
