.counter {
	--size: #{rem(32)};
	--icon-size: #{rem(24)};
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: rem(135);
	@media (max-width: $mobile-lg) {
		--size: 25px;
		--icon-size: 16px;
	}
	&__number {
		flex-grow: 1;
		font-family: var(--font-family-suisse);
		font-size: rem(32);
		line-height: 1;
		text-align: center;
		@media (max-width: $laptop-sm) {
			font-size: 24px;
		}
	}
	&__btn {
		@include reset-btn;
		@extend .animated;
		position: relative;
		flex-shrink: 0;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		background-color: var(--gray-light);
		&::before,
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: var(--icon-size);
			height: 1px;
			background-color: var(--blue-dark);
		}
		&::before {
			content: '';
		}
		&:hover {
			background-color: var(--white);
		}
		&._plus {
			&::after {
				content: '';
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
	}
}
