.advantages {
	font-family: var(--font-family-suisse);
	color: var(--white);
	background-color: var(--blue-light);
	&__title {
		padding-top: em(120, 64);
		padding-bottom: em(60, 64);
		padding-inline: var(--container-padding);
		font-size: rem(64);
		line-height: 1.1;
		letter-spacing: -0.04em;
		@media (max-width: $laptop-sm) {
			font-size: 56px;
		}
		@media (max-width: $tablet) {
			font-size: 48px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 32px;
		}
		@media (max-width: $mobile-md) {
			font-size: 28px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $laptop) {
			border-top: 1px solid currentColor;
		}
	}
	&__item {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		row-gap: rem(20);
		width: 25%;
		min-height: rem(457);
		padding: rem(40);
		border: 1px solid currentColor;
		font-size: rem(22);
		line-height: 1.3;
		&:not(:first-child) {
			border-left: 0;
		}
		@media (max-width: $laptop-lg) {
			padding: 20px;
		}
		@media (max-width: $laptop-md) {
			min-height: 360px;
			padding: 16px;
			font-size: 18px;
		}
		@media (max-width: $laptop) {
			width: 50%;
			padding: var(--container-padding);
			font-size: 22px;
			border-top: 0;
			&:nth-child(3) {
				border-left: 1px solid currentColor;
			}
		}
		@media (max-width: $tablet) {
			font-size: 20px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 16px;
		}
		@media (max-width: $mobile-md) {
			padding-top: calc(var(--container-padding) * 2);
			padding-bottom: calc(var(--container-padding) * 2);
			width: 100%;
			font-size: 20px;
			&:not(:first-child) {
				border-left: 1px solid currentColor;
			}
		}
	}
	&__img-wrapper {
		--size: #{rem(140)};
		position: relative;
		width: var(--size);
		height: var(--size);
		margin-top: auto;
		margin-left: auto;
		background-color: currentColor;
		opacity: 0.3;
		@media (max-width: $mobile-lg) {
			--size: 120px;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: none;
	}
}
