.advantages {
	color: var(--white);
	background-color: var(--blue-light);
	&__title {
		padding-top: rem(179);
		padding-bottom: rem(59);
		padding-inline: var(--container-padding);
		@media (max-width: $laptop-lg) {
			padding-bottom: 34px;
		}
		@media (max-width: $laptop-md) {
			padding-top: 128px;
			padding-bottom: 27px;
		}
		@media (max-width: $tablet) {
			padding-bottom: 20px;
		}
		@media (max-width: $mobile-lg) {
			padding-top: 66px;
			padding-right: 60px;
			padding-bottom: 21px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $laptop) {
			border-top: 1px solid currentColor;
		}
	}
	&__item {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		row-gap: rem(20);
		width: 25%;
		min-height: rem(430);
		padding: rem(64);
		border: 1px solid currentColor;
		font-size: rem(24);
		line-height: 1.33;
		border-left: 0;
		&:last-child {
			border-right: 0;
		}
		@media (max-width: $laptop-lg) {
			min-height: auto;
			padding: 40px;
			row-gap: 3px;
		}
		@media (max-width: $laptop-md) {
			padding: 16px;
			font-size: 18px;
		}
		@media (max-width: $laptop) {
			width: 50%;
			padding: 32px;
			row-gap: 30px;
			font-size: 18px;
			border-top: 0;
			&:nth-child(even) {
				border-right: 0;
			}
		}
		@media (max-width: $tablet) {
			min-height: 320px;
			padding: 24px;
		}
		@media (max-width: $mobile-lg) {
			padding: 24px 16px;
		}
		@media (max-width: $mobile-md) {
			width: 100%;
			min-height: auto;
			row-gap: 39px;
			border-right: 0;
		}
	}
	&__img-wrapper {
		--size: #{rem(140)};
		position: relative;
		width: var(--size);
		height: var(--size);
		margin-top: auto;
		margin-left: auto;
		@media (max-width: $laptop-md) {
			--size: 96px;
		}
		@media (max-width: $tablet) {
			--size: 120px;
		}
		@media (max-width: $mobile-md) {
			--size: 96px;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
