.compare-header {
	$this: &;
	--bd-color: #{rgba($gray-dark, 0.2)};

	position: sticky;
	z-index: 5;
	top: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: rem(72);
	border-bottom: 1px solid var(--gray-dark);
	background-color: var(--white);
	transition: top 0.1s linear;
	overflow: hidden;

	@media (max-width: $mobile-lg) {
		height: rem(56);
	}
	._header-opened & {
		top: var(--header-height);
	}
	._header-closing & {
		top: 0;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(16);
		padding-block: rem(22);
		@media (max-width: $mobile-lg) {
			padding-block: rem(14);
			font-size: rem(14);
		}
	}
	&__delete {
		--icon-size: #{rem(24)};

		gap: rem(8);
		color: var(--red-dark);
		&:hover {
			.button__text {
				transform: translateX(0.2em);
			}
		}
		.button__icon {
			width: var(--icon-size);
			height: var(--icon-size);
		}
	}
	&__products {
		position: absolute;
		z-index: 2;
		left: var(--left-pos);
		display: flex;
		width: max-content;
		height: 100%;
		opacity: 0;
		pointer-events: none;
		transition: opacity $default-transition-duration $default-transition-function;
		> * {
			box-sizing: border-box;
			width: var(--col-width);
			background-color: var(--gray-light);
			border-right: 1px solid var(--bd-color);
			&:first-child {
				border-left: 1px solid var(--bd-color);
			}
		}
		#{$this}._active & {
			opacity: 1;
			pointer-events: all;
		}
	}
}
