.city-form {
	&__title,
	&__search {
		margin-bottom: var(--container-padding);
		@media (max-width: $tablet) {
			margin-bottom: 32px;
		}
	}
	&__title {
		margin-bottom: rem(48);
		padding-right: rem(50);
		@media (max-width: $laptop-lg) {
			margin-bottom: 21px;
		}
		@media (max-width: $laptop) {
			margin-bottom: 12px;
		}
	}
	&__cities {
		display: flex;
		flex-direction: column;
		row-gap: rem(18);
	}
	&__radio-label {
		@extend .animated;
		opacity: 0.4;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
	&__radio-input:checked + &__radio-label {
		opacity: 1;
	}
}
