.video-popup {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__title {
		padding: rem(12) var(--container-padding);
		background-color: var(--blue-dark);
		color: var(--white);
	}
	&__video {
		flex-grow: 1;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
