.popups {
	$this: &;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	display: none;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	&__icon {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		width: rem(32);
		height: rem(32);
		transform: translate(calc(-100% - rem(24)), -50%);
		background-image: inline('dobble-arrow.svg');
		background-size: contain;
		pointer-events: none;
	}
	&__popup-wrapper {
		position: relative;
		display: none;
		&[data-popup-wrapper='availability'] {
			width: 50%;
		}
		&[data-popup-wrapper='city-form'],
		&[data-popup-wrapper='availability'] {
			@media (max-width: $tablet) {
				width: 100%;
				height: 75%;
				margin-top: auto;
			}
			#{$this}__icon {
				display: block;
			}
		}
	}
	&__popup {
		--popup-padding: var(--container-padding);
		position: relative;
		z-index: 100;
		width: 100%;
		height: 100%;
		padding: var(--popup-padding);
		margin-left: auto;
		background-color: var(--white);
		overflow: auto;
		box-sizing: border-box;
		&[data-popup='city-form'] {
			width: rem(704);
			@media (max-width: $laptop-lg) {
				width: 584px;
			}
			@media (max-width: $laptop) {
				width: 417px;
			}
			@media (max-width: $tablet) {
				width: 100%;
			}
		}
		&[data-popup='filters-form'] {
			.catalog__filters-form {
				position: static !important;
				width: 100% !important;
				padding: 0 !important;
				border: 0 !important;
				transform: none !important;
			}
		}
		&[data-popup='availability'] {
			--popup-padding: #{rem(40)};
			--close-button-padding: #{rem(6)};
			@media (max-width: $laptop-lg) {
				--popup-padding: 32px;
			}
			@media (max-width: $laptop) {
				--popup-padding: 20px;
			}
			@media (max-width: $mobile-lg) {
				--popup-padding: 16px;
			}
		}
	}
	&__close-button {
		@extend .animated;
		position: absolute;
		top: var(--popup-padding);
		right: var(--popup-padding);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--close-button-padding, 0);
		border: none;
		background-color: transparent;
		cursor: pointer;
		outline: 0;
		color: var(--blue-dark);
		&:hover {
			color: var(--gray-dark);
		}
	}
	&__close-icon {
		--size: #{rem(32)};
		width: var(--size);
		height: var(--size);
		@media (max-width: $laptop-md) {
			--size: 24px;
		}
		@media (max-width: $mobile-lg) {
			--size: 18px;
		}
	}
}
