.popups {
	$this: &;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	display: none;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	&__icon {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		width: rem(32);
		height: rem(32);
		transform: translate(calc(-100% - rem(24)), -50%);
		background-image: inline('double-arrow.svg');
		background-size: contain;
		pointer-events: none;
	}
	&__popup-wrapper {
		position: relative;
		display: none;
		&[data-popup-wrapper='filters-form'] {
			overflow: auto;
		}
		&[data-popup-wrapper='availability'],
		&[data-popup-wrapper='cart'],
		&[data-popup-wrapper='review-form'],
		&[data-popup-wrapper='wishlist'],
		&[data-popup-wrapper='auth'],
		&[data-popup-wrapper='product-appear'],
		&[data-popup-wrapper='product-to-order'],
		&[data-popup-wrapper='product-technology'],
		&[data-popup-wrapper='contacts-shop'],
		&[data-popup-wrapper='contacts-community'],
		&[data-popup-wrapper='contacts-distribution'],
		&[data-popup-wrapper='cart-order'],
		&[data-popup-wrapper='question-form'],
		&[data-popup-wrapper='cart-reservation'],
		&[data-popup-wrapper='data-editing'],
		&[data-popup-wrapper='offer'],
		&[data-popup-wrapper='offer-2'],
		&[data-popup-wrapper='sizes'] {
			width: 50%;
		}
		&[data-popup-wrapper='wishlist-services'] {
			width: 52.8%;
			@media (max-width: $laptop-lg) {
				width: 50%;
			}
		}
		&[data-popup-wrapper='cart'],
		&[data-popup-wrapper='cart-empty'],
		&[data-popup-wrapper='sizes'],
		&[data-popup-wrapper='city-form'],
		&[data-popup-wrapper='review-form'],
		&[data-popup-wrapper='wishlist'],
		&[data-popup-wrapper='wishlist-services'],
		&[data-popup-wrapper='auth'],
		&[data-popup-wrapper='product-appear'],
		&[data-popup-wrapper='product-to-order'],
		&[data-popup-wrapper='product-technology'],
		&[data-popup-wrapper='contacts-shop'],
		&[data-popup-wrapper='contacts-community'],
		&[data-popup-wrapper='contacts-distribution'],
		&[data-popup-wrapper='cart-order'],
		&[data-popup-wrapper='cart-reservation'],
		&[data-popup-wrapper='data-editing'],
		&[data-popup-wrapper='question-form'],
		&[data-popup-wrapper='offer'],
		&[data-popup-wrapper='offer-2'],
		&[data-popup-wrapper='availability'] {
			@media (max-width: $tablet) {
				width: 100%;
				height: 100%;
				overflow: auto;
				scrollbar-width: none;
				@include scrollbar {
					display: none;
				}
				margin-top: auto;
				#{$this}__popup {
					margin-top: 25%;
					&::before {
						content: '';
						position: absolute;
						z-index: 1;
						top: rem(5);
						left: 50%;
						transform: translateX(-50%);
						width: rem(40);
						height: 2px;
						background-color: var(--blue-dark);
						opacity: 0.2;
					}
				}
			}
			#{$this}__icon {
				display: block;
			}
		}
		&[data-popup-wrapper='video'] {
			width: 100%;
			margin-top: rem(32);
		}
		&._opened-delivery {
			#{$this}__close-button {
				display: none;
			}
			#{$this}__popup {
				overflow: hidden;
			}
			@media (max-width: $laptop-sm) {
				#{$this}__popup {
					overflow: auto;
				}
			}
			@media (max-width: $tablet) {
				height: 100%;
				&::before {
					display: none;
				}
			}
		}
		&._opened-pay {
			@media (max-width: $laptop-sm) {
				#{$this}__close-button {
					display: inline-flex;
				}
			}
		}
		&[data-popup-wrapper='cart-empty'] {
			min-width: 50%;
			@media (max-width: $tablet) {
				min-width: auto;
			}
		}
	}
	&__popup {
		--popup-padding: var(--container-padding);
		position: relative;
		width: 100%;
		height: 100%;
		padding: var(--popup-padding);
		margin-left: auto;
		background-color: var(--white);
		overflow: auto;
		box-sizing: border-box;
		._animation & {
			background-color: var(--gray-light);
			& > * {
				opacity: 0;
				pointer-events: none;
			}
		}
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			height: auto;
			min-height: 100%;
			& > * {
				flex-grow: 1;
			}
		}
		&[data-popup='city-form'] {
			width: rem(704);
			@media (max-width: $laptop-lg) {
				width: 584px;
			}
			@media (max-width: $laptop) {
				width: 417px;
			}
			@media (max-width: $tablet) {
				width: 100%;
			}
		}
		&[data-popup='filters-form'] {
			padding-top: calc(var(--header-height) + 24px);
			.catalog__filters-form {
				position: static !important;
				width: 100% !important;
				padding: 0 !important;
				border: 0 !important;
				transform: none !important;
			}
			@media (max-width: $laptop-sm) {
				.popups__close-button {
					display: none;
				}
			}
		}
		&[data-popup='availability'],
		&[data-popup='sizes'],
		&[data-popup='review-form'] {
			--popup-padding: #{rem(40)};
			--close-button-padding: #{rem(6)};
			@media (max-width: $laptop-lg) {
				--popup-padding: 32px;
			}
			@media (max-width: $laptop) {
				--popup-padding: 20px;
				--close-button-padding: 0;
			}
			@media (max-width: $mobile-lg) {
				--popup-padding: 16px;
			}
		}
		&[data-popup='cart'],
		&[data-popup='cart-empty'],
		&[data-popup='cart-services'],
		&[data-popup='review-form'] {
			padding-bottom: 0;
		}
		&[data-popup='cart-empty'] {
			@media (max-width: $tablet) {
				min-height: auto;
			}
		}
		&[data-popup='cart'] {
			@media (max-width: $laptop-sm) {
				--popup-padding: 32px;
				.popups__close-button {
					padding: 6px;
				}
				.popups__close-icon {
					--size: 28px;
				}
			}
			@media (max-width: $mobile-lg) {
				--popup-padding: 16px;
				.popups__close-button {
					padding: 4px;
				}
				.popups__close-icon {
					--size: 24px;
				}
			}
		}
		&[data-popup='wishlist-services'] {
			padding-bottom: 0;
		}
		&[data-popup='auth'],
		&[data-popup='video'] {
			padding: 0;
			@media (max-width: $tablet) {
				min-height: auto;
			}
		}
		&[data-popup='video'] {
			overflow: hidden;
			#{$this}__close-button {
				top: rem(8);
				color: var(--white);
			}
		}
		&[data-popup='product-appear'],
		&[data-popup='data-editing'],
		&[data-popup='cart-reservation'],
		&[data-popup='question-form'],
		&[data-popup='cart-order'] {
			@media (max-width: $tablet) {
				min-height: auto;
			}
		}
	}
	&__close-button {
		@extend .animated;
		position: absolute;
		top: var(--popup-padding);
		right: var(--popup-padding);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--close-button-padding, 0);
		border: none;
		background-color: transparent;
		cursor: pointer;
		outline: 0;
		color: var(--blue-dark);
		&:hover {
			color: var(--gray-dark);
		}
	}
	&__close-icon {
		--size: #{rem(32)};
		width: var(--size);
		height: var(--size);
		@media (max-width: $laptop-md) {
			--size: 24px;
		}
		@media (max-width: $mobile-lg) {
			--size: 18px;
		}
	}
}
