.input {
	$this: &;
	--padding: #{rem(11)};
	--height: #{rem(72)};
	position: relative;
	display: flex;
	height: var(--height);
	padding-top: rem(35);
	box-sizing: border-box;
	&:hover,
	&:focus-within {
		#{$this}__label {
			color: var(--blue-dark);
		}
		#{$this}__input {
			border-color: var(--blue-light);
		}
	}
	@media (max-width: $mobile-lg) {
		--height: 58px;
	}
	&__label {
		@extend .animated;
		position: absolute;
		top: 53%;
		left: 0;
		padding: 0 var(--padding);
		font-size: rem(16);
		line-height: rem(24);
		color: var(--blue-light);
		transition: top $fast-transition-duration $default-transition-function,
			font-size $fast-transition-duration $default-transition-function;
		@media (max-width: $mobile-lg) {
			font-size: 12px;
		}
	}
	&__input {
		@extend .animated;
		width: 100%;
		padding: 0 var(--padding);
		padding-bottom: var(--padding);
		font-family: var(--default-font-family);
		font-size: rem(16);
		line-height: 1.5;
		background: 0;
		border: 0;
		border-radius: 0;
		outline: 0;
		border-bottom: 1px solid rgba($blue-light, 0.4);
		@media (max-width: $mobile-lg) {
			font-size: 12px;
		}
	}
	&__words-counter {
		margin-top: rem(8);
		font-family: var(--font-family-suisse);
		font-size: rem(12);
		line-height: 1.33;
		color: var(--gray-dark);
		text-align: right;
		opacity: 0.2;
		order: 2;
	}
	&:focus-within,
	&._filled {
		#{$this}__label {
			top: 15%;
			font-size: rem(12);
			@media (max-width: $mobile-lg) {
				font-size: 10px;
			}
		}
	}
}
