.select {
	user-select: none;
	position: relative;
	box-sizing: border-box;
	&._delivery {
		height: rem(72);
		padding-top: rem(38);
		.custom-select-container,
		.custom-select-opener,
		.custom-select-panel {
			background-color: var(--gray-light);
		}
		.custom-select-container {
			&::before {
				--size: #{rem(10)};
				top: rem(3);
				right: rem(18);
				border-color: var(--blue-dark);
			}
		}
		.custom-select-opener {
			padding-right: rem(30);
			padding-left: rem(12);
			padding-bottom: rem(10);
			line-height: 1.5;
			color: var(--gray-dark);
			& > * {
				display: inline-block;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			@media (max-width: $laptop) {
				padding-bottom: 3px;
			}
		}
		.custom-select-panel {
			color: var(--gray-dark);
		}
		.custom-select-option {
			padding: rem(12);
			&.has-focus {
				color: var(--white);
				background-color: var(--blue-light);
			}
		}
	}
	&__label {
		position: absolute;
		top: 16%;
		left: 0;
		padding-left: rem(12);
		font-size: rem(12);
		line-height: 2;
	}
	.custom-select-container {
		background-color: var(--white);
		&::before {
			--size: #{rem(14)};
			content: '';
			position: absolute;
			right: 4px;
			top: 10px;
			transform-origin: 70% 70%;
			transform: rotate(45deg);
			width: var(--size);
			height: var(--size);
			border-bottom: 2px solid var(--gray-dark);
			border-right: 2px solid var(--gray-dark);
			transition: transform $fast-transition-duration $default-transition-function;
			pointer-events: none;
			@media (max-width: $desktop) {
				right: 11px;
				top: 6px;
			}
			@media (max-width: $laptop-md) {
				right: 6px;
				top: 4px;
			}
		}
		&.is-open {
			&::before {
				transform: rotate(225deg);
			}
			.custom-select-panel {
				max-height: rem(295);
			}
		}
	}
	.custom-select-opener {
		background-color: var(--white);
		padding: 0;
		padding-bottom: 16px;
	}
	.custom-select-panel {
		top: calc(100% - 1px);
		background-color: var(--white);
		border: 1px solid var(--blue-light);
		border-top: none;
		box-shadow: 0px 1px 0px 0px var(--blue-light) inset;
		@include scrollbar {
			display: none;
		}
	}
	.custom-select-option {
		@extend .animated;
		cursor: pointer;
		&:first-child {
			margin-top: 1px;
		}
		&.is-selected {
			&::before {
				content: none;
			}
		}
		&.has-focus {
			background-color: transparent;
		}
	}
}
