.select._rounded {
	display: flex;
	width: var(--width);
	height: var(--height);
	box-sizing: border-box;
	.custom-select-container {
		display: flex;
		width: 100%;
		&::before {
			content: none;
		}
		&.is-open {
			.custom-select-panel {
				max-height: rem(208);
				border: 1px solid var(--blue-dark);
				transform: translateY(0);
				opacity: 1;
				pointer-events: all;
			}
			.custom-select-opener {
				&::after {
					transform: scaleY(-1);
				}
			}
		}
	}
	.custom-select-opener {
		display: flex;
		align-items: center;
		column-gap: rem(6);
		padding: rem(4) rem(12);
		border: 1px solid var(--blue-dark);
		border-radius: 100vmax;
		background: 0;
		&::after {
			--size: #{rem(16)};
			content: '';
			flex-shrink: 0;
			width: var(--size);
			height: var(--size);
			background-image: inline('accordion-arrow.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			transition: transform $fast-transition-duration $default-transition-function;
		}
	}
	.custom-select-panel {
		--scroll-width: #{rem(8)};
		box-sizing: border-box;
		top: calc(100% + rem(4));
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
		max-height: rem(208);
		padding: rem(16) rem(3);
		border-radius: rem(16);
		background: 0;
		border: 0;
		box-shadow: none;
		transform: translateY(-5px);
		opacity: 0;
		pointer-events: none;
		background-color: var(--white);
		transition: opacity $fast-transition-duration $default-transition-function,
			transform $fast-transition-duration $default-transition-function;

		@include scrollbar {
			display: initial;
		}
		&::-webkit-scrollbar {
			width: var(--scroll-width);
		}
		&::-webkit-scrollbar-track {
			background: 0;
		}
		&::-webkit-scrollbar-thumb {
			border: 3px solid transparent;
			background-clip: padding-box;
			border-radius: 100vmax;
			background-color: var(--blue-dark);
		}
		&::-webkit-scrollbar-track-piece:end {
			background: transparent;
			margin-bottom: rem(24);
		}
		&::-webkit-scrollbar-track-piece:start {
			background: transparent;
			margin-top: rem(24);
		}
	}
	.custom-select-option {
		@extend .animated;
		text-align: center;
		padding: rem(4) 0;
		border-radius: 100vmax;
		&.has-focus,
		&:hover {
			color: var(--white);
			background-color: var(--blue-dark);
		}
	}

	&._readonly {
		pointer-events: none;
		--width: auto;
		.custom-select-opener {
			justify-content: center;
			padding-inline: rem(16);
			background-color: var(--blue-dark);
			color: var(--white);
			&::after {
				display: none;
			}
		}
		.select__select {
			display: none;
		}
		.custom-select-panel {
			display: none;
		}
	}

	&._color {
		&._readonly {
			--width: #{rem(40)};
			--height: #{rem(40)};
			.custom-select-opener {
				border: 1px solid rgba(76, 95, 168, 0.2);
				padding: 3px;
				background: 0;
			}
			.custom-select-opener-color {
				--size: 32px;
			}
		}
		.custom-select-opener {
			padding: rem(3);
		}
		.custom-select-panel {
			row-gap: 0;
			padding: 0;
		}
		.custom-select-option {
			display: flex;
			justify-content: center;
			padding: rem(8) 0;
			cursor: pointer;
			&:first-child {
				padding-top: rem(16);
			}
			&:last-child {
				padding-bottom: rem(16);
			}
			&.is-selected::before {
				content: none;
			}
			&.has-focus,
			&:hover {
				background: 0;
				.custom-select-color {
					outline: 2px solid var(--blue-dark);
					outline-offset: -2px;
				}
			}
		}
		.custom-select-color,
		.custom-select-opener-color {
			@extend .animated;
			display: block;
			width: var(--size);
			height: var(--size);
			border-radius: 50%;
			pointer-events: none;
		}
		.custom-select-color {
			--size: #{rem(32)};
			position: relative;
			border: 3px solid var(--white);
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: calc(100% - 2px);
				height: calc(100% - 2px);
				border: 1px solid rgba(76, 95, 168, 0.2);
				border-radius: 50%;
			}
		}
		.custom-select-opener-color {
			--size: #{rem(24)};
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: calc(100% - 2px);
				height: calc(100% - 2px);
				border: 1px solid rgba(76, 95, 168, 0.2);
				border-radius: 50%;
			}
		}
	}
}
