.hero-catalog {
	$this: &;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: var(--header-height);
	padding-bottom: var(--filters-height);
	min-height: rem(720);
	color: var(--white);
	background-color: var(--blue-dark);
	box-sizing: border-box;
	overflow: hidden;
	transition: min-height $fast-transition-duration $default-transition-function;
	@media (max-width: $laptop-lg) {
		min-height: 680px;
	}
	@media (max-width: $laptop) {
		min-height: 640px;
	}
	@media (max-width: $tablet) {
		min-height: var(--100vh);
	}
	&__bg-img-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		clip-path: inset(0);
		transition: height $fast-transition-duration $default-transition-function;
	}
	&__bg-img {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		display: none;
		&._hero {
			display: block;
		}
		&._services-equipment {
			img {
				object-position: bottom center;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__container {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
	}
	&__title {
		display: flex;
		flex-direction: column;
		max-width: min(rem(650), 100%);
		margin: 0 auto;
		margin-top: rem(164);
		margin-bottom: auto;
		@media (max-width: $laptop-lg) {
			margin-top: 136px;
		}
		@media (max-width: $laptop) {
			margin-top: 112px;
		}
		@media (max-width: $tablet) {
			margin-top: auto;
			margin-bottom: calc(23 * var(--vh, 1vh));
		}
		@media (max-width: $mobile) {
			margin-top: auto;
			margin-bottom: calc(18 * var(--vh, 1vh));
		}
	}
	&__title-root {
		@extend .animated;
		display: none;
		justify-content: center;
		column-gap: rem(8);
		margin-bottom: rem(16);
		color: var(--gray-light);

		@media (max-width: $tablet) {
			margin-bottom: 8px;
		}
	}
	&__title-separator {
		opacity: 0.8;
	}
	&__title-link {
		opacity: 0.8;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
	&__quick-filter {
		margin: 0 auto;
		@media (max-width: $mobile-lg) {
			width: calc(100% + var(--container-padding) * 2);
			margin-left: calc(0px - var(--container-padding));
			padding-left: var(--container-padding);
		}
	}
	&__filters {
		position: relative;
		z-index: 1;
	}
	&._subcategory {
		#{$this}__title-root {
			display: flex;
			flex-wrap: wrap;
		}
	}
	&._services {
		min-height: rem(732);
		padding-bottom: 0;
		@media (max-width: $laptop-lg) {
			min-height: 632px;
		}
		@media (max-width: $laptop-md) {
			min-height: 464px;
		}
		@media (max-width: $laptop-sm) {
			min-height: 384px;
		}
		@media (max-width: $mobile-lg) {
			min-height: 400px;
			padding-bottom: var(--header-height);
		}
		#{$this}__title {
			margin-top: rem(259);
			@media (max-width: $laptop-lg) {
				margin-top: auto;
			}
			@media (max-width: $laptop-sm) {
				margin-bottom: auto;
			}
		}
	}
	&._rent {
		#{$this}__title {
			max-width: none;
		}
		#{$this}__title-root {
			&::before,
			&::after {
				content: '/';
				opacity: 0;
			}
			& > span {
				display: flex;
				gap: rem(8);
				&::after {
					content: '/';
				}
			}
		}
	}
	&._compare {
		min-height: rem(357);
		padding-bottom: 0;
		background-color: var(--white);
		#{$this}__container {
			padding-top: rem(94);
			padding-bottom: rem(62);
		}
		#{$this}__title {
			margin-top: 0;
			margin-bottom: rem(19);
		}
		#{$this}__bg-img-wrapper {
			position: absolute;
			top: var(--header-height);
			left: 0;
			height: calc(100% - var(--header-height));
		}
		#{$this}__bg-img {
			position: relative;
		}
		@media (max-width: $laptop-lg) {
			#{$this}__container {
				padding-top: rem(90);
			}
		}
		@media (max-width: $laptop-sm) {
			min-height: 457px;
			#{$this}__container {
				padding-top: rem(135);
				padding-bottom: rem(56);
			}
			#{$this}__title {
				margin-bottom: rem(120);
			}
		}
		@media (max-width: $mobile-lg) {
			min-height: 328px;
			#{$this}__container {
				padding-top: rem(91);
				padding-bottom: 60px;
			}
			#{$this}__title {
				margin-bottom: rem(64);
			}
		}
	}
}
