.class-item {
	display: flex;
	padding: rem(24);
	min-height: rem(556);
	box-sizing: border-box;
	@media (max-width: $laptop-lg) {
		min-height: 564px;
	}
	@media (max-width: $laptop-md) {
		flex-direction: column;
		min-height: auto;
		row-gap: 24px;
		padding: 20px;
	}
	@media (max-width: $laptop-sm) {
		row-gap: 38px;
	}
	@media (max-width: $mobile-lg) {
		padding: 16px;
		row-gap: 8px;
	}
	&__content {
		flex-grow: 1;
		display: grid;
		grid-template-areas:
			'title img'
			'content img';
		grid-template-rows: auto 1fr;
		grid-template-columns: repeat(2, auto);
		@media (max-width: $laptop-md) {
			grid-template-areas:
				'title'
				'img'
				'content';
		}
	}
	&__content-inner {
		grid-area: content;
	}
	&__title {
		display: block;
		min-height: rem(72);
		margin-bottom: rem(32);
		grid-area: title;
		@extend .animated;
		@media (max-width: $laptop-md) {
			min-height: 62px;
			margin-bottom: 20px;
		}
		@media (max-width: $laptop-sm) {
			min-height: auto;
			margin-bottom: 16px;
		}
		@media (max-width: $mobile-lg) {
			min-height: 46px;
			margin-bottom: 6px;
		}
		&[href] {
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__place {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: rem(8);
		margin-bottom: rem(96);
		color: rgba($default-black, 0.4);
		@media (max-width: $laptop-lg) {
			margin-bottom: 72px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 16px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 8px;
		}
	}
	&__place-name {
		display: flex;
		align-items: center;
		column-gap: 4px;
	}
	&__place-icon {
		--size: #{rem(24)};
		width: var(--size);
		height: var(--size);
		fill: none;
		@media (max-width: $mobile-lg) {
			--size: 16px;
		}
	}
	&__text {
		color: var(--gray-dark);
		opacity: 0.7;
	}
	&__img {
		flex-shrink: 0;
		width: rem(318);
		margin-left: rem(24);
		grid-area: img;
		@media (max-width: $laptop-lg) {
			width: 210px;
		}
		@media (max-width: $laptop-md) {
			width: 100%;
			height: 196px;
			margin-left: 0;
			margin-bottom: 16px;
		}
		@media (max-width: $laptop-sm) {
			height: 240px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 8px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__info {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: rem(126);
		margin-left: rem(15);
		gap: rem(24);
		@media (max-width: $laptop-md) {
			flex-direction: row;
			margin-left: 0;
		}
	}
	&__date {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		@media (max-width: $laptop-md) {
			flex-direction: row;
			text-align: left;
			column-gap: 8px;
		}
	}
}
