.quick-filter {
	$this: &;
	--gap: #{rem(16)};
	display: flex;
	justify-content: center;
	column-gap: var(--gap);
	row-gap: var(--gap);
	flex-wrap: wrap;
	padding-top: rem(16);
	padding-bottom: rem(32);
	@media (max-width: $laptop-lg) {
		max-width: 794px;
	}
	@media (max-width: $laptop) {
		max-width: 727px;
	}
	@media (max-width: $tablet) {
		--gap: 8px;
		max-width: 703px;
		padding-top: 8px;
	}
	@media (max-width: $mobile-lg) {
		flex-wrap: nowrap;
		padding-right: var(--container-padding);
		box-sizing: border-box;
		overflow: auto;
		@include blue-scrollbar;
	}
	&__item {
		display: flex;
		@media (max-width: $mobile-lg) {
			flex-shrink: 0;
			&:first-child {
				margin-left: auto;
			}
			&:last-child {
				margin-right: auto;
			}
		}
		&._opened {
			padding-left: var(--container-padding);
			& > #{$this}__subcategories-wrapper {
				display: flex;
				.quick-filter__subcategories {
					padding-right: var(--container-padding);
				}
			}
		}
		&._subcategory {
			& > #{$this}__button {
				display: none;
			}
			& > #{$this}__subcategories-wrapper {
				margin-inline: auto;
				& > #{$this}__button {
					display: none;
				}
			}
		}
		&[data-drag-scroll] {
			padding-bottom: rem(25);
			margin-bottom: rem(-25);
			@include blue-scrollbar;
		}
	}
	&__subcategories-wrapper {
		display: none;
		gap: var(--gap);
		* {
			flex-shrink: 0;
		}
	}
	&__subcategories {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		gap: var(--gap);
		&._opened {
			& > #{$this}__item {
				display: none;
				&._opened {
					display: flex;
					padding: 0;
				}
			}
		}
	}
	&._opened {
		max-width: none;
		width: 100%;
		width: calc(100% + var(--container-padding) * 2);
		margin-left: calc(0px - var(--container-padding));
		padding-right: 0;
		box-sizing: border-box;
		& > *:not(._opened) {
			display: none;
		}
		._opened {
			& > #{$this}__button._quick-filter {
				display: none;
			}
		}
	}
	&._subcategory-opened {
		[data-subcategory-back] {
			display: none;
		}
		[data-subcategory-list] {
			width: auto !important;
			> * {
				display: none;
			}
			[data-subcategory2-item]._opened {
				display: block;
				.quick-filter__subcategories-wrapper {
					display: flex;
				}
			}
			[data-subcategory-opener2] {
				display: inline-flex;
			}
			[data-subcategory-list2] {
				justify-content: flex-start !important;
			}
		}
	}
}

.quick-filter-rent {
	margin-top: 4rem;
	--gap: #{rem(16)};
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--gap) * 2);
	width: 100%;
	padding-bottom: rem(32);
	@media (max-width: $tablet) {
		--gap: 8px;
	}
	@media (max-width: $mobile-lg) {
		gap: calc(var(--gap) * 4);
		align-items: flex-start;
		padding-bottom: 0;
	}

	&__seasons,
	&__locations {
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
		@media (max-width: $mobile-lg) {
			overflow-x: auto;
			box-sizing: border-box;
			scrollbar-width: none;
			@include scrollbar {
				display: none;
			}
		}
	}
	&__seasons {
		justify-content: center;
		@media (max-width: $mobile-lg) {
			width: 100%;
		}
	}
	&__locations {
		justify-content: flex-start;
		@media (max-width: $mobile-lg) {
			width: 1000px;
		}
	}
	&__locations-wrapper {
		--container-max-width: #{rem(1920)};
		max-width: max(var(--container-max-width), 100% - var(--container-padding) * 2);
		@media (max-width: $mobile-lg) {
			width: calc(100% + var(--container-padding));
			margin-left: calc(0px - var(--container-padding));
			padding-left: var(--container-padding);
		}
		&._opened {
			padding-left: var(--container-padding);
		}
		&[data-drag-scroll] {
			padding-bottom: rem(25);
			margin-bottom: rem(-25);
			@include blue-scrollbar;
		}
	}
	&__season-item,
	&__location-item {
		display: flex;
		flex-shrink: 0;
	}
	.button._quick-filter {
		border-color: var(--white);
		color: var(--white);
		&._white-bg {
			background-color: var(--white);
			border-color: var(--white);
			color: var(--blue-dark);
		}
		&:hover,
		&._active {
			background-color: var(--blue-dark);
			border-color: var(--blue-dark);
			color: var(--white);
		}
	}
}
