.quick-filter {
	$this: &;
	--gap: #{rem(16)};
	display: flex;
	justify-content: center;
	column-gap: var(--gap);
	row-gap: var(--gap);
	flex-wrap: wrap;
	padding-top: rem(16);
	padding-bottom: rem(32);
	@media (max-width: $laptop-lg) {
		max-width: 794px;
	}
	@media (max-width: $laptop) {
		max-width: 727px;
	}
	@media (max-width: $tablet) {
		--gap: 8px;
		max-width: 703px;
		padding-top: 8px;
	}
	@media (max-width: $mobile-lg) {
		flex-wrap: nowrap;
		padding-right: var(--container-padding);
		box-sizing: border-box;
		overflow: auto;
		scrollbar-width: none;
		@include scrollbar {
			display: none;
		}
	}
	&__item {
		display: flex;
		@media (max-width: $mobile-lg) {
			flex-shrink: 0;
			&:first-child {
				margin-left: var(--container-padding);
			}
		}
		&._opened {
			& > #{$this}__subcategories-wrapper {
				display: flex;
			}
		}
		&._subcategory {
			& > #{$this}__button {
				display: none;
			}
			& > #{$this}__subcategories-wrapper {
				margin-left: 0;
				& > #{$this}__button {
					display: none;
				}
			}
		}
	}
	&__subcategories-wrapper {
		display: none;
		gap: var(--gap);
		margin-left: var(--container-padding);
		&::after {
			content: '';
			flex-shrink: 0;
			width: calc(var(--container-padding) - var(--gap));
		}
		* {
			flex-shrink: 0;
		}
	}
	&__subcategories {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		gap: var(--gap);
		&._opened {
			& > #{$this}__item {
				display: none;
				&._opened {
					display: flex;
				}
			}
		}
	}
	&._opened {
		max-width: none;
		width: 100%;
		width: calc(100% + var(--container-padding) * 2);
		margin-left: calc(0px - var(--container-padding));
		padding-right: 0;
		box-sizing: border-box;
		& > *:not(._opened) {
			display: none;
		}
		._opened {
			width: 100%;
			& > #{$this}__button._quick-filter {
				display: none;
			}
		}
	}
}
