.community-classes-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 1px;
	overflow: hidden;
	@media (max-width: $laptop-sm) {
		grid-template-columns: repeat(1, 1fr);
	}
	&__item {
		box-shadow: inset -1px 0 0 0 var(--blue-dark), inset 0 -1px 0 0 var(--blue-dark),
			-1px -1px 0 0 var(--blue-dark), 0 -1px 0 0 var(--blue-dark);
		@media (max-width: $laptop-sm) {
			box-shadow: inset 0 -1px 0 0 var(--blue-dark), -1px -1px 0 0 var(--blue-dark),
				0 -1px 0 0 var(--blue-dark);
		}
	}
}
