.title-block {
	padding-top: rem(29);
	padding-bottom: rem(67);
	&__title {
		max-width: rem(960);
		margin-bottom: rem(24);
	}
	&__links {
		display: flex;
		column-gap: rem(16);
		@media (max-width: $laptop-sm) {
			column-gap: 8px;
		}
		@media (max-width: $mobile-lg) {
			column-gap: 12px;
		}
	}
	&__link {
		font-size: rem(24);
		line-height: rem(31);
		@media (max-width: $laptop-sm) {
			font-size: 16px;
			line-height: 20px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 18px;
			line-height: 24px;
		}
		.button__icon {
			--size: 36px;
			width: var(--size);
			height: var(--size);
			fill: none;
			@media (max-width: $laptop-sm) {
				--size: 25px;
			}
			@media (max-width: $mobile-lg) {
				--size: 32px;
			}
		}
		&._download {
			margin-left: rem(24);
			@media (max-width: $laptop-sm) {
				margin-left: 16px;
			}
		}
		&._social {
			padding: 3px rem(19);
			border-radius: rem(100);
		}
		&._edit {
			margin-left: auto;
		}
		&._delete {
			margin-left: 8px;
		}
		&._edit,
		&._delete {
			@media (max-width: $mobile-lg) {
				display: none;
			}
		}
	}
}
