.product {
	--block-margin: #{rem(124)};
	--badges-margin: #{rem(16)};
	@media (max-width: $laptop-lg) {
		--block-margin: 96px;
	}
	@media (max-width: $laptop-md) {
		--block-margin: 72px;
		--badges-margin: 8px;
	}
	@media (max-width: $laptop-sm) {
		--block-margin: 64px;
	}
	&__wrap {
		display: flex;
		position: relative;
		@media (max-width: $laptop-sm) {
			flex-direction: column-reverse;
			background-color: var(--white);
		}
	}
	&__img {
		flex-grow: 1;
		display: flex;
		background-color: var(--default-bg-color);
		border-bottom: 1px solid var(--blue-dark);
	}
	&__img-wrap {
		position: sticky;
		top: 0;
		display: flex;
		width: 100%;
		flex-direction: column;
		max-height: calc(100vh - var(--header-height) - var(--breadcrumbs-height));
		height: 52.6vw;
		@media (max-width: $laptop-lg) {
			height: 45.2vw;
		}
		@media (max-width: $laptop-sm) {
			height: 74.2vw;
			max-height: none;
			flex-direction: row;
		}
		@media (max-width: $mobile-lg) {
			height: 98.7vw;
		}
	}
	&__slider {
		flex-grow: 1;
		overflow: hidden;
	}
	&__add {
		position: sticky;
		bottom: 0;
		flex-shrink: 0;
		@media (max-width: $laptop-sm) {
			display: none;
		}
	}
	&__content-wrap {
		width: 50%;
		flex-shrink: 0;
		border-right: 1px solid var(--blue-dark);
		border-bottom: 1px solid var(--blue-dark);
		@media (max-width: $laptop-sm) {
			width: 100%;
			border-right: none;
		}
	}
	&__content-main {
		display: flex;
		flex-direction: column;
		padding-top: var(--container-padding);
		margin-bottom: var(--block-margin);
		box-sizing: border-box;
		@media (max-width: $laptop-sm) {
			min-height: auto;
			max-height: none;
			margin-bottom: 16px;
		}
	}
	&__content {
		padding: 0 var(--container-padding);
		background-color: var(--white);
		&._main {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}
	}
	&__title {
		margin-bottom: rem(16);
		@media (max-width: $laptop-md) {
			margin-bottom: 8px;
		}
	}
	&__main-info {
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: space-between;
		column-gap: rem(16);
		grid-template-areas:
			'brand rating'
			'price price'
			'favorite favorite';
		@media (max-width: $laptop-sm) {
			grid-template-areas:
				'brand brand'
				'rating favorite';
		}
	}
	&__brand {
		grid-area: brand;
		@media (max-width: $laptop-sm) {
			justify-self: flex-start;
			margin-bottom: 16px;
		}
	}
	&__rating {
		display: flex;
		align-items: center;
		grid-area: rating;
		font-family: var(--font-family-suisse);
		font-size: rem(22);
		line-height: rem(29);
		font-weight: 450;
		@media (max-width: $laptop-sm) {
			font-family: var(--default-font-family);
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
		}
	}
	&__rating-icon {
		--size: #{rem(32)};
		margin-right: rem(12);
		width: var(--size);
		height: var(--size);
		@media (max-width: $laptop-md) {
			--size: 29px;
		}
		@media (max-width: $laptop-sm) {
			--size: 32px;
		}
		@media (max-width: $mobile-lg) {
			--size: 29px;
		}
	}
	&__price-wrap {
		grid-area: price;
		margin-top: rem(56);
		@media (max-width: $laptop-lg) {
			margin-top: 24px;
		}
		@media (max-width: $laptop-md) {
			margin-top: 16px;
		}
		@media (max-width: $laptop-sm) {
			display: none;
		}
	}
	&__old-price {
		margin-bottom: rem(8);
		font-family: var(--font-family-suisse);
		font-size: rem(20);
		line-height: 110%;
		text-decoration-line: line-through;
		color: var(--blue-light);
		opacity: 0.5;
		@media (max-width: $laptop) {
			font-size: 12px;
			line-height: 16px;
		}
	}
	&__price {
		@media (max-width: $laptop-lg) {
			font-size: 32px;
			line-height: 42px;
			letter-spacing: -0.02em;
		}
		@media (max-width: $laptop) {
			font-size: 22px;
			line-height: 29px;
			letter-spacing: 0;
		}
	}
	&__favorite {
		margin-top: rem(32);
		margin-bottom: rem(32);
		@media (max-width: $laptop-lg) {
			margin-top: 19px;
			margin-bottom: 32px;
		}
		@media (max-width: $laptop-md) {
			margin-top: 20px;
		}
		@media (max-width: $laptop-sm) {
			margin: 0;
			margin-left: auto;
		}
	}
	&__badges {
		position: relative;
		z-index: 1;
		display: flex;
		column-gap: var(--badges-margin);
		row-gap: var(--badges-margin);
		width: 100%;
		margin-top: auto;
		margin-bottom: rem(64);
		pointer-events: none;
		@media (max-width: $laptop-lg) {
			margin-bottom: 24px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 16px;
		}
		@media (max-width: $laptop-sm) {
			position: absolute;
			top: var(--container-padding);
			left: var(--container-padding);
			right: var(--container-padding);
			width: auto;
			margin-bottom: 0;
		}
		.product-badge {
			@media (max-width: $laptop-md) {
				--badge-size: 40px;
			}
			@media (max-width: $mobile-lg) {
				--badge-size: 32px;
			}
		}
	}
	&__badges-left {
		display: flex;
		column-gap: var(--badges-margin);
		row-gap: var(--badges-margin);
		@media (max-width: $laptop-sm) {
			flex-direction: column;
		}
	}
	&__shops {
		display: flex;
		align-items: center;
		justify-content: space-between;
		row-gap: rem(16);
		margin-bottom: rem(32);
		@media (max-width: $desktop) {
			margin-bottom: 16px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 8px;
		}
		@media (max-width: $laptop-sm) {
			flex-direction: row-reverse;
			align-items: flex-end;
			margin-top: 72px;
			margin-bottom: 24px;
		}
		@media (max-width: $mobile-lg) {
			align-items: flex-start;
			flex-direction: column-reverse;
			margin-top: var(--block-margin);
			margin-bottom: 16px;
		}
	}
	&__code {
		opacity: 0.4;
	}
	&__available {
		@media (max-width: $laptop-sm) {
			padding-left: 36px;
			font-family: var(--default-font-family);
			font-size: 18px;
			line-height: 24px;
			background-image: inline('check-green.svg');
			background-repeat: no-repeat;
			background-position: left top 50%;
			background-size: 20px 20px;
			&._arrow-s .button__icon {
				--size: 16px;
				margin-left: var(--size);
			}
		}
		@media (max-width: $mobile-lg) {
			font-size: 16px;
		}
	}
	&__colors-sizes {
		display: grid;
		grid-template-columns: 280fr 392fr;
		column-gap: var(--container-padding);
		min-height: rem(173);
		padding: rem(16) var(--container-padding) rem(32);
		border-top: 1px solid var(--gray-light);
		border-bottom: 1px solid var(--gray-light);
		font-family: var(--font-family-suisse);
		box-sizing: border-box;
		@media (max-width: $laptop-lg) {
			grid-template-columns: 192fr 224fr;
			min-height: 134px;
			padding-top: 24px;
			padding-bottom: 32px;
		}
		@media (max-width: $laptop-md) {
			min-height: 112px;
		}
		@media (max-width: $laptop-sm) {
			min-height: auto;
			display: flex;
			flex-direction: column;
			grid-template-columns: initial;
			padding-top: 16px;
			padding-bottom: 32px;
		}
		@media (max-width: $mobile-lg) {
			padding-bottom: 40px;
		}
	}
	&__inputs-list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(8);
		@media (max-width: $mobile-lg) {
			flex-wrap: nowrap;
			overflow: auto;
			padding-left: var(--container-padding);
			padding-right: var(--container-padding);
			margin-left: calc(var(--container-padding) * -1px);
			margin-right: calc(var(--container-padding) * -1px);
			&._colors {
				gap: 16px;
			}
		}
	}
	&__colors {
		@media (max-width: $laptop-sm) {
			padding-bottom: 32px;
			margin-bottom: 16px;
			border-bottom: 1px solid var(--gray-light);
		}
		@media (max-width: $mobile-lg) {
			padding-bottom: 40px;
		}
	}
	&__color-label,
	&__color-span {
		display: block;
	}
	&__radio-input {
		display: none;
	}
	&__size-table {
		display: block;
		padding-top: 2px;
		padding-bottom: 1px;
		border-bottom: 1px solid var(--blue-dark);
		transition: border-color $default-transition-duration $default-transition-function;
		&:hover {
			border-color: transparent;
		}
	}
	&__title-sm-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: rem(16);
		margin-bottom: rem(32);
		@media (max-width: $laptop-lg) {
			margin-bottom: 24px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 16px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 24px;
		}
	}
	&__title-sm {
		font-family: var(--font-family-suisse);
		font-weight: 400;
		font-size: rem(16);
		line-height: rem(21);
		text-transform: uppercase;
		@media (max-width: $laptop-md) {
			line-height: 20px;
		}
		@media (max-width: $mobile-lg) {
			font-weight: 450;
			font-size: 14px;
			line-height: 16px;
		}
	}
	&__counter-block {
		display: none;
		margin-bottom: var(--block-margin);
		@media (max-width: $laptop-sm) {
			display: block;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 104px;
		}
	}
	&__counter {
		display: inline-flex;
		@media (max-width: $laptop-sm) {
			min-width: 111px;
		}
	}
	&__block {
		margin-bottom: var(--block-margin);
	}
	&__title-md {
		margin-bottom: rem(48);
		@media (max-width: $laptop-lg) {
			margin-bottom: 32px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 24px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 32px;
		}
	}
	&__descr {
		color: var(--gray-dark);
		@media (max-width: $laptop-sm) {
			font-size: 16px;
			line-height: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
		p + p {
			margin-top: rem(24);
		}
	}
	&__features {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
		color: var(--gray-dark);
	}
	&__feature {
		position: relative;
		padding-left: rem(22);
		@media (max-width: $laptop-sm) {
			padding-left: 16px;
			font-size: 16px;
			line-height: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			width: rem(10);
			height: rem(19);
			background-image: inline('grey-arrow.svg');
			background-repeat: no-repeat;
			background-size: contain;
			@media (max-width: $laptop-sm) {
				width: 8px;
				height: 16px;
				top: 4px;
			}
		}
	}
	&__reviews {
		--reviews-padding: var(--container-padding);
	}
	&__add-mobile {
		display: none;
		@media (max-width: $laptop-sm) {
			display: flex;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}
	}
}
