.product {
	$this: &;
	--block-margin: #{rem(124)};
	--badges-margin: #{rem(12)};
	@media (max-width: $laptop-lg) {
		--block-margin: 96px;
	}
	@media (max-width: $laptop-md) {
		--block-margin: 72px;
		--badges-margin: 8px;
	}
	@media (max-width: $mobile-lg) {
		--block-margin: 68px;
	}
	&__wrap {
		display: flex;
		position: relative;
		@media (max-width: $laptop-sm) {
			flex-direction: column-reverse;
			background-color: var(--white);
		}
	}
	&__img {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		background-color: var(--default-bg-color);
		border-bottom: 1px solid var(--blue-dark);
	}
	&__img-wrap {
		flex-grow: 1;
		display: flex;
		width: 100%;
		flex-direction: column;
		@media (max-width: $laptop-sm) {
			display: block;
			flex-direction: row;
		}
	}
	&__slider {
		position: sticky;
		top: calc((var(--header-height) + var(--breadcrumbs-height)) / 2);
		overflow: hidden;
		height: calc(
			100vh - var(--header-height) - var(--breadcrumbs-height) - var(--add-block-height)
		);
		@media (max-width: $laptop-sm) {
			// 570/768
			height: 74.21vw;
		}
		@media (max-width: $mobile-lg) {
			// 370/375
			height: 98.67vw;
		}
	}
	&__add {
		position: sticky;
		bottom: 0;
		flex-shrink: 0;
		.add-to-cart__counter {
			@media (max-width: $laptop-lg) {
				align-self: flex-end;
			}
		}
		@media (max-width: $laptop-sm) {
			display: none;
		}
	}
	&__content-wrap {
		width: 50%;
		flex-shrink: 0;
		border-right: 1px solid var(--blue-dark);
		border-bottom: 1px solid var(--blue-dark);
		@media (max-width: $laptop-sm) {
			width: 100%;
			border-right: none;
		}
	}
	&__content-main {
		display: flex;
		flex-direction: column;
		padding-top: var(--container-padding);
		margin-bottom: var(--block-margin);
		min-height: calc(100vh - var(--header-height) - var(--breadcrumbs-height));
		box-sizing: border-box;
		&:not(:has(#{$this}__colors-sizes)) {
			min-height: auto;
			margin-bottom: 16px;
			#{$this}__main-info {
				margin-bottom: var(--block-margin);
			}
		}
		@media (max-width: $laptop-lg) {
			padding-top: 36px;
			&:not(:has(#{$this}__colors-sizes)) {
				min-height: auto;
				margin-bottom: 26px;
				#{$this}__main-info {
					margin-bottom: var(--block-margin);
				}
			}
		}
		@media (max-width: $laptop-sm) {
			min-height: auto;
			max-height: none;
			margin-bottom: 16px;
			padding-top: 10px;
			&:not(:has(#{$this}__colors-sizes)) {
				min-height: auto;
				margin-bottom: 26px;
				#{$this}__main-info {
					margin-bottom: 0;
				}
			}
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 8px;
		}
	}
	&__content {
		padding: 0 var(--container-padding);
		background-color: var(--white);
		&._main {
			flex-grow: 1;
			display: grid;
			grid-template-rows: repeat(3, min-content) 1fr;
			padding-bottom: rem(32);
		}
		@media (max-width: $laptop-lg) {
			&._main {
				padding-bottom: 22px;
			}
		}
		@media (max-width: $mobile-lg) {
			&._main {
				padding-bottom: 15px;
			}
		}
	}
	&__title {
		grid-column: 1/3;
		margin-block: rem(16);
		@media (max-width: $laptop-md) {
			margin-bottom: 8px;
		}
		@media (max-width: $mobile-lg) {
			margin-block: 8px;
		}
	}
	&__main-info {
		grid-column: 1/3;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: start;
		@media (max-width: $laptop-sm) {
			grid-column: 1/3;
			grid-row: 2/3;
			grid-template-columns: auto;
		}
	}
	&__brand {
		margin-block: rem(10) rem(40);
		@media (max-width: $laptop-lg) {
			margin-block: 0 6px;
			font-size: 20px;
		}
		@media (max-width: $laptop-sm) {
			justify-self: flex-start;
			margin-bottom: 16px;
			font-size: 16px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 8px;
			font-size: 14px;
		}
	}
	&__rating {
		grid-column: 2/3;
		grid-row: 1/2;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-family: var(--font-family-suisse);
		font-size: rem(18);
		line-height: rem(24);
		@media (max-width: $laptop-sm) {
			grid-column: 1/2;
			grid-row: 2/3;
			justify-content: flex-start;
			align-items: flex-end;
			font-family: var(--default-font-family);
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
		}
	}
	&__rating-icon {
		--size: #{rem(22)};
		margin-right: rem(10);
		width: var(--size);
		height: var(--size);
		@media (max-width: $laptop-md) {
			--size: 27px;
			margin-right: 10px;
		}
		@media (max-width: $mobile-lg) {
			--size: 24px;
		}
	}
	&__price-wrap {
		grid-column: 1/2;
		@media (max-width: $laptop-lg) {
			margin-top: 24px;
		}
		@media (max-width: $laptop-md) {
			margin-top: 16px;
		}
		@media (max-width: $laptop-sm) {
			display: none;
		}
	}
	&__old-price {
		margin-bottom: rem(8);
		font-family: var(--font-family-suisse);
		font-size: rem(20);
		line-height: 110%;
		text-decoration-line: line-through;
		color: var(--blue-light);
		opacity: 0.5;
		@media (max-width: $laptop) {
			font-size: 12px;
			line-height: 16px;
		}
	}
	&__price {
		@media (max-width: $laptop-lg) {
			font-size: 32px;
			line-height: 42px;
			letter-spacing: -0.02em;
		}
		@media (max-width: $laptop) {
			font-size: 22px;
			line-height: 29px;
			letter-spacing: 0;
		}
	}
	&__favorite {
		grid-column: 1/2;
		margin-top: rem(32);
		margin-bottom: rem(32);
		@media (max-width: $laptop-lg) {
			margin-top: 22px;
			margin-bottom: 32px;
		}
		@media (max-width: $laptop-md) {
			margin-top: 20px;
		}
		@media (max-width: $laptop-sm) {
			place-self: end;
			margin: 0;
		}
	}
	&__badges {
		grid-column: 2/3;
		grid-row: 2/3;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: flex-end;
		column-gap: var(--badges-margin);
		row-gap: var(--badges-margin);
		width: 100%;
		pointer-events: none;
		@media (max-width: $laptop-lg) {
			margin-top: 24px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 16px;
		}
		@media (max-width: $laptop-sm) {
			position: absolute;
			top: var(--container-padding);
			left: var(--container-padding);
			right: var(--container-padding);
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-between;
			width: auto;
			margin: 0;
			> * {
				grid-column: 1/2;
				&._feature {
					grid-column: 2/3;
					grid-row: 1;
					&:nth-of-type(2) {
						grid-row: 2;
					}
					&:nth-of-type(3) {
						grid-row: 3;
					}
					&:nth-of-type(4) {
						grid-row: 4;
					}
				}
			}
		}
		.product-badge {
			@media (max-width: $laptop-md) {
				--badge-size: 40px;
			}
			@media (max-width: $mobile-lg) {
				--badge-size: 32px;
			}
		}
	}
	&__shops {
		grid-column: 1/2;
		display: flex;
		align-items: center;
		align-self: end;
		justify-content: space-between;
		row-gap: rem(16);
		@media (max-width: $laptop-sm) {
			align-items: flex-end;
			margin-top: 72px;
		}
		@media (max-width: $mobile-lg) {
			grid-column: 1/3;
			align-items: flex-start;
			flex-direction: column-reverse;
			margin-top: var(--block-margin);
			margin-bottom: 16px;
		}
	}
	&__code {
		grid-column: 1/2;
		grid-row: 1/2;
		align-self: center;
		opacity: 0.4;
		@media (max-width: $laptop-sm) {
			grid-column: 2/3;
			grid-row: 3 / 4;
			margin-top: 72px;
			place-self: end;
		}
		@media (max-width: $mobile-lg) {
			grid-column: 1/3;
			grid-row: -1;
			justify-self: start;
			margin: 0;
		}
	}
	&__available {
		@media (max-width: $laptop-lg) {
			font-size: 12px;
		}
		@media (max-width: $laptop-sm) {
			padding-left: 36px;
			font-family: var(--default-font-family);
			font-size: 18px;
			line-height: 24px;
			background-image: inline('check-green.svg');
			background-repeat: no-repeat;
			background-position: left top 50%;
			background-size: 20px 20px;
			&._arrow-s .button__icon {
				--size: 16px;
				margin-left: var(--size);
			}
		}
		@media (max-width: $mobile-lg) {
			font-size: 16px;
		}
	}
	&__colors-sizes {
		display: grid;
		grid-auto-rows: min-content;
		align-content: space-between;
		column-gap: var(--container-padding);
		row-gap: rem(32);
		min-height: var(--add-block-height);
		padding: rem(35) var(--container-padding) rem(40);
		border-top: 1px solid var(--gray-light);
		border-bottom: 1px solid var(--gray-light);
		font-family: var(--font-family-suisse);
		box-sizing: border-box;
		&._range {
			display: flex;
			#{$this}__colors {
				flex-shrink: 0;
			}
			#{$this}__sizes {
				width: 100%;
			}
		}
		@media (max-width: $laptop-lg) {
			padding-top: 24px;
			padding-bottom: 26px;
			row-gap: rem(8);
		}
		@media (max-width: $laptop-md) {
			padding-bottom: 23px;
			&._range {
				column-gap: 20px;
			}
		}
		@media (max-width: $laptop-sm) {
			min-height: auto;
			display: flex;
			flex-direction: column;
			padding-top: 8px;
			padding-bottom: 24px;
		}
		@media (max-width: $mobile-lg) {
			padding-bottom: 40px;
			row-gap: 12px;
		}
	}
	&__colors,
	&__sizes {
		position: relative;
		display: grid;
		grid-template-columns: rem(68) 1fr;
		gap: rem(24);
		@media (max-width: $laptop-sm) {
			grid-template-columns: auto;
		}
	}
	&__inputs-list {
		--height: #{rem(32)};
		flex-grow: 1;
		display: grid;
		grid-template-columns: repeat(auto-fill, var(--button-width));
		gap: rem(4);
		height: var(--height);
		overflow: hidden;
		._show & {
			height: auto;
		}
		&._sizes {
			--button-width: #{rem(56)};
		}
		&._colors {
			--button-width: #{rem(32)};
		}
		@media (max-width: $laptop-sm) {
			display: flex;
			flex-wrap: nowrap;
			overflow: visible;
			gap: 8px;
		}
	}
	&__inputs-item {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&._show,
		&._hide {
			display: none;
			._has-wrap & {
				display: flex;
			}
		}
		&._show {
			grid-column: span 1 / -1;
			grid-row: 1 / 2;
			._show & {
				display: none;
			}
		}
		&._hide {
			display: none;
			grid-column: span 2 / -1;
			grid-row: auto;
			._show & {
				display: flex;
			}
		}
		@media (max-width: $laptop-sm) {
			&._show,
			&._hide {
				._has-wrap & {
					display: none;
				}
			}
		}
	}
	&__inputs-btn {
		align-items: center;
		gap: rem(4);
		padding-left: rem(11);
		min-height: rem(31);
		&._hide {
			padding-left: 0;
			flex-direction: row-reverse;
		}
		@media (max-width: $laptop-lg) {
			&._show {
				position: relative;
				left: 4px;
			}
		}
	}
	&__colors {
		@media (max-width: $laptop-sm) {
			padding-bottom: 32px;
			border-bottom: 1px solid var(--gray-light);
		}
		@media (max-width: $mobile-lg) {
			padding-bottom: 40px;
		}
	}
	&__color,
	&__size {
		display: block;
	}
	&__input-label,
	&__input-span {
		display: block;
	}
	&__input-span {
		&._size {
			min-width: rem(56);
			padding-inline: rem(12);
			padding-bottom: 0.15em;
			text-align: center;
			white-space: nowrap;
		}
	}
	&__radio-input {
		display: none;
	}
	&__inputs-wrap {
		display: flex;
		overflow: hidden;
		gap: rem(4);
		@media (max-width: $laptop-sm) {
			overflow: auto;
			padding-inline: var(--container-padding);
			margin-inline: calc(var(--container-padding) * -1);
			scrollbar-width: none;
			@include scrollbar {
				display: none;
			}
		}
	}
	&__inputs-next {
		--size: #{rem(32)};
		@include reset-btn;
		display: none;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		background-color: var(--blue-dark);
		width: var(--size);
		height: var(--size);
		padding: 4px;
		margin-left: 8px;
		border-radius: 50%;
		color: var(--white);
		@media (max-width: $laptop-lg) {
			display: flex;
		}
		@media (max-width: $laptop-sm) {
			display: none;
		}
	}
	&__inputs-next-icon {
		width: 100%;
		height: 100%;
		transform: rotate(180deg);
	}
	&__size-table {
		@extend .animated;
		@include reset-btn;
		place-self: end;
		display: inline-flex;
		align-items: center;
		gap: rem(8);
		&._mobile {
			display: none;
		}
		svg {
			--size: #{rem(24)};
			width: var(--size);
			height: var(--size);
		}
		&:hover {
			opacity: 0.8;
		}
		@media (max-width: $laptop-lg) {
			font-size: 12px;
		}
		@media (max-width: $laptop-sm) {
			display: none;
			&._mobile {
				display: inline-flex;
				position: absolute;
				top: 6px;
				right: 0;
				line-height: 20px;
				border-bottom: 1px solid var(--blue-dark);
			}
		}
		@media (max-width: $mobile-lg) {
			&._mobile {
				font-size: 10px;
				line-height: 16px;
			}
		}
	}
	&__title-sm-wrap {
		display: flex;
		justify-content: space-between;
		column-gap: rem(16);
		padding-top: 0.45em;
	}
	&__title-sm {
		display: flex;
		font-family: var(--font-family-suisse);
		font-weight: 400;
		font-size: rem(16);
		line-height: rem(21);
		text-transform: uppercase;
		@media (max-width: $laptop-md) {
			line-height: 20px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
			line-height: 16px;
		}
	}
	&__title-tooltip {
		display: inline-block;
		margin-top: -2px;
		margin-left: rem(8);
	}
	&__counter-block {
		display: none;
		margin-bottom: var(--block-margin);
		@media (max-width: $laptop-sm) {
			display: block;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 110px;
		}
	}
	&__counter {
		display: inline-flex;
		@media (max-width: $laptop-sm) {
			min-width: 111px;
			margin-top: rem(24);
		}
	}
	&__block {
		margin-bottom: var(--block-margin);
	}
	&__title-md {
		margin-bottom: rem(48);
		@media (max-width: $laptop-lg) {
			margin-bottom: 32px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 24px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 32px;
		}
	}
	&__descr {
		color: var(--gray-dark);
		@media (max-width: $laptop-md) {
			padding-bottom: 8px;
			font-size: 16px;
			line-height: 24px;
		}
		@media (max-width: $laptop-sm) {
			padding-bottom: 0;
			font-size: 16px;
			line-height: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
		p + p {
			margin-top: rem(24);
		}
		&:not(:last-child) {
			margin-bottom: rem(48);
			@media (max-width: $laptop-lg) {
				margin-bottom: 32px;
			}
			@media (max-width: $laptop-md) {
				margin-bottom: 24px;
			}
			@media (max-width: $laptop-sm) {
				margin-bottom: 32px;
			}
		}
	}
	&__features {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
		color: var(--gray-dark);
	}
	&__feature {
		position: relative;
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
		padding-left: rem(22);
		@media (max-width: $laptop-md) {
			font-size: 16px;
		}
		@media (max-width: $laptop-sm) {
			padding-left: 16px;
			line-height: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			width: rem(10);
			height: rem(19);
			background-image: inline('grey-arrow.svg');
			background-repeat: no-repeat;
			background-size: contain;
			@media (max-width: $laptop-sm) {
				width: 8px;
				height: 16px;
			}
		}
	}
	&__features-second {
		display: flex;
		flex-direction: column;
		row-gap: rem(8);
	}
	&__feature-second {
		&::before {
			content: '';
			display: inline-block;
			width: rem(4);
			height: rem(4);
			margin-top: calc(1.5 * var(--font-size-p3) / 2);
			margin-right: rem(12);
			margin-left: 2px;
			transform: translateY(#{rem(-4)});
			background-color: var(--gray-dark);
			border-radius: 50%;
		}
	}
	&__link {
		text-decoration-line: underline;
		color: var(--blue-dark);
		cursor: pointer;
		@extend .animated;
		&:hover {
			color: var(--gray-dark);
		}
	}
	&__reviews {
		--reviews-padding: var(--container-padding);
	}
	&__add-mobile {
		display: none;
		@media (max-width: $laptop-sm) {
			display: flex;
			position: fixed;
			bottom: -1px;
			left: 0;
			right: 0;
			z-index: 2;
		}
	}
	&__size-range {
		grid-column: 1/-1;
		width: 100%;
		margin-top: rem(44);
		@media (max-width: $laptop-sm) {
			max-width: rem(272);
		}
	}
	&__title-tooltip {
		margin-left: rem(8);
	}
}
