.climbing-slider {
	--arrow-size: #{rem(32)};
	--arrow-gap: #{rem(16)};
	--padding-y: #{rem(96)};
	box-sizing: border-box;
	padding: var(--padding-y) 0;
	background-color: var(--white);
	@media (max-width: $laptop-lg) {
		--padding-y: 72px;
	}
	@media (max-width: $laptop-md) {
		--padding-y: 56px;
		--arrow-size: 28px;
		--arrow-gap: 12px;
	}
	@media (max-width: $mobile-lg) {
		--padding-y: 40px;
	}
	&__container {
		position: relative;
		padding: 0 calc(var(--arrow-size) + var(--arrow-gap));
		@media (max-width: $mobile-lg) {
			padding: 0;
		}
	}
	&__inner {
		position: relative;
		overflow: hidden;
	}
	&__list {
		align-items: center;
	}
	&__slide {
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}
	&__picture {
		display: block;
		width: 100%;
		aspect-ratio: 1264 / 609;
	}
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__button {
		position: absolute;
		top: 50%;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--arrow-size);
		height: var(--arrow-size);
		margin: 0;
		padding: 0;
		background: transparent;
		border: 0;
		color: var(--blue-dark);
		transform: translateY(-50%);
		cursor: pointer;
		transition: opacity $default-transition-duration $default-transition-function;
		&.swiper-button-disabled {
			opacity: 0.3;
			pointer-events: none;
		}
		&::after {
			display: none;
		}
		svg {
			width: 100%;
			height: 100%;
		}
		&_prev {
			left: 0;
		}
		&_next {
			right: 0;
		}
		@media (max-width: $mobile-lg) {
			display: none;
		}
	}
	&__pagination {
		position: static;
		display: none;
		justify-content: center;
		gap: 10px;
		margin-top: rem(16);
		@media (max-width: $mobile-lg) {
			display: flex;
		}
		span {
			display: block;
			box-sizing: border-box;
			width: 10px;
			height: 10px;
			margin: 0;
			border: 1px solid var(--blue-dark);
			border-radius: 100vmax;
			background-color: var(--blue-dark);
			opacity: 1;
			transition: width $default-transition-duration $default-transition-function,
				background-color $default-transition-duration $default-transition-function;
			&.swiper-pagination-bullet {
				margin: 0;
			}
			&.swiper-pagination-bullet-active {
				width: 43px;
				background-color: transparent;
			}
		}
	}
}
