.auth {
	$this: &;
	--padding: #{rem(16)};
	display: flex;
	flex-direction: column;
	height: 100%;
	@media (max-width: $mobile-lg) {
		--padding: 8px;
	}
	&__wrap {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: var(--container-padding);
		padding-bottom: 0;
	}
	&__title {
		margin-bottom: rem(96);
		@media (max-width: $laptop-lg) {
			margin-bottom: 72px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 56px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 32px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 24px;
		}
	}
	&__tabs-btns {
		display: flex;
		margin-bottom: var(--container-padding);
	}
	&__tabs-btn {
		@include reset-btn;
		flex-grow: 1;
		width: 50%;
		padding: rem(16);
		border-bottom: 1px solid var(--blue-dark);
		@media (max-width: $laptop-md) {
			padding: 10px;
		}
		@media (max-width: $mobile-lg) {
			padding: 8px;
		}
		&._selected {
			background-color: var(--blue-dark);
			color: var(--white);
		}
	}
	&__tabs {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	&__tab-section {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		&._hidden {
			display: none;
		}
	}
	&__input {
		display: none;
		&._reg {
			display: flex;
		}
		#{$this}._code &._code {
			display: flex;
		}
		#{$this}._phone &._phone {
			display: flex;
		}
		#{$this}._email &._email {
			display: flex;
		}
		#{$this}._pass &._pass {
			display: flex;
		}
	}
	&__code-btn {
		display: none;
		margin-left: auto;
		margin-top: rem(32);
		&._reg {
			display: flex;
		}
		#{$this}._code &._code {
			display: flex;
		}
		#{$this}._phone &._phone {
			display: flex;
		}
		#{$this}._email &._email {
			display: flex;
		}
		#{$this}._pass &._pass {
			display: flex;
		}
	}
	&__input-btns {
		display: flex;
		gap: var(--padding);
		padding-block: var(--padding);
	}
	&__input-btn {
		display: none;
		&._arrow-s .button__icon {
			--size: #{rem(8)};
		}
		&._forgot-pass {
			margin-left: auto;
		}
		#{$this}._code &._code {
			display: flex;
		}
		#{$this}._phone &._phone {
			display: flex;
		}
		#{$this}._email &._email {
			display: flex;
		}
		#{$this}._pass &._pass {
			display: flex;
		}
	}
	&__socials {
		display: flex;
		flex-direction: column;
		gap: var(--padding);
		padding-top: var(--padding);
		margin-top: auto;
		margin-bottom: var(--container-padding);
		@media (max-width: $laptop-md) {
			flex-direction: row;
			align-items: center;
		}
		@media (max-width: $mobile-lg) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__socials-list {
		display: flex;
		gap: var(--padding);
	}
	&__social {
		padding: rem(3) rem(20);
		border: 2px solid var(--blue-dark);
		border-radius: rem(100);
		font-family: var(--font-family-suisse);
		font-size: rem(30);
		line-height: rem(39);
		@media (max-width: $laptop-lg) {
			padding-inline: 11px;
			border-width: 1px;
			font-size: 18px;
			line-height: 24px;
		}
		@media (max-width: $laptop-md) {
			padding-inline: 9px;
		}
		@media (max-width: $mobile-lg) {
			padding-inline: 7px;
			font-size: 14px;
			line-height: 16px;
		}
		&[href] {
			@extend .animated;
			&:hover {
				background-color: var(--blue-dark);
				color: var(--white);
			}
		}
	}
	&__bottom {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		min-height: 176px;
		padding: rem(40) rem(64);
		margin: 0 calc(-1 * var(--container-padding));
		background-color: var(--blue-dark);
		color: var(--white);
		box-sizing: border-box;
		@media (max-width: $laptop-lg) {
			min-height: 134px;
			padding: 32px 40px;
		}
		@media (max-width: $laptop-md) {
			min-height: 112px;
			padding: 24px 32px;
		}
		@media (max-width: $mobile-lg) {
			min-height: 64px;
			padding: 12px 16px;
		}
	}
	&__bottom-btn {
		display: none;
		&._reg {
			display: flex;
		}
		#{$this}._code &._code {
			display: flex;
		}
		#{$this}._phone &._phone {
			display: flex;
		}
		#{$this}._email &._email {
			display: flex;
		}
		#{$this}._pass &._pass {
			display: flex;
		}
		.button__icon {
			transform: rotate(45deg);
		}
		&._arrow-s .button__icon {
			@media (max-width: $laptop-md) {
				--size: 18px;
				margin-left: var(--size);
			}
			@media (max-width: $mobile-lg) {
				--size: 16px;
			}
		}
	}
}
