.breadcrumbs {
	$this: &;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: rem(32);
	padding: rem(16) var(--container-padding) rem(15);
	border-bottom: 1px solid var(--blue-dark);
	background-color: var(--white);
	@media (max-width: $laptop-lg) {
		padding: 8px var(--container-padding) 7px;
	}
	@media (max-width: $mobile-lg) {
		padding: 12px var(--container-padding) 7px;
		overflow: auto;
		white-space: nowrap;
		scrollbar-width: none;
		@include scrollbar {
			display: none;
		}
	}
	&._hero {
		background: none;
		border-bottom: 0;
		display: inline-flex;
		padding: 0;
		justify-content: center;
		gap: 0;
		margin-bottom: rem(16);
		#{$this}__item {
			line-height: 1;
			@media (max-width: $mobile-lg) {
				&:first-child {
					display: block;
				}
			}
			&::after {
				position: relative;
				bottom: 0.05em;
				content: '/';
				margin: 0 rem(6);
				font-family: var(--font-family-suisse);
			}
			&:last-child {
				&::after {
					content: none;
				}
			}
		}
		#{$this}__list {
			@media (max-width: $mobile-lg) {
				justify-content: center;
			}
		}
		#{$this}__link {
			font-size: var(--font-size-h7);
			font-family: var(--font-family-suisse);
			text-transform: uppercase;
			color: var(--gray-light);
			min-height: rem(22);
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $mobile-lg) {
			scrollbar-width: none;
			@include scrollbar {
				display: none;
			}
		}
	}
	&__item {
		@media (max-width: $mobile-lg) {
			display: none;
			font-family: var(--font-family-suisse);
			font-size: 14px;
			text-transform: uppercase;
			&:nth-last-child(1),
			&:nth-last-child(2),
			&:nth-last-child(3) {
				display: block;
			}
			&:nth-last-child(3) {
				font-size: 0;
				&::after {
					content: '...';
					font-size: 14px;
				}
				&::after {
					content: none;
				}
			}
		}
		&::after {
			content: '/';
			margin: 0 rem(8);
			@media (max-width: $mobile-lg) {
				margin: 0 4px;
			}
		}
	}
	&__link {
		flex-shrink: 0;
		&[href] {
			@extend .animated;
			&:hover {
				color: var(--blue-light);
				opacity: 1;
			}
		}
		&._gray {
			color: var(--default-black);
			opacity: 0.5;
		}
	}
}
