.breadcrumbs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: rem(32);
	padding: rem(16) var(--container-padding) rem(15);
	border-bottom: 1px solid var(--blue-dark);
	background-color: var(--white);
	@media (max-width: $laptop-lg) {
		padding: 8px var(--container-padding) 7px;
	}
	@media (max-width: $mobile-lg) {
		padding: 12px 0 7px;
		overflow: auto;
		white-space: nowrap;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $mobile-lg) {
			flex-wrap: nowrap;
			@include scrollbar {
				display: none;
			}
		}
	}
	&__item {
		@media (max-width: $mobile-lg) {
			display: none;
			font-family: var(--font-family-suisse);
			font-size: 14px;
			text-transform: uppercase;
			&:nth-last-child(1),
			&:nth-last-child(2),
			&:nth-last-child(3) {
				display: block;
			}
			&:nth-last-child(3) {
				font-size: 0;
				&::after {
					content: '...';
					font-size: 14px;
				}
				&::after {
					content: none;
				}
			}
		}
		&::after {
			content: '/';
			margin: 0 rem(8);
			@media (max-width: $mobile-lg) {
				margin: 0 4px;
			}
		}
	}
	&__link {
		flex-shrink: 0;
		&[href] {
			@extend .animated;
			&:hover {
				color: var(--blue-light);
				opacity: 1;
			}
		}
		&._side {
			@media (max-width: $mobile-lg) {
				display: none;
			}
		}
		&._gray {
			color: var(--default-black);
			opacity: 0.5;
		}
	}
}
