.availability-table {
	$this: &;
	width: 100%;
	&__row {
		display: flex;
		column-gap: rem(80);
		border-bottom: 1px solid rgba($blue-light, 0.2);
		@media (max-width: $desktop) {
			column-gap: 60px;
		}
		@media (max-width: $laptop-md) {
			column-gap: 40px;
		}
		@media (max-width: $laptop-sm) {
			column-gap: 80px;
		}
		@media (max-width: $mobile-lg) {
			column-gap: 24px;
		}
		&._header {
			color: rgba($gray-dark, 0.5);
			#{$this}__cell {
				padding-top: 0;
			}
		}
	}
	&__cell {
		flex-shrink: 0;
		padding: rem(24) 0 rem(15);
		text-align-last: left;
		&._code {
			flex-grow: 1;
		}
		&._size {
			width: 52px;
		}
		&._color {
			width: 40px;
		}
		&._amount {
			width: 104px;
			@media (max-width: $desktop) {
				width: 96px;
			}
			@media (max-width: $laptop-md) {
				width: 111px;
			}
		}
		#{$this}__size {
			width: 52px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__size,
	&__color {
		cursor: default;
	}
	&__color {
		display: inline-block;
		@media (max-width: $desktop) {
			&._color {
				--size: 40px;
			}
		}
	}
}
