.switch {
	$this: &;
	position: relative;
	display: inline-block;
	width: rem(93);
	height: rem(40);
	border: 1px solid currentColor;
	cursor: pointer;
	user-select: none;
	box-sizing: border-box;
	&._rounded {
		width: rem(80);
		border-radius: 100vmax;
		background-color: var(--blue-dark);
		opacity: 0.3;
		transition: opacity $default-transition-duration $default-transition-function;
		&:has(:checked) {
			opacity: 1;
		}
		&._sm {
			width: rem(58);
			height: rem(29);
		}
		&._xs {
			width: rem(48);
			height: rem(24);
		}
	}
	@media (max-width: $laptop-md) {
		width: 80px;
		height: 32px;
		&._rounded {
			width: 64px;
		}
	}
	@media (max-width: $mobile-lg) {
		width: 72px;
		height: 28px;
		&._rounded {
			width: 64px;
			height: 32px;
			&._sm {
				width: rem(48);
				height: rem(24);
			}
		}
	}
	&__input {
		display: none;
	}
	&__inner {
		&::before {
			--offset: 3px;
			--width: #{rem(32)};

			content: '';
			position: absolute;
			top: var(--offset);
			bottom: var(--offset);
			left: var(--offset);
			width: var(--width);
			border: 1px solid currentColor;
			box-sizing: border-box;
			transform: translateZ(0);
			transition: left $default-transition-duration $default-transition-function,
				background-color $default-transition-duration $default-transition-function;
			will-change: left;
			#{$this}._rounded & {
				border-radius: 50%;
				background-color: var(--white);
			}
			#{$this}._rounded._sm & {
				--offset: 3px;
				--width: #{rem(21)};
			}
			#{$this}._rounded._xs & {
				--offset: 1px;
				--width: #{rem(20)};
			}
			@media (max-width: $laptop-md) {
				--width: 24px;
				#{$this}._rounded & {
					--offset: 1px;
					--width: 28px;
				}
				#{$this}._rounded._sm & {
					--offset: 3px;
					--width: #{rem(21)};
				}
			}
			@media (max-width: $mobile-lg) {
				--width: 20px;

				#{$this}._rounded._sm & {
					--offset: 1px;
				}
			}
		}
		input:checked ~ & {
			#{$this}__label-right {
				opacity: 0;
			}
			#{$this}__label-left {
				opacity: 1;
			}
			&::before {
				left: calc(100% - var(--width) - var(--offset));
				background-color: currentColor;
				#{$this}._rounded & {
					background-color: var(--white);
				}
			}
		}
	}
	&__label-right,
	&__label-left {
		position: absolute;
		top: rem(8);
		bottom: rem(8);
		width: rem(41);
		text-align: center;
		transition: opacity $default-transition-duration $default-transition-function;
		#{$this}._rounded & {
			visibility: hidden;
		}
		@media (max-width: $laptop-md) {
			top: 4px;
			bottom: 4px;
			width: 36px;
		}
		@media (max-width: $mobile-lg) {
			top: 6px;
			bottom: 6px;
			width: 32px;
		}
	}
	&__label-left {
		left: rem(8);
		opacity: 0;
		@media (max-width: $laptop-md) {
			left: auto;
			right: 36px;
			text-align: right;
		}
		@media (max-width: $mobile-lg) {
			right: 32px;
		}
	}
	&__label-right {
		right: rem(8);
	}
}
