.product-reviews {
	$this: &;
	--reviews-padding: #{rem(64)};
	--reviews-margin-1: #{rem(16)};
	--reviews-margin-2: #{rem(24)};
	@media (max-width: $laptop-md) {
		--reviews-margin-1: 8px;
		--reviews-margin-2: 16px;
	}
	&__header {
		display: flex;
		align-items: center;
		column-gap: rem(12);
		padding-left: var(--reviews-padding);
		padding-right: var(--reviews-padding);
		margin-bottom: rem(48);
		@media (max-width: $laptop-lg) {
			margin-bottom: 32px;
		}
		@media (max-width: $laptop-md) {
			margin-bottom: 24px;
		}
		@media (max-width: $laptop-sm) {
			margin-bottom: 32px;
			align-items: flex-end;
		}
	}
	&__count {
		--size: #{rem(32)};
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		min-width: var(--size);
		height: var(--size);
		padding-inline: rem(8);
		margin-left: rem(12);
		border: 1px solid var(--blue-dark);
		border-radius: 100vmax;
		@media (max-width: $mobile-lg) {
			--size: 20px;
			margin-left: 8px;
		}
	}
	&__add {
		display: flex;
		align-items: center;
		margin-left: auto;
		font-family: var(--font-family-suisse);
		font-size: rem(16);
		line-height: rem(21);
		letter-spacing: 0.02em;
		#{$this}__desktop-text {
			@media (max-width: $mobile-lg) {
				display: none;
			}
		}
		& > span {
			padding-top: 0.25em;
			transition: transform $default-transition-duration $default-transition-function;
		}
		&:hover {
			& > span {
				transform: translateX(0.2em);
			}
		}
	}
	&__add-icon {
		--size: #{rem(32)};
		width: var(--size);
		height: var(--size);
		margin-left: rem(10);
		@media (max-width: $mobile-lg) {
			--size: 25px;
		}
	}
	&__list {
		border-bottom: 1px solid var(--blue-dark);
	}
	&__review {
		position: relative;
		padding-top: rem(24);
		padding-bottom: rem(48);
		padding-left: var(--reviews-padding);
		padding-right: var(--reviews-padding);
		border-top: 1px solid var(--gray-light);
		@media (max-width: $laptop-lg) {
			padding-bottom: 32px;
		}
		@media (max-width: $laptop-md) {
			padding-top: 16px;
			padding-bottom: 24px;
		}
		@media (max-width: $laptop-sm) {
			padding-bottom: 31px;
			padding-top: 15px;
		}
		@media (max-width: $mobile-lg) {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}
	&__raitng,
	&__author {
		margin-bottom: var(--reviews-margin-1);
	}
	&__review-title,
	&__text {
		margin-bottom: var(--reviews-margin-2);
		color: var(--gray-dark);
	}
	&__author {
		@media (max-width: $laptop-md) {
			font-size: 20px;
			line-height: 28px;
		}
		@media (max-width: $laptop-sm) {
			font-size: 16px;
			line-height: 24px;
		}
	}
	&__title {
		display: flex;
		align-items: center;
		letter-spacing: -0.04em;
		@media (max-width: $laptop-md) {
			padding: 5px 0;
			font-size: 28px;
			line-height: 36px;
		}
		@media (max-width: $laptop-sm) {
			padding: 8px 0;
			letter-spacing: 0;
			font-size: 24px;
			line-height: 31px;
		}
		@media (max-width: $mobile-lg) {
			padding: 0;
			font-size: 18px;
			line-height: 23px;
		}
	}
	&__review-title {
		@media (max-width: $laptop-md) {
			font-size: 24px;
			line-height: 32px;
		}
		@media (max-width: $laptop-sm) {
			font-size: 18px;
			line-height: 24px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 16px;
		}
	}
	&__text {
		@media (max-width: $laptop-md) {
			font-size: 16px;
		}
		@media (max-width: $laptop-sm) {
			font-size: 14px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 12px;
		}
	}
	&__interests {
		color: var(--gray-dark);
		@media (max-width: $laptop-md) {
			font-size: 16px;
		}
		@media (max-width: $laptop-sm) {
			font-size: 14px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 12px;
			.c-blue-light {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	&__tooltip {
		position: absolute;
		top: 0;
		right: var(--reviews-padding);
		background-color: var(--blue-dark);
		padding: rem(16) 4px 2px;
		&:hover {
			#{$this}__tooltip-text {
				display: block;
				@media (max-width: $laptop-sm) {
					display: none;
				}
			}
		}
	}
	&__tooltip-icon {
		width: rem(40);
		height: rem(32);
		color: var(--white);
	}
	&__tooltip-text {
		position: absolute;
		left: 50%;
		z-index: 5;
		bottom: calc(100% + #{rem(35)});
		display: none;
		transform: translateX(-50%);
		width: rem(188);
		padding: rem(7) rem(37);
		border: 1px solid var(--blue-dark);
		background-color: var(--white);
		box-sizing: border-box;
		text-align: center;
		&::before {
			--size: #{rem(8)};
			content: '';
			position: absolute;
			left: 50%;
			bottom: -1px;
			width: var(--size);
			height: var(--size);
			transform: translate(-50%, 50%) rotate(-45deg);
			border-left: 1px solid var(--blue-dark);
			border-bottom: 1px solid var(--blue-dark);
			background-color: var(--white);
			pointer-events: none;
		}
		@media (max-width: $laptop-md) {
			bottom: 10px;
		}
	}
	&__more {
		@media (max-width: $desktop) {
			--font-size-h7: 16px;
		}
		@media (max-width: $mobile-lg) {
			--font-size-h7: 88px;
		}
	}
	&__reply {
		border-left: 1px solid var(--blue-light);
		color: var(--blue-light);
		padding: rem(16);
		padding-right: 0;
		margin-top: rem(24);
	}
	&__reply-logo {
		width: rem(56);
		height: rem(44);
		padding: rem(6);
		margin-bottom: rem(11);
		box-sizing: border-box;
	}
}
