.range-slider {
	--handle-size: #{rem(20)};
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: rem(16);
	max-width: rem(330);
	box-shadow: none;
	color: var(--gray-dark);
	&__slider {
		width: 100%;
		border: 0;
		height: rem(4);
	}
	.noUi-base {
		background-color: rgba(65, 92, 152, 0.2);
	}
	.noUi-connect {
		background-color: var(--blue-dark);
	}
	.noUi-handle {
		top: calc(var(--handle-size) / -2.5);
		right: calc(var(--handle-size) / -2);
		width: var(--handle-size);
		height: var(--handle-size);
		border-radius: 50%;
		background-color: var(--blue-dark);
		border: 2px solid var(--white);
		box-sizing: border-box;
		box-shadow: none;
		cursor: grab;
		&::before {
			display: none;
		}
		&::after {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			border: 1px solid var(--blue-dark);
			border-radius: 50%;
			background: 0;
		}
	}
	.noUi-tooltip {
		bottom: 100%;
		border: 0;
		background: 0;
		font-family: var(--default-font-family);
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
	}
}
