.about-slider {
	$this: &;
	background-color: var(--white);
	border-bottom: 1px solid var(--blue-dark);
	&__section-wrapper {
		overflow: hidden;
	}
	&__section {
		--padding-y: #{vh(96, 968)};
		position: relative;
		display: flex;
		height: var(--100vh);
		padding: var(--padding-y) var(--container-padding);
		box-sizing: border-box;
		&::after {
			content: '';
			display: block;
			flex-shrink: 0;
			width: 1px;
		}
		@media (max-width: $laptop-lg) {
			--padding-y: #{vh(72, 663)};
		}
		@media (max-width: $laptop) {
			--padding-y: #{vh(56, 520)};
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			height: auto;
			--padding-y: 65px;
			&::after {
				display: none;
			}
		}
		@media (max-width: $mobile-lg) {
			--padding-y: 43px;
		}
	}
	&__col {
		position: relative;
		display: flex;
		flex-shrink: 0;
		flex-direction: column;
		justify-content: space-between;
		&._full-height {
			padding: var(--padding-y) var(--container-padding);
			margin-block: calc(0px - var(--padding-y));
			@media (max-width: $tablet) {
				margin: 0 calc(0px - var(--container-padding));
			}
		}
		&._full-screen-width {
			padding-inline: var(--container-padding);
			width: 100%;
			flex-shrink: 0;
			@media (max-width: $tablet) {
				padding: 0;
			}
		}
		&._first {
			margin-right: rem(283);
			@media (max-width: $laptop-lg) {
				margin-right: 139px;
			}
			@media (max-width: $laptop) {
				margin-right: 53px;
			}
			@media (max-width: $tablet) {
				margin-right: 0;
				padding-bottom: 56px;
			}
			@media (max-width: $mobile-lg) {
				padding-bottom: 39px;
			}
		}
		&._second {
			flex-direction: row;
			align-items: flex-end;
			padding-right: rem(248);
			color: var(--white);
			background-color: var(--blue-dark);
			@media (max-width: $laptop-lg) {
				padding-left: 28px;
				padding-right: 192px;
			}
			@media (max-width: $laptop) {
				padding-right: 144px;
			}
			@media (max-width: $tablet) {
				flex-direction: column;
				align-items: flex-start;
				margin-bottom: 56px;
				padding-inline: var(--container-padding);
				padding-top: 0;
				padding-bottom: 144px;
			}
			@media (max-width: $mobile-lg) {
				padding-bottom: 96px;
				margin-bottom: 42px;
			}
		}
	}
	&__img {
		flex-shrink: 0;
		max-width: none;
		pointer-events: none;
		object-fit: cover;
		max-height: none;
		img {
			max-height: none;
		}
		&._first {
			width: rem(1360);
			height: 100%;
			@media (max-width: $laptop-lg) {
				width: 937px;
			}
			@media (max-width: $laptop) {
				width: 659px;
			}
			@media (max-width: $tablet) {
				width: 100%;
				height: 448px;
			}
			@media (max-width: $mobile-lg) {
				height: 348px;
			}
		}
		&._second {
			img {
				width: rem(768);
				height: vh(490, 968);
				@media (max-width: $laptop-lg) {
					width: 622px;
					height: 321px;
				}
				@media (max-width: $laptop) {
					width: 454px;
					height: 262px;
				}
				@media (max-width: $tablet) {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	&__logo-placeholder {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;
		pointer-events: none;
		@media (max-width: $tablet) {
			bottom: 0;
			width: calc(100% - var(--container-padding) * 2);
		}
	}
	&__logo-img {
		margin-top: auto;
		flex-shrink: 0;
		margin-right: rem(82);
		margin-bottom: rem(-24);
		width: 2750px;
		@media (max-width: $laptop-lg) {
			width: 2400px;
			min-height: 296px;
			margin-right: 58px;
			margin-bottom: -16px;
		}
		@media (max-width: $tablet) {
			display: flex;
			align-items: flex-end;
			box-sizing: border-box;
			width: 3440px;
			height: var(--100vh);
			margin: 0;
			margin-bottom: 91px;
			padding-bottom: 35px;
			svg {
				height: 412px !important;
			}
		}
		@media (max-width: $mobile-lg) {
			width: 1600px;
			margin-bottom: 74px;
			padding-bottom: 30px;
			svg {
				height: 197px !important;
			}
		}
	}
	&__title {
		margin-bottom: rem(180);
		@media (max-width: $laptop-lg) {
			margin-top: 8px;
		}
		@media (max-width: $tablet) {
			margin-top: 0;
			margin-bottom: 137px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 181px;
		}
	}
	&__text {
		&._first {
			max-width: rem(677);
		}
		&._second {
			max-width: rem(725);
			margin-right: rem(258);
			margin-bottom: rem(-6);
			font-size: rem(44);
			@media (max-width: $laptop-lg) {
				margin-right: 192px;
			}
			@media (max-width: $laptop) {
				margin-right: 144px;
				font-size: 30px;
			}
			@media (max-width: $tablet) {
				margin-right: 0;
				margin-bottom: 141px;
			}
			@media (max-width: $mobile-lg) {
				margin-bottom: 96px;
				font-size: 22px;
			}
		}
	}
	&__quote-text {
		margin-bottom: rem(12);
		@media (max-width: $laptop-lg) {
			max-width: 830px;
			font-size: 44px;
		}
		@media (max-width: $laptop) {
			max-width: 645px;
			font-size: 30px;
		}
		@media (max-width: $mobile-lg) {
			max-width: 645px;
			margin-bottom: 6px;
			font-size: 22px;
		}
	}
	&__quote-author {
		margin-bottom: rem(48);
		@media (max-width: $laptop-lg) {
			margin-bottom: 30px;
		}
		@media (max-width: $laptop) {
			font-size: 16px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 22px;
			font-size: 14px;
		}
	}
}
