.about-slider {
	$this: &;
	background-color: var(--white);
	border-bottom: 1px solid var(--blue-dark);
	&__section-wrapper {
		overflow: hidden;
	}
	&__section {
		--padding-y: #{vh(100, 1040)};
		position: relative;
		display: flex;
		padding: var(--padding-y) var(--container-padding);
		display: flex;
		height: 100vh;
		box-sizing: border-box;
		&::after {
			content: '';
			display: block;
			flex-shrink: 0;
			width: 1px;
		}
		@media (max-width: $laptop-lg) {
			--padding-y: #{vh(95, 760)};
		}
		@media (max-width: $laptop) {
			--padding-y: #{vh(72, 640)};
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			height: auto;
			&::after {
				display: none;
			}
		}
		@media (max-width: $mobile-lg) {
			--padding-y: 48px;
		}
	}
	&__col {
		position: relative;
		display: flex;
		flex-shrink: 0;
		flex-direction: column;
		justify-content: space-between;
		&._full-height {
			padding: var(--padding-y) var(--container-padding);
			margin-block: calc(0px - var(--padding-y));
		}
		&._full-screen-width {
			padding-inline: var(--container-padding);
			width: 100%;
			flex-shrink: 0;
		}
		&._first {
			margin-right: rem(283);
		}
		&._second {
			flex-direction: row;
			align-items: flex-end;
			padding-right: rem(248);
			color: var(--white);
			background-color: var(--blue-dark);
		}
	}
	&__img {
		flex-shrink: 0;
		max-width: none;
		pointer-events: none;
		object-fit: cover;
		&._first {
			width: rem(1360);
		}
	}
	&__logo-placeholder {
		position: absolute;
		bottom: 0;
		left: 0;
		width: rem(1000);
	}
	&__logo-img {
		margin-top: auto;
		flex-shrink: 0;
		margin-right: rem(96);
	}
	&__title {
		margin-bottom: rem(180);
	}
	&__text {
		&._first {
			max-width: rem(677);
		}
		&._second {
			max-width: rem(520);
			margin-right: rem(275);
			font-size: rem(30);
		}
	}
	&__quote-text {
		margin-bottom: rem(16);
	}
	&__quote-author {
		margin-bottom: rem(48);
	}
}
