.subscription-news {
	width: rem(432);
	&__header {
		padding: rem(32);
		box-sizing: border-box;
		position: relative;
		height: rem(307);
		overflow: hidden;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			object-fit: cover;
		}
	}
	&__title {
		position: relative;
	}
	&__footer {
		padding: rem(32);
		box-sizing: border-box;
	}
}
