.club-card-form {
	display: flex;
	align-items: flex-end;
	column-gap: rem(16);
	&__input {
		flex-grow: 1;
		[data-form-stage='pay'] &,
		[data-form-stage='cancel'] & {
			display: none;
		}
	}
	&__available {
		display: none;
		flex-grow: 1;
		flex-direction: column;
		row-gap: rem(8);
		[data-form-stage='pay'] &,
		[data-form-stage='cancel'] & {
			display: flex;
		}
	}
	&__btn {
		display: none;
		font-size: rem(18);
		[data-form-stage='add'] &._add,
		[data-form-stage='pay'] &._pay,
		[data-form-stage='cancel'] &._cancel {
			display: inline-flex;
		}
		&.button .button__icon {
			--size: #{rem(24)};
			margin-left: rem(16);
		}
		@media (max-width: $laptop-lg) {
			&.button .button__icon {
				--size: 16px;
			}
		}
		@media (max-width: $laptop) {
			font-size: 16px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
			&.button .button__icon {
				margin-left: 8px;
			}
		}
	}
}
