.cart-popup {
	--gap: var(--container-padding);
	--gap-1: #{rem(48)};
	--gap-2: #{rem(32)};
	--gap-3: #{rem(24)};
	--gap-4: #{rem(16)};
	--gap-5: #{rem(8)};
	--min-bottom-height: #{rem(176)};
	display: flex;
	flex-direction: column;
	height: 100%;
	@media (max-width: $laptop-lg) {
		--gap-1: 32px;
		--gap-2: 24px;
		--gap-3: 16px;
		--gap-4: 8px;
		--min-bottom-height: 134px;
	}
	@media (max-width: $laptop-md) {
		--gap-1: 24px;
		--min-bottom-height: 112px;
	}
	@media (max-width: $laptop-sm) {
		--gap: 32px;
	}
	@media (max-width: $mobile-lg) {
		--gap: 48px;
		--min-bottom-height: 64px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__wrap {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}
	&__title {
		padding-right: rem(50);
	}
	&__block {
		display: grid;
		gap: var(--gap-1);
		&._2 {
			gap: var(--gap-2);
		}
		&._3 {
			gap: var(--gap-3);
		}
		&._4 {
			gap: var(--gap-4);
		}
		&._5 {
			gap: var(--gap-5);
		}
		&._no-gap {
			gap: 0;
		}
		&._mt-a {
			margin-top: auto;
		}
		&._col-2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__bottom {
		flex-shrink: 0;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		min-height: var(--min-bottom-height);
		padding: rem(40) rem(64);
		margin: var(--container-padding) calc(var(--container-padding) * -1)
			calc(var(--container-padding) * -1);
		background-color: var(--blue-dark);
		color: var(--white);
		box-sizing: border-box;
		@media (max-width: $laptop-lg) {
			padding: 32px 40px;
		}
		@media (max-width: $laptop-md) {
			padding: 24px 32px;
		}
		@media (max-width: $mobile-lg) {
			padding: 12px 16px;
		}
	}
	a {
		&[href] {
			color: var(--blue-light);
			text-decoration: none;
			@extend .animated;
			&:hover {
				color: var(--gray-darl);
			}
		}
	}
}
