.community-contacts {
	&__title {
		&:not(:first-child) {
			margin-top: rem(56);
		}
		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}
}
