.trails-text {
	padding-block: rem(124);
	border-bottom: 1px solid var(--blue-dark);
	color: var(--gray-dark);
	font-family: var(--font-family-suisse);
	font-size: rem(44);
	line-height: 1.3;
	p {
		max-width: rem(1410);
	}
	@media (max-width: $laptop) {
		padding-block: 96px;
		font-size: 30px;
	}
	@media (max-width: $mobile-lg) {
		padding-block: 64px;
		font-size: 22px;
		line-height: 1.32;
	}
}
