.timeline {
	$this: &;
	--c-base: #{rgba($blue-light, 0.4)};
	--c-active: var(--blue-dark);
	display: flex;
	box-sizing: border-box;
	height: var(--timeline-height);
	padding-top: rem(32);
	padding-bottom: rem(24);
	border-bottom: 1px solid currentColor;
	color: var(--c-base);
	background-color: var(--white);
	@media (max-width: $laptop) {
		padding-top: 19px;
		padding-bottom: 21px;
	}
	@media (max-width: $mobile-lg) {
		padding-top: 15px;
		padding-bottom: 13px;
		overflow: auto;
	}
	&__container,
	&__progress {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: rem(8);
			background-size: contain;
		}
	}
	&__container {
		position: relative;
		display: flex;
		&::before {
			background-image: inline('timeline.svg');
		}
		@media (max-width: $mobile-lg) {
			flex-shrink: 0;
			width: 724px;
			margin-inline: 16px;
		}
	}
	&__progress {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		transform-origin: left;
		transition: width 1s ease;
		will-change: width;
		&::before {
			background-image: inline('timeline-active.svg');
		}
	}
	&__list {
		position: relative;
		display: flex;
		width: 100%;
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
	}
	&__item {
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
		&:has(~ .timeline__item._active) {
			#{$this}__link {
				color: var(--c-active);
			}
		}
		&:first-child {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			height: 100%;
			#{$this}__link {
				justify-content: flex-start;
				padding-right: 0;
				padding-left: rem(4);
				border-right: 0;
				border-left: 1px solid currentColor;
			}
		}
	}
	&__link {
		position: relative;
		display: flex;
		align-items: flex-end;
		padding-right: rem(4);
		line-height: 1;
		border-right: 1px solid currentColor;
		transition: color $fast-transition-duration $default-transition-function;
		&._active {
			color: var(--c-active);
		}
		&:focus {
			outline: none;
		}
	}
}
