.timeline {
	$this: &;
	--c-base: #{rgba($blue-light, 0.4)};
	--c-active: var(--blue-dark);
	display: flex;
	box-sizing: border-box;
	height: var(--timeline-height);
	padding-top: rem(32);
	padding-bottom: rem(24);
	border-bottom: 1px solid currentColor;
	color: var(--c-base);
	background-color: var(--white);
	@media (max-width: $laptop) {
		padding-top: 19px;
		padding-bottom: 21px;
	}
	@media (max-width: $mobile-lg) {
		padding-top: 15px;
		padding-bottom: 13px;
		overflow: auto;
	}
	&__container {
		position: relative;
		display: flex;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: inline('timeline.svg');
			background-repeat: no-repeat;
			background-size: var(--progressbar-width);
		}
		@media (max-width: $laptop-lg) {
			&::before {
				background-image: inline('timeline-lg.svg');
			}
		}
		@media (max-width: $laptop) {
			&::before {
				background-image: inline('timeline-md.svg');
			}
		}
		@media (max-width: $tablet) {
			&::before {
				background-image: inline('timeline-sm.svg');
			}
		}
		@media (max-width: $mobile-lg) {
			flex-shrink: 0;
			width: 724px;
			margin-inline: 16px;
		}
	}
	&__progress {
		--container-max-width: 120rem;
		--bg-width: min(var(--container-max-width), 100% - var(--container-padding) * 2);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: left;
		transition: width 1s ease;
		will-change: width;
		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: inline('timeline-active.svg');
			background-repeat: no-repeat;
			background-size: var(--progressbar-width);
		}
		@media (max-width: $laptop-lg) {
			span {
				background-image: inline('timeline-lg-active.svg');
			}
		}
		@media (max-width: $laptop) {
			span {
				background-image: inline('timeline-md-active.svg');
			}
		}
		@media (max-width: $tablet) {
			span {
				background-image: inline('timeline-sm-active.svg');
			}
		}
	}
	&__list {
		position: relative;
		z-index: 2;
		display: flex;
		width: 100%;
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
	}
	&__item {
		display: flex;
		flex-grow: 1;
		&:has(~ .timeline__item._active) {
			#{$this}__link {
				color: var(--c-active);
			}
		}
	}
	&__link {
		position: relative;
		display: flex;
		width: 50%;
		line-height: 1;
		border-right: 1px solid currentColor;
		transition: color $fast-transition-duration $default-transition-function;
		opacity: 0;
		&._active {
			color: var(--c-active);
		}
		&:focus {
			outline: none;
		}
	}
}
