.clearfix {
	&:after {
		content: ' ';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		font-size: 0;
	}
}

.invisible-container {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-select {
	user-select: none;
}

.no-pe {
	pointer-events: none;
}

// ._dragging, ._dragging * {
// 	cursor: ew-resize;
// 	cursor: grabbing;
// 	cursor: -moz-grabbing;
// 	cursor: -webkit-grabbing;
// 	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAD///8AAABzxoNxAAAAAXRSTlMAQObYZgAAADFJREFUCNdjQAeLuhgYmCJTFzAwhYbOYGCYGhrBwAQiOEMhRAJIIgEk0cDAoAoj4AAA6jIM345/MPUAAAAASUVORK5CYII='),
// 		auto;
// }
//
// ._draggable, ._draggable * {
// 	cursor: ew-resize;
// 	cursor: grab;
// 	cursor: -moz-grab;
// 	cursor: -webkit-grab;
// 	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAD///8AAADAwMAJ6vS1AAAAAXRSTlMAQObYZgAAAEVJREFUCNctxLENgDAMRcEndxkkFfMYQUeTAqZwCQN8j8CcxBLFHVhMzwXtHFHd2D7eKlnkScpXJN/oPmt/B1YhD+gV8AEVfxL3aRgilwAAAABJRU5ErkJggg=='),
// 		auto;
// }

.static-text {
	p {
		margin-bottom: 1.4em;
	}
	img {
		max-width: 100%;
	}
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Linear png spinner */
%spinner {
	width: 20px;
	height: 20px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAALVBMVEUAAABra2toaGhsbGxra2tsbGxra2tsbGxsbGxsbGxra2tsbGxra2tra2tsbGzKmJSYAAAAD3RSTlMAQw0aW4c2vq2YechqK+kA+co8AAAAd0lEQVQI12NgYGDyKGeAAr8pggwMCiAWZxOQgLA9GGCAsQhCMzEwaCdAxQwYXGHSRgwTYUxlhk0wJhvDBgSzAG4UQxOCGQZjmjHIwJjJDJoGUKYAA2MAVOkFBgYviLAgiBsMYrFcAJGpzgwMhmchzpMKXXUQ6HIArngPcG/qBmMAAAAASUVORK5CYII=');
	opacity: 1;
	animation: rotating 0.65s linear infinite;
}

.animated {
	@extend .transition-active;
	&:hover {
		@extend .transition-hover;
	}
}

.transition-active {
	transition: color $fast-transition-duration $default-transition-function,
		background $fast-transition-duration $default-transition-function,
		outline $fast-transition-duration $default-transition-function,
		opacity $fast-transition-duration $default-transition-function,
		border-color $fast-transition-duration $default-transition-function;
}

.transition-hover {
	transition: none;
}

.force3D {
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

%overflow-y {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.ttu {
	text-transform: uppercase;
}

.tac {
	text-align: center;
}

.c-blue-light {
	color: var(--blue-light);
}

.c-blue-dark {
	color: var(--blue-dark);
}

.c-gray-dark {
	color: var(--gray-dark);
}

.hidden {
	display: none !important;
}
