.wrapper {
	position: relative;
}

.container {
	--container-max-width: #{rem(1920)};

	width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
	margin-inline: auto;
}

.page {
	$this: &;
	&__wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
	&__header {
		position: fixed;
		z-index: 21;
		top: 0;
		left: 0;
		right: 0;
	}
	&__main {
		flex-grow: 1;
		&._pt {
			padding-top: var(--header-height);
		}
		&._white-bg {
			background-color: var(--white);
		}
	}
	&__menu {
		position: fixed !important;
		z-index: 21;
		top: 0;
		left: 0;
		width: 100%;
		transform: translateY(-100%);
		opacity: 0;
		will-change: transform;
		pointer-events: none;
		&._initialized {
			transition: transform $default-transition-duration $default-transition-function;
		}
	}
	&._menu-opened {
		#{$this}__menu {
			z-index: 20;
			opacity: 1;
			transform: translateY(0);
			pointer-events: all;
		}
		#{$this}__header {
			color: var(--white);
			background-color: var(--blue-dark);
			border-bottom: 1px solid currentColor;
			transition: none;
		}
	}
	&__community-nav {
		@media (max-width: $mobile-lg) {
			display: none;
		}
	}
}
