.community-tabs {
	$this: &;
	--container-max-width: #{rem(1920)};
	--container-width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
	--padding-x: var(--container-padding);
	--padding-y: #{rem(124)};
	--full-width: 1728;
	--left-col: 692;
	--right-col: 1036;
	--left-col-width: calc(var(--container-width) * (var(--left-col) / var(--full-width)));
	--right-col-width: calc(var(--container-width) * (var(--right-col) / var(--full-width)));

	position: relative;
	display: grid;
	grid-template-columns: 1fr var(--left-col-width) var(--right-col-width) 1fr;
	&::before {
		content: '';
		grid-column: 1/2;
		grid-row: 1/-1;
		background-color: var(--white);
	}
	@media (max-width: $laptop-sm) {
		display: flex;
		flex-direction: column;
	}
	&._delivery {
		--padding-y: var(--container-padding);
		--tabs-width: #{rem(384)};
		grid-template-columns: var(--tabs-width) 1fr;
		@media (max-width: $laptop-lg) {
			--tabs-width: 312px;
		}
		@media (max-width: $laptop-md) {
			--tabs-width: 224px;
		}
		&::before {
			content: none;
		}
		#{$this}__tabs {
			grid-column: auto;
			border-right: 1px solid var(--blue-dark);
			margin-left: 0;
			row-gap: rem(4);
			@media (max-width: $laptop-md) {
				row-gap: 6px;
			}
			@media (max-width: $laptop-sm) {
				flex-direction: row;
				width: 100%;
				padding: 32px 24px 0;
				border-bottom: 1px solid var(--blue-dark);
				border-right: none;
				white-space: nowrap;
				overflow: auto;
			}
			@media (max-width: $mobile-lg) {
				padding: 24px 0 0;
			}
		}
		#{$this}__tabs-item {
			@media (max-width: $laptop-sm) {
				flex-grow: 1;
			}
		}
		#{$this}__sections {
			grid-column: auto;
			padding-right: rem(104);
			margin-right: 0;
			background-color: var(--gray-light);
			@media (max-width: $laptop-lg) {
				padding-right: var(--container-padding);
			}
		}
		#{$this}__section {
			padding-top: var(--container-padding);
			padding-bottom: var(--container-padding);
		}
		#{$this}__tabs-btn {
			align-items: center;
			padding-top: rem(8);
			padding-bottom: rem(4);
			padding-right: rem(74);
			@media (max-width: $laptop-lg) {
				padding-right: 50px;
			}
			@media (max-width: $laptop-md) {
				padding-right: 42px;
				font-size: 16px;
				line-height: 20px;
			}
			@media (max-width: $laptop-sm) {
				justify-content: center;
				min-width: 172px;
				padding: 8px;
				text-align: center;
				font-size: 14px;
				line-height: 16px;
				opacity: 1;
				box-sizing: border-box;
				&._active {
					background-color: var(--blue-dark);
					color: var(--white);
				}
			}
			@media (max-width: $mobile-lg) {
				min-width: 155px;
				padding: 16px;
			}
			svg {
				width: rem(32);
				height: rem(32);
				margin-top: 0;
				@media (max-width: $laptop-md) {
					width: 16px;
					height: 16px;
				}
				@media (max-width: $laptop-sm) {
					display: none;
				}
			}
		}
	}
	&__tabs {
		grid-column: 2/3;
		display: flex;
		flex-direction: column;
		padding-block: var(--padding-y);
		padding-left: var(--padding-x);
		background-color: var(--white);
		margin-left: calc(0px - var(--container-padding));
		@media (max-width: $laptop-sm) {
			margin-left: 0;
		}
	}
	&__sections {
		grid-column: 3/4;
		padding-inline: var(--padding-x);
		margin-right: calc(0px - var(--container-padding));
		@media (max-width: $laptop-sm) {
			margin-right: 0;
		}
	}
	&__tabs-btn {
		@include reset-btn;
		@extend .animated;
		display: flex;
		width: 100%;
		justify-content: space-between;
		column-gap: rem(12);
		padding-right: var(--padding-x);
		text-align: left;
		opacity: 0.4;
		svg {
			flex-shrink: 0;
			width: rem(48);
			height: rem(48);
			margin-top: 0.1em;
			opacity: 0;
			pointer-events: none;
		}
		&._active {
			opacity: 1;
			pointer-events: none;
			svg {
				opacity: 1;
			}
		}
		&:hover {
			opacity: 1;
		}
	}
	&__section {
		display: none;
		&._active {
			display: block;
		}
		&._application-form {
			padding-top: rem(124);
		}
		&._contacts,
		&._requisites {
			padding-block: rem(64);
		}
	}
}
