.community-tabs {
	$this: &;
	--container-max-width: #{rem(1920)};
	--container-width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
	--padding-x: var(--container-padding);
	--padding-y: #{rem(124)};
	--full-width: 1728;
	--left-col: 692;
	--right-col: 1036;
	--left-col-width: calc(var(--container-width) * (var(--left-col) / var(--full-width)));
	--right-col-width: calc(var(--container-width) * (var(--right-col) / var(--full-width)));
	position: relative;
	display: grid;
	grid-template-columns: 1fr var(--left-col-width) var(--right-col-width) 1fr;
	&::before {
		content: '';
		grid-column: 1/2;
		grid-row: 1/-1;
		background-color: var(--white);
	}
	@media (max-width: $laptop-lg) {
		--padding-y: 96px;
		&._distribution {
			#{$this}__tabs {
				padding-top: 108px;
				row-gap: 36px;
			}
			#{$this}__tabs-btn {
				letter-spacing: 0;
			}
		}
	}
	@media (max-width: $laptop) {
		--padding-y: 75px;
		&._distribution {
			#{$this}__tabs {
				padding-top: 73px;
				row-gap: 31px;
			}
		}
	}
	@media (max-width: $laptop-sm) {
		display: flex;
		flex-direction: column;
		&._mobile {
			--padding-y: 72px;
			&._active {
				#{$this}__tabs {
					min-height: auto;
					padding-bottom: 0;
					background: 0;
				}
				#{$this}__tabs-item {
					display: none;
					&._active {
						display: block;
					}
				}
				#{$this}__section {
					padding-top: 48px;
					&._application-form {
						padding-top: 56px;
					}
				}
			}
		}
		&._distribution {
			#{$this}__tabs-btn {
				br {
					display: none;
				}
			}
		}
	}
	@media (max-width: $tablet) {
		&._distribution {
			&._active #{$this}__tabs {
				padding-top: 84px;
			}
		}
	}
	@media (max-width: $mobile-lg) {
		&._mobile {
			&._active {
				#{$this}__section {
					padding-top: 40px;
					&._application-form {
						padding-top: 38px;
					}
				}
			}
			#{$this}__tabs-btn {
				&._active {
					padding: 0;
					font-size: 22px;
				}
			}
		}
		&._distribution {
			&._active #{$this}__tabs {
				padding-top: 50px;
			}
		}
	}
	&__tabs {
		grid-column: 2/3;
		display: flex;
		flex-direction: column;
		row-gap: rem(32);
		padding-block: var(--padding-y);
		padding-top: rem(143);
		padding-left: var(--padding-x);
		background-color: var(--white);
		margin-left: calc(0px - var(--container-padding));
		border-right: 1px solid var(--blue-dark);
		@media (max-width: $laptop-lg) {
			padding-top: 95px;
		}
		@media (max-width: $laptop-sm) {
			row-gap: 24px;
			min-height: var(--100vh);
			margin-left: 0;
			border-right: 0;
		}
		@media (max-width: $laptop) {
			padding-top: 74px;
		}
		@media (max-width: $mobile-lg) {
			row-gap: 24px;
			padding-top: 49px;
		}
	}
	&__sections {
		grid-column: 3/4;
		padding-inline: var(--padding-x);
		margin-right: calc(0px - var(--container-padding));
		@media (max-width: $laptop-sm) {
			margin-right: 0;
		}
	}
	&__tabs-btn {
		--arrow-size: #{rem(48)};
		@include reset-btn;
		@extend .animated;
		display: flex;
		width: 100%;
		justify-content: space-between;
		column-gap: rem(12);
		padding-right: var(--padding-x);
		font-family: var(--font-family-suisse);
		text-align: left;
		opacity: 0.4;
		svg {
			flex-shrink: 0;
			width: var(--arrow-size);
			height: var(--arrow-size);
			opacity: 0;
			pointer-events: none;
		}
		&._active {
			opacity: 1;
			pointer-events: none;
			svg {
				opacity: 1;
			}
		}
		&._logout {
			color: var(--red-dark);
			opacity: 1;
			svg {
				display: none;
			}
		}
		&:hover {
			opacity: 1;
		}
		@media (max-width: $laptop-lg) {
			--arrow-size: 32px;
			font-size: 28px;
			letter-spacing: -0.04em;
			svg {
				margin: 0;
			}
		}
		@media (max-width: $laptop) {
			font-size: 24px;
			letter-spacing: 0;
		}
		@media (max-width: $laptop-sm) {
			align-items: center;
			min-height: 71px;
			opacity: 1;
			font-size: 30px;
			svg {
				opacity: 1;
			}
			&._active {
				flex-direction: row-reverse;
				justify-content: flex-end;
				min-height: auto;
				pointer-events: all;
				svg {
					transform: scaleX(-1);
					margin-top: -0.2em;
				}
			}
		}
		@media (max-width: $mobile-lg) {
			--arrow-size: 24px;
			box-sizing: border-box;
			padding-block: 8px;
			min-height: 40px;
			font-size: 18px;
		}
	}
	&__section {
		display: none;
		&._active {
			display: block;
		}
		&._application-form {
			padding-top: rem(124);
			@media (max-width: $laptop-lg) {
				padding-top: var(--padding-y);
			}
		}
		&._contacts,
		&._requisites {
			padding-block: rem(64);
		}
		._distribution & {
			box-sizing: border-box;
			min-height: var(--100vh);
			&._contacts,
			&._requisites {
				padding-top: rem(143);
				@media (max-width: $laptop-lg) {
					padding-top: var(--padding-y);
				}
			}
		}
		&._profile {
			padding-block: var(--container-padding);
			@media (max-width: $laptop-md) {
				padding-bottom: 116px;
			}
			@media (max-width: $laptop-sm) {
				padding-bottom: 81px;
			}
			@media (max-width: $mobile-lg) {
				padding-bottom: 56px;
			}
		}
		&._messages {
			min-height: rem(600);
			box-sizing: border-box;
			@media (max-width: $laptop-sm) {
				min-height: auto;
			}
		}
		&._delivery {
			padding-top: var(--container-padding);
			padding-bottom: var(--container-padding);
		}
		&._payment {
			padding-top: var(--container-padding);
			padding-bottom: rem(692);
			@media (max-width: $laptop-lg) {
				padding-bottom: 602px;
			}
			@media (max-width: $laptop-md) {
				padding-bottom: 651px;
			}
			@media (max-width: $laptop-sm) {
				padding-bottom: 893px;
			}
			@media (max-width: $mobile-lg) {
				padding-bottom: 260px;
			}
		}
		&._return {
			padding-top: var(--container-padding);
			padding-bottom: rem(560);
			@media (max-width: $laptop-lg) {
				padding-bottom: 470px;
			}
			@media (max-width: $laptop-md) {
				padding-bottom: 126px;
			}
			@media (max-width: $laptop-sm) {
				padding-bottom: 653px;
			}
			@media (max-width: $mobile-lg) {
				padding-bottom: 95px;
			}
		}
		&._contacts {
			padding-top: var(--container-padding);
			@media (max-width: $laptop-sm) {
				padding-bottom: 32px;
			}
			@media (max-width: $mobile-lg) {
				padding-bottom: 60px;
			}
		}
		& > .community-contacts {
			max-width: rem(826);
			@media (max-width: $laptop-lg) {
				max-width: 784px;
			}
			@media (max-width: $laptop-md) {
				max-width: none;
			}
		}
	}
	&._profile {
		--left-col: 344;
		--right-col: 1384;
		@media (max-width: $laptop-lg) {
			--left-col: 436;
			--right-col: 1296;
		}
		@media (max-width: $laptop-md) {
			--left-col: 526;
			--right-col: 1206;
		}
		#{$this}__tabs {
			row-gap: 20px;
			padding-top: var(--container-padding);
			@media (max-width: $laptop-md) {
				gap: 16px;
			}
			@media (max-width: $laptop-sm) {
				gap: 0;
			}
		}
		#{$this}__tabs-btn {
			--arrow-size: #{rem(36)};
			gap: 0;
			@media (max-width: $mobile-lg) {
				--arrow-size: 24px;
			}
		}
	}
	&._delivery {
		--left-col: 344;
		--right-col: 1384;
		overflow: hidden;
		@media (max-width: $laptop-lg) {
			--left-col: 347;
			--right-col: 1380;
		}
		@media (max-width: $laptop-md) {
			--left-col: 345;
			--right-col: 1386;
		}
		#{$this}__tabs {
			row-gap: 18px;
			padding-top: 73px;
			@media (max-width: $laptop-lg) {
				padding-top: 48px;
			}
			@media (max-width: $laptop-md) {
				padding-top: 41px;
				gap: 18px;
			}
			@media (max-width: $laptop-sm) {
				gap: 0;
			}
		}
		#{$this}__tabs-btn {
			--arrow-size: #{rem(32)};
			gap: 0;
			@media (max-width: $laptop-md) {
				--arrow-size: 16px;
				font-size: 16px;
				line-height: 20px;
			}
			@media (max-width: $laptop-sm) {
				--arrow-size: 24px;
				gap: 10px;
				font-size: 24px;
				line-height: 31px;
			}
			@media (max-width: $mobile-lg) {
				font-size: 22px;
				line-height: 29px;
			}
			svg {
				margin-top: 0;
				@media (max-width: $laptop-sm) {
					margin-top: -5px;
				}
				@media (max-width: $mobile-lg) {
					margin-top: -3px;
				}
			}
		}
		#{$this}__sections {
			background-color: var(--gray-light);
		}
		&._active {
			background-color: var(--gray-light);
		}
	}
}
