.menu {
	--col-width: #{rem(702)};
	$this: &;
	position: relative;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: var(--col-width) 1fr;
	grid-template-rows: min-content 1fr;
	height: var(--100vh);
	padding-top: var(--header-height);
	color: var(--white);
	background-color: var(--blue-dark);
	overflow: auto;
	overflow-x: hidden;
	@media (max-width: $laptop-lg) {
		--col-width: 583px;
	}
	@media (max-width: $laptop-md) {
		--col-width: 608px;
		grid-template-rows: repeat(3, min-content);
	}
	@media (max-width: $laptop-sm) {
		display: flex;
		flex-direction: column;
	}
	&__top {
		position: relative;
		grid-column: 1/2;
		grid-row: 1/2;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: rem(30);
		padding-bottom: rem(32);
		padding-left: var(--container-padding);
		border-bottom: 1px solid currentColor;
		box-shadow: 0 1px 0 1px currentColor;
		@media (max-width: $laptop-lg) {
			padding-top: 19px;
			padding-bottom: 16px;
		}
		@media (max-width: $laptop-md) {
			padding-top: 20px;
			padding-bottom: 15px;
			border-right: 1px solid currentColor;
			box-shadow: none;
		}
		@media (max-width: $laptop-sm) {
			padding-bottom: 22px;
			padding-right: var(--container-padding);
			border-right: 0;
		}
		@media (max-width: $mobile-lg) {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}
	&__nav {
		position: relative;
		z-index: 1;
		grid-column: 1/2;
		grid-row: 2/3;
		display: flex;
		flex-direction: column;
		box-shadow: 0 0 0 1px currentColor;
		@media (max-width: $laptop-md) {
			box-shadow: none;
			border-right: 1px solid currentColor;
		}
		@media (max-width: $laptop-sm) {
			border-right: 0;
			flex-grow: 1;
		}
	}
	&__nav-list {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		@media (max-width: $laptop-md) {
			flex-grow: 0;
		}
		@media (max-width: $laptop-sm) {
			flex-grow: 1;
		}
	}
	&__nav-item {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		border-bottom: 1px solid currentColor;
		&:hover {
			background-color: var(--white);
			#{$this}__nav-link {
				color: var(--blue-dark);
				background-color: var(--white);
			}
			& > * {
				background: var(--blue-dark);
			}
		}
		&._opened {
			#{$this}__dropdown {
				transform: translateX(calc(100% + 1px));
				&._catalog {
					transform: translateX(calc(100% + 1px));
					&._activities {
						transform: translateX(calc(200% + 1px));
					}
				}
			}
		}
		&:last-child {
			border-bottom: 1px solid transparent;
		}
		@media (max-width: $laptop-md) {
			position: relative;
			flex-grow: 0;
			height: var(--item-height);
			&:last-child {
				border-bottom: 1px solid currentColor;
			}
			&._opened {
				background-color: var(--white);
				& > * {
					background: var(--blue-dark);
				}
				#{$this}__dropdown {
					transform: none !important;
				}
			}
			&._dropdown {
				overflow: hidden;
			}
			&._opened {
				#{$this}__nav-link {
					color: var(--blue-dark);
					background-color: var(--white);
				}
				#{$this}__accordion-icon {
					transform: scaleY(-1);
				}
			}
		}
	}
	&__accordion-icon {
		--size: #{rem(32)};
		display: none;
		flex-shrink: 0;
		width: var(--size);
		height: var(--size);
		margin-top: -0.25em;
		transition: transform $default-transition-duration $default-transition-function;
		@media (max-width: $laptop-md) {
			display: block;
		}
		@media (max-width: $laptop-sm) {
			margin-top: -0.15em;
		}
	}
	&__nav-link {
		@extend .animated;
		position: relative;
		z-index: 2;
		flex-grow: 1;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
		padding-top: 0.2em;
		background-color: var(--blue-dark);
		font-family: var(--font-family-suisse);
		font-size: var(--font-size-h4);
		line-height: 1.3;
		font-weight: var(--default-font-weight);
		&:hover {
			color: var(--blue-dark);
			background-color: var(--white);
		}
		@media (max-width: $laptop-lg) {
			--font-size-h4: 44px;
			padding-top: 0.3em;
		}
		@media (max-width: $laptop-md) {
			--font-size-h4: 56px;
			min-height: 97px;
			flex-grow: 0;
			margin-bottom: 1px;
		}
		@media (max-width: $laptop-sm) {
			padding-top: 0.24em;
		}
		@media (max-width: $mobile-lg) {
			--font-size-h4: 38px;
			min-height: 64px;
		}
		@media (max-width: ($mobile - 1px)) {
			--font-size-h4: 30px;
		}
	}
	&__links {
		grid-column: 2/-1;
		grid-row: 1/2;
		display: flex;
		justify-content: flex-end;
		border-bottom: 1px solid currentColor;
		background-color: var(--blue-dark);
		@media (max-width: $laptop-md) {
			grid-column: 1/2;
			grid-row: 3/4;
		}
		@media (max-width: $laptop-sm) {
			border-bottom: 0;
			box-shadow: 0px 0px 0px 1px currentColor;
		}
	}
	&__links-item {
		display: flex;
		@media (max-width: $laptop-md) {
			flex-grow: 1;
			width: 100%;
		}
		@media (max-width: $laptop-sm) {
			&:last-child {
				#{$this}__link {
					border-right: 0;
				}
			}
		}
	}
	&__link {
		@extend .animated;
		box-sizing: border-box;
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		min-width: rem(257);
		padding: rem(15);
		border-left: 1px solid currentColor;
		text-align: center;
		&:hover {
			color: var(--blue-dark);
			background-color: var(--white);
		}
		@media (max-width: $laptop-lg) {
			min-width: 214px;
			font-size: 18px;
		}
		@media (max-width: $laptop-md) {
			min-height: 136px;
			border: 0;
			border-right: 1px solid currentColor;
			font-size: 16px;
		}
		@media (max-width: $laptop-sm) {
			min-width: auto;
		}
		@media (max-width: $mobile-lg) {
			min-height: 96px;
			font-size: 14px;
		}
		@media (max-width: ($mobile - 1px)) {
			padding: 5px;
		}
	}
	&__info {
		margin-bottom: rem(16);
		@media (max-width: $laptop-lg) {
			margin-bottom: 9px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 12px;
			font-size: 12px;
		}
	}
	&__info-links {
		display: flex;
		column-gap: rem(16);
		font-family: var(--default-font-family);
		@media (max-width: $laptop-lg) {
			column-gap: 24px;
			font-size: 16px;
		}
		@media (max-width: $laptop) {
			font-size: 16px;
		}
		@media (max-width: $laptop-sm) {
			font-size: 14px;
		}
		@media (max-width: $mobile-lg) {
			flex-direction: column;
			row-gap: 11px;
			font-size: 16px;
		}
	}
	&__tel,
	&__mail {
		@extend .animated;
		&:hover {
			opacity: 0.8;
		}
	}
	&__dropdown {
		--dropdown-width: #{rem(321)};
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		row-gap: rem(24);
		background-color: var(--blue-dark);
		width: var(--dropdown-width);
		height: 100%;
		padding: rem(48);
		border-right: 1px solid currentColor;
		transition: transform $default-transition-duration $default-transition-function;
		will-change: transform;
		&._catalog {
			--dropdown-width: calc(var(--img-width) / 2 - 1px);
			overflow: auto;
			&::before {
				content: attr(aria-label);
				@extend .h6;
				margin-bottom: rem(8);
				text-transform: uppercase;
			}
		}
		@media (max-width: $laptop-lg) {
			--dropdown-width: 272px;
			padding: 32px;
			row-gap: 25px;
		}
		@media (max-width: $laptop-md) {
			--dropdown-width: 100%;
			z-index: 1;
			position: static;
			height: fit-content;
			padding-bottom: 64px;
			border: 0;
			&._catalog {
				--dropdown-width: 100%;
				overflow: visible;
				padding-top: 68px;
				&::before {
					display: none;
				}
			}
		}
		@media (max-width: $mobile-lg) {
			padding: 24px 16px;
			row-gap: 22px;
			&._catalog {
				padding-top: 56px;
			}
		}
	}
	&__dropdown-link {
		@extend .animated;
		display: flex;
		&:hover {
			opacity: 0.8;
		}
		@media (max-width: $laptop-sm) {
			font-size: 18px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 14px;
		}
	}
	&__bg-wrapper {
		position: relative;
		grid-column: 2/3;
		grid-row: 2/3;
		overflow: hidden;
		@media (max-width: $laptop-md) {
			grid-row: 1/-1;
		}
		@media (max-width: $laptop-sm) {
			display: none;
		}
	}
	&__bg-img {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0;
		transition: opacity $fast-transition-duration $default-transition-function;
		&._opened {
			opacity: 1;
		}
		@media (max-width: $laptop-md) {
			height: 577px;
		}
	}
	&__location,
	&__user-link {
		@include reset-btn();
		display: flex;
		align-items: baseline;
		column-gap: rem(8);
		margin-bottom: rem(16);
		font-family: var(--font-family-suisse);
		font-size: rem(18);
		line-height: 1.33;
		@media (max-width: $laptop-sm) {
			font-size: 16px;
		}
		@media (max-width: $mobile-lg) {
			font-size: 18px;
			align-items: center;
			line-height: 1;
		}
	}
	&__user-link {
		display: none;
		@media (max-width: $mobile-lg) {
			display: flex;
			margin-bottom: 25px;
		}
	}
	&__location-icon {
		--size: #{rem(16)};
		width: var(--size);
		height: var(--size);
		@media (max-width: $laptop-lg) {
			position: relative;
			top: 2px;
		}
		@media (max-width: $mobile-lg) {
			--size: 23px;
			top: 0;
		}
		&._arrow {
			align-self: center;
			@media (max-width: $laptop-lg) {
				top: -2px;
				left: 1px;
			}
			@media (max-width: $mobile-lg) {
				--size: 16px;
				top: -1px;
				left: 2px;
			}
		}
	}
	&__catalog-accordion {
		height: 0;
		margin-bottom: -1px;
		button {
			@include reset-btn;
			@extend .h6;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 32px;
			display: none;
			column-gap: 16px;
			width: fit-content;
			height: fit-content;
			font-weight: 400;
			text-transform: uppercase;
			text-align-last: left;
		}
		svg {
			transition: transform 0.3s ease-out;
		}
		&._opened {
			svg {
				transform: scaleY(-1);
			}
		}
		@media (max-width: $laptop-md) {
			--item-height: 36px;
			position: relative;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			flex-grow: 0;
			height: var(--item-height);
			margin-top: 24px;
			margin-bottom: 0;
			transition: height 0.3s ease-out;
			overflow: hidden;
			&:last-child {
				margin-bottom: 24px;
			}
			button {
				display: flex;
			}
		}
		@media (max-width: $mobile-lg) {
			--item-height: 24px;
			button {
				left: 16px;
			}
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
}
