.hero-discount {
	--padding-x: var(--container-padding);
	--padding-y: #{rem(96)};
	--img-width: #{vw(704, 1728)};
	position: relative;
	display: grid;
	grid-template-columns: 1fr var(--img-width);
	grid-template-rows: repeat(2, min-content);
	gap: rem(48);
	border-bottom: 1px solid var(--blue-dark);
	color: var(--white);
	background-color: var(--blue-light);
	padding-left: var(--padding-x);
	@media (max-width: $laptop-lg) {
		--padding-y: 72px;
		--img-width: 584px;
	}
	@media (max-width: $laptop-md) {
		--padding-y: 56px;
		--img-width: 416px;
	}
	@media (max-width: $laptop-sm) {
		display: flex;
		flex-direction: column;
		padding-right: var(--padding-x);
		gap: 20px;
	}
	@media (max-width: $mobile-lg) {
		--padding-y: 40px;
		gap: 38px;
	}
	&__title {
		margin-top: var(--padding-y);
		padding-top: 0.07em;
		max-width: rem(860);
		@media (max-width: $desktop-2) {
			font-size: 92px;
		}
		@media (max-width: $laptop-lg-3) {
			font-size: 64px;
		}
		@media (max-width: $tablet) {
			margin-bottom: 130px;
		}
		@media (max-width: $mobile-lg) {
			padding-top: 0;
			margin-bottom: 152px;
			font-size: 38px;
			line-height: 1.15;
		}
	}
	&__text {
		align-self: end;
		max-width: rem(650);
		margin-bottom: var(--padding-y);
		br {
			display: none;
		}
		@media (max-width: $laptop-md) {
			max-width: 480px;
			font-size: 18px;
		}
		@media (max-width: $laptop-sm) {
			max-width: 590px;
			margin-bottom: 35px;
			margin-right: auto;
			br {
				display: block;
			}
		}
		@media (max-width: $tablet) {
			max-width: 510px;
		}
		@media (max-width: $mobile-lg) {
			margin-bottom: 0;
			font-size: 16px;
			br {
				display: none;
			}
		}
	}
	&__img-wrapper {
		position: relative;
		grid-column: 2/3;
		grid-row: 1/-1;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		svg {
			position: absolute;
			top: -26%;
			left: -23.5%;
			width: 152% !important;
			height: 152% !important;
		}
		@media (max-width: $laptop-lg) {
			svg {
				top: -32.5%;
				left: -23.9%;
				width: 149% !important;
				height: 165% !important;
			}
		}
		@media (max-width: $laptop) {
			svg {
				top: -22%;
				left: -24.9%;
				width: 149% !important;
				height: 144% !important;
			}
		}
		@media (max-width: $laptop-sm) {
			grid-column: 1/-1;
			grid-row: -2/-1;
			margin-inline: calc(0px - var(--padding-x));
			img {
				margin-inline: 0;
				height: 480px;
				object-fit: cover;
				object-position: bottom;
			}
		}
		@media (max-width: $tablet) {
			img {
				height: auto;
				object-fit: contain;
				object-position: initial;
			}
			svg {
				top: -35.2%;
				left: -24.6%;
				width: 149% !important;
				height: 169% !important;
			}
		}
	}
}
